# Statistics Explained  articles: noun phrases and matching with Eurostat's Concepts and Definitions Database

### Installation instructions
*    Download the notebook as "raw" file and save it with extension .ipynb (cut the .txt extension which is added)
*    Install the necessary libraries from your jupyter command prompt. These, together with the versions used, are: 
    *    pyodbc==4.0.32
    *    pandas==1.3.5
    *    nltk==3.6.5
*   Launch the notebook and put your own credentials for access to the Virtuoso database in the call to pyodbc.connect() in the chunk with title "Connect to the database"

In [1]:
import re
import pandas as pd
import sys

In [2]:
from datetime import datetime

def file_name(pre,ext):
    current_time = datetime.now() 
    return pre + '_'+ str(current_time.month)+ '_' + str(current_time.day) + \
                 '_' + str(current_time.hour)+ '_' + str(current_time.minute)  +'.'+ext

### Connect to the database

In [3]:
import pyodbc
c = pyodbc.connect('DSN=Virtuoso All;DBA=ESTAT;UID=xxxxx;PWD=xxxxx')
cursor = c.cursor()

In [4]:
#import unicodedata as ud

def clean(x, quotes=True):
    if pd.isnull(x): return x  
    x = x.strip()
    
    ## make letter-question mark-letter -> letter-quote-space-letter !!! but NOT in the lists of URLs!!!
    if quotes:
        x = re.sub(r'([A-Za-z])\?([A-Za-z])','\\1\' \\2',x) 
    
    ## make letter-question mark-space lower case letter letter-quote-space letter
    x = re.sub(r'([A-Za-z])\? ([a-z])','\\1\' \\2',x) 

    ## delete ,000 commas in numbers    
    x = re.sub(r'\b(\d+),(\d+)\b','\\1\\2',x) ## CORRECTED
    
    ## delete  000 spaces in numbers
    x = re.sub(r'\b(\d+) (\d+)\b','\\1\\2',x) ## CORRECTED
    
    ## remove more than one spaces
    x = re.sub(r' +', ' ',x)
    
    ## remove start and end spaces
    x = re.sub(r'^ +| +$', '',x,flags=re.MULTILINE) 
    
    ## space-comma -> comma
    x = re.sub(r' \,',',',x)
    
    ## space-dot -> dot
    x = re.sub(r' \.','.',x)
    
    x = re.sub(r'â.{2}',"'",x) ### !!! NEW: single quotes are read as: âXX
    
    #x = x.encode('latin1').decode('utf-8') ## â\x80\x99
    #x = ud.normalize('NFKD',x).encode('ascii', 'ignore').decode()
    
    return x

### Statistics explained articles

* IDs and titles from dat_link_info, with resource_information_id=1, i.e. Eurostat (see ESTAT.V1.mod_resource_information) and matching IDs from dat_article.
* Carry out data cleansing on titles and URLs.

In [5]:
SQLCommand = """SELECT id, title 
                FROM ESTAT.V1.dat_link_info 
                WHERE resource_information_id=1 AND id IN (SELECT id FROM ESTAT.V1.dat_article) """

SE_df = pd.read_sql(SQLCommand,c)

SE_df['title'] = SE_df['title'].apply(clean)
SE_df.head(5)

   id                                              title
0   7                       Accidents at work statistics
1  13                          National accounts and GDP
2  16                Railway safety statistics in the EU
3  17               Railway freight transport statistics
4  18  Railway passenger transport statistics - quart...

### Add paragraphs titles and contents

* From dat_article_paragraph with abstract=0 (i.e. "no").
* Match article_id from dat_article_paragraph with id from dat_article.
* Carry out data cleansing on titles and paragraph contents.

In [6]:
SQLCommand = """SELECT article_id, title, content 
                FROM ESTAT.V1.dat_article_paragraph
                WHERE abstract=0 AND article_id IN (SELECT id FROM ESTAT.V1.dat_article) """

add_content = pd.read_sql(SQLCommand,c)
add_content['title'] = add_content['title'].apply(clean)
add_content['content'] = add_content['content'].apply(clean)
add_content

,article_id,title,content
0,2905,Absences from work sharply increase in first h...,Absences from work recorded unprecedented high...
1,2905,Absences: 9.5 % of employment in Q4 2019 and 1...,The article's next figure (Figure 4) compares ...
2,2905,Higher share of absences from work among women...,"Considering all four quarters of 2020, the sha..."
3,2905,Absences from work due to own illness or disab...,"From Q4 2019 to Q4 2020, the number of people ..."
4,2905,Absences from work due to holidays,"Expressed as a share of employed people, absen..."
...,...,...,...
3854,10539,General presentation and definition,Scope of asylum statistics and Dublin statisti...
3855,10539,Methodological aspects in asylum statistics,Annual aggregate of the number of asylum appli...
3856,10539,Methodological aspects in Dublin statistics,Asymmetries For most of the collected Dublin s...
3857,10539,What questions can or cannot be answered with ...,How many asylum seekers are entering EU Member...
3858,10539,Policy context,The collected asylum statistics and Dublin sta...

### Aggregate above paragraph titles and contents  from SE articles paragraphs by article id

* Create a column _raw content_ which gathers all paragraph titles and contents in one text per article.

In [7]:
add_content_grouped = add_content.groupby(['article_id'])[['title','content']].aggregate(lambda x: list(x))
add_content_grouped.reset_index(drop=False, inplace=True)
for i in range(len(add_content_grouped)):
    add_content_grouped.loc[i,'raw content'] = ''
    for (a,b) in zip(add_content_grouped.loc[i,'title'],add_content_grouped.loc[i,'content']):
        add_content_grouped.loc[i,'raw content'] += ' '+a + ' ' + b
add_content_grouped = add_content_grouped[['article_id','raw content']]    

add_content_grouped

     article_id                                        raw content
0             7   Number of accidents In 2018, there were 3.1 m...
1            13   Developments for GDP in the EU-27: growth sin...
2            16   Fall in the number of railway accidents 9 % f...
3            17   Downturn for EU transport performance in 2019...
4            18   Rail passenger transport performance continue...
..          ...                                                ...
860       10456   Problem After successfully identifying and jo...
861       10470   Problem In France, there was significant room...
862       10506   General overview Nine PEEIs concern short-ter...
863       10531   What are administrative sources? The term 'ad...
864       10539   Main points Asylum statistics and 'Dublin' st...

[865 rows x 2 columns]

### Merge raw content of SE articles with main file

* Also, add title to raw content.

In [8]:
SE_df = pd.merge(SE_df,add_content_grouped,left_on='id',right_on='article_id',how='inner')
SE_df.drop(['article_id'],axis=1,inplace=True)

SE_df['raw content'] = SE_df['title'] +'. '+SE_df['raw content']

SE_df.head(5)

,id,title,raw content
0,7,Accidents at work statistics,Accidents at work statistics. Number of accid...
1,13,National accounts and GDP,National accounts and GDP. Developments for G...
2,16,Railway safety statistics in the EU,Railway safety statistics in the EU. Fall in ...
3,17,Railway freight transport statistics,Railway freight transport statistics. Downtur...
4,18,Railway passenger transport statistics - quart...,Railway passenger transport statistics - quart...

### Check for missing information

In [9]:
import numpy as np

SE_df = SE_df.replace('', np.nan) 
print(SE_df.isnull().sum())

id             0
title          0
raw content    0
dtype: int64

### Collecting information on noun phrases

In [10]:
import nltk
import re
import pprint
from nltk import Tree

new_patterns = """
    NP:    {<DT><WP><VBP>*<RB>*<VBN><IN><NN>}
           {<NN|NNS|NNP|NNPS><IN>*<NN|NNS|NNP|NNPS>+}
           {<JJ>*<NN|NNS|NNP|NNPS><CC>*<NN|NNS|NNP|NNPS>+}
           {<JJ>*<NN|NNS|NNP|NNPS>+}
           
    """

new_NPChunker = nltk.RegexpParser(new_patterns)

def prepare_text(input):
    tokenized_sentence = nltk.sent_tokenize(input)  # Tokenize the text into sentences.
    tokenized_words = [nltk.word_tokenize(sentence) for sentence in tokenized_sentence]  # Tokenize words in sentences.
    tagged_words = [nltk.pos_tag(word) for word in tokenized_words]  # Tag words for POS in each sentence.
    word_tree = [new_NPChunker.parse(word) for word in tagged_words]  # Identify NP chunks
    return word_tree  # Return the tagged & chunked sentences.


def return_a_list_of_NPs(sentences):
    nps = []  # an empty list in which to NPs will be stored.
    for sent in sentences:
        tree = new_NPChunker.parse(sent)
        for subtree in tree.subtrees():
            if subtree.label() == 'NP':
                t = subtree
                t = ' '.join(word for word, tag in t.leaves())
                nps.append(t)
    return nps

In [11]:
d=[]

for i in range(len(SE_df)):
    sentences = prepare_text(SE_df.loc[i,'raw content'])
    res = return_a_list_of_NPs(sentences)
    res = [(SE_df.loc[i,'id'],l) for l in res]
    d.extend(res)

In [12]:
nphrases_df = pd.DataFrame(d,columns=["doc_id", "noun_phrase"])    
nphrases_df

        doc_id                     noun_phrase
0            7    Accidents at work statistics
1            7             Number of accidents
2            7             non-fatal accidents
3            7                   calendar days
4            7               absence from work
...        ...                             ...
418461   10539                stateless person
418462   10539              EURODAC Regulation
418463   10539                          access
418464   10539  EU fingerprint database record
418465   10539                   asylum seeker

[418466 rows x 2 columns]

### Merge with the file with the SE titles.

In [13]:
nphrases_df2=pd.merge(SE_df[['id','title']],nphrases_df,left_on='id',right_on='doc_id')
nphrases_df2.drop(columns=['id'],inplace=True)
nphrases_df2

                               title  doc_id                     noun_phrase
0       Accidents at work statistics       7    Accidents at work statistics
1       Accidents at work statistics       7             Number of accidents
2       Accidents at work statistics       7             non-fatal accidents
3       Accidents at work statistics       7                   calendar days
4       Accidents at work statistics       7               absence from work
...                              ...     ...                             ...
418461  Asylum statistics introduced   10539                stateless person
418462  Asylum statistics introduced   10539              EURODAC Regulation
418463  Asylum statistics introduced   10539                          access
418464  Asylum statistics introduced   10539  EU fingerprint database record
418465  Asylum statistics introduced   10539                   asylum seeker

[418466 rows x 3 columns]

### Lemmatize noun phrases
* NLTK seems to be better than Spacy in lemmatization. Convert to lower-case first. 
* Keep only words with alphanumeric characters and drop stop-words.

In [14]:
import nltk

from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer

w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

stop = stopwords.words('english')

In [15]:
def lemmatize_text(text): ## only alphanumeric characters and drop stop-words
    return [lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text) if w.isalnum() and not w in stop]

nphrases_df2['normalized_noun_phrase'] = nphrases_df2.noun_phrase.apply(lambda x: x.lower())
nphrases_df2['normalized_noun_phrase'] = nphrases_df2.normalized_noun_phrase.apply(lemmatize_text)
nphrases_df2['normalized_noun_phrase'] = [' '.join(map(str, l)) for l in nphrases_df2['normalized_noun_phrase'] ]
nphrases_df2['normalized_noun_phrase'] = nphrases_df2.normalized_noun_phrase.apply(lambda x: x.upper())
nphrases_df2

,title,doc_id,noun_phrase,normalized_noun_phrase
0,Accidents at work statistics,7,Accidents at work statistics,ACCIDENT WORK STATISTIC
1,Accidents at work statistics,7,Number of accidents,NUMBER ACCIDENT
2,Accidents at work statistics,7,non-fatal accidents,ACCIDENT
3,Accidents at work statistics,7,calendar days,CALENDAR DAY
4,Accidents at work statistics,7,absence from work,ABSENCE WORK
...,...,...,...,...
418461,Asylum statistics introduced,10539,stateless person,STATELESS PERSON
418462,Asylum statistics introduced,10539,EURODAC Regulation,EURODAC REGULATION
418463,Asylum statistics introduced,10539,access,ACCESS
418464,Asylum statistics introduced,10539,EU fingerprint database record,EU FINGERPRINT DATABASE RECORD
418465,Asylum statistics introduced,10539,asylum seeker,ASYLUM SEEKER

In [16]:
nphrases_df2.replace('', np.nan, inplace=True)
nphrases_df2.dropna(subset=['normalized_noun_phrase'],inplace=True)
nphrases_df2

,title,doc_id,noun_phrase,normalized_noun_phrase
0,Accidents at work statistics,7,Accidents at work statistics,ACCIDENT WORK STATISTIC
1,Accidents at work statistics,7,Number of accidents,NUMBER ACCIDENT
2,Accidents at work statistics,7,non-fatal accidents,ACCIDENT
3,Accidents at work statistics,7,calendar days,CALENDAR DAY
4,Accidents at work statistics,7,absence from work,ABSENCE WORK
...,...,...,...,...
418461,Asylum statistics introduced,10539,stateless person,STATELESS PERSON
418462,Asylum statistics introduced,10539,EURODAC Regulation,EURODAC REGULATION
418463,Asylum statistics introduced,10539,access,ACCESS
418464,Asylum statistics introduced,10539,EU fingerprint database record,EU FINGERPRINT DATABASE RECORD
418465,Asylum statistics introduced,10539,asylum seeker,ASYLUM SEEKER

* Some further processing.
* Cut noun-phrases with only one word.

In [17]:
nphrases_df2['normalized_noun_phrase'] = nphrases_df2['normalized_noun_phrase'].apply(lambda x: re.sub(r'[()]','',x))
nphrases_df2['normalized_noun_phrase'] = nphrases_df2['normalized_noun_phrase'].apply(lambda x: re.sub(r'Â','A',x))
nphrases_df2['normalized_noun_phrase'] = nphrases_df2['normalized_noun_phrase'].apply(lambda x: re.sub(r'%','',x))
nphrases_df2['normalized_noun_phrase'] = nphrases_df2['normalized_noun_phrase'].apply(lambda x: re.sub(r'\]','',x))
nphrases_df2['normalized_noun_phrase'] = nphrases_df2['normalized_noun_phrase'].apply(lambda x: re.sub(r'/]','',x))
nphrases_df2['normalized_noun_phrase'] = nphrases_df2['normalized_noun_phrase'].apply(lambda x: re.sub(r'\+]','',x))
nphrases_df2['normalized_noun_phrase'] = nphrases_df2['normalized_noun_phrase'].apply(lambda x: re.sub(r'\-]','',x))
nphrases_df2['normalized_noun_phrase'] = nphrases_df2['normalized_noun_phrase'].apply(lambda x: re.sub(r'\d+','',x))

nphrases_df2['normalized_noun_phrase_count'] = nphrases_df2['normalized_noun_phrase'].apply(lambda x: len(x.replace(',',' ').split()))
idx = nphrases_df2[nphrases_df2['normalized_noun_phrase_count'] <=1].index
print(idx)

nphrases_df2.drop(nphrases_df2[nphrases_df2['normalized_noun_phrase_count'] <=1].index, inplace = True)
idx = nphrases_df2[nphrases_df2['normalized_noun_phrase_count'] <=1].index
print(idx)

nphrases_df2.drop(columns=['normalized_noun_phrase_count'],inplace=True)

Int64Index([     2,      7,      8,      9,     11,     15,     19,     20,
                22,     23,
            ...
            418434, 418437, 418439, 418440, 418443, 418445, 418446, 418452,
            418458, 418463],
           dtype='int64', length=200908)
Int64Index([], dtype='int64')

* Collect overall frequencies.

In [18]:
tmp=nphrases_df2.groupby(by='normalized_noun_phrase').size().to_frame('Overall_Frequencies')
tmp
nphrases_df2 = pd.merge(nphrases_df2,tmp,on='normalized_noun_phrase')
nphrases_df2

,title,doc_id,noun_phrase,normalized_noun_phrase,Overall_Frequencies
0,Accidents at work statistics,7,Accidents at work statistics,ACCIDENT WORK STATISTIC,1
1,Accidents at work statistics,7,Number of accidents,NUMBER ACCIDENT,14
2,Accidents at work statistics,7,number of accidents,NUMBER ACCIDENT,14
3,Accidents at work statistics,7,number of accidents,NUMBER ACCIDENT,14
4,Accidents at work statistics,7,number of accidents,NUMBER ACCIDENT,14
...,...,...,...,...,...
182535,Asylum statistics introduced,10539,references Regulation,REFERENCE REGULATION,1
182536,Asylum statistics introduced,10539,Asylum Procedures Directive,ASYLUM PROCEDURE DIRECTIVE,1
182537,Asylum statistics introduced,10539,Reception Conditions Directive,RECEPTION CONDITION DIRECTIVE,1
182538,Asylum statistics introduced,10539,EURODAC Regulation,EURODAC REGULATION,1
182539,Asylum statistics introduced,10539,EU fingerprint database record,EU FINGERPRINT DATABASE RECORD,1

* Collect frequencies per document and drop duplicates.

In [19]:
nphrases_df2['Frequencies_per_doc']=nphrases_df2.groupby(['doc_id','normalized_noun_phrase'])['normalized_noun_phrase'].transform('count')

nphrases_df2.drop(columns=['noun_phrase'],inplace=True)
nphrases_df2.drop_duplicates(subset=['title','normalized_noun_phrase'], inplace=True, ignore_index=False)

nphrases_df2

,title,doc_id,normalized_noun_phrase,Overall_Frequencies,Frequencies_per_doc
0,Accidents at work statistics,7,ACCIDENT WORK STATISTIC,1,1
1,Accidents at work statistics,7,NUMBER ACCIDENT,14,7
8,Railway safety statistics in the EU,16,NUMBER ACCIDENT,14,2
10,Accidents at work ? statistics on causes and c...,2947,NUMBER ACCIDENT,14,1
11,Road safety statistics ? characteristics at na...,7156,NUMBER ACCIDENT,14,2
...,...,...,...,...,...
182535,Asylum statistics introduced,10539,REFERENCE REGULATION,1,1
182536,Asylum statistics introduced,10539,ASYLUM PROCEDURE DIRECTIVE,1,1
182537,Asylum statistics introduced,10539,RECEPTION CONDITION DIRECTIVE,1,1
182538,Asylum statistics introduced,10539,EURODAC REGULATION,1,1
182539,Asylum statistics introduced,10539,EU FINGERPRINT DATABASE RECORD,1,1

### Unique noun phrases in SE articles

In [20]:
res = nphrases_df2.groupby(['normalized_noun_phrase']).size().to_frame('size').reset_index() ## unique noun phrases
res.drop(columns=['size'],inplace=True)
res

         normalized_noun_phrase
0                       A LEVEL
1               A SINGLE PERSON
2      AASTERN EUROPEAN COUNTRY
3              ABBREVIATED NEET
4              ABBREVIATION ESA
...                         ...
57053               ZOOM BUTTON
57054                    Ã LAND
57055             Ã LAND ISLAND
57056                    Ã RDAL
57057                      Î¼ J

[57058 rows x 1 columns]

### Eurostat's Concepts and Definitions Database

In [21]:
SQLCommand = """SELECT id, code_id, term
                FROM ESTAT.V1.dat_estat_glossary 
             """


concepts_df = pd.read_sql(SQLCommand,c)
concepts_df


concepts_df

          id  code_id                                               term
0          1    12789                                         (n,k) rule
1          2    12799                                         (p,q) rule
2          3    19247                                           Âµ-ARGUS
3          4     5545                        Abandoned wine-growing area
4          5    20003                      Abduction by a legal guardian
...      ...      ...                                                ...
11215  11216     4277                   Value adjustments on investments
11216  11217     4284  Value of transactions between affiliated enter...
11217  11218     4285                Value re-adjustments on investments
11218  11219    19099                        Widened agricultural census
11219  11220     4344                                  Wind (code RA300)

[11220 rows x 3 columns]

### Lemmatize terms

* Convert to lower-case first.

In [22]:
concepts_df['lemmatized_term'] = concepts_df['term'].apply(lambda x: x.lower())
concepts_df['lemmatized_term']= concepts_df['lemmatized_term'].apply(lemmatize_text)
concepts_df['lemmatized_term']= [' '.join(map(str, l)) for l in concepts_df['lemmatized_term']]
concepts_df['lemmatized_term'] = concepts_df['lemmatized_term'].apply(lambda x: x.upper())
concepts_df

,id,code_id,term,lemmatized_term
0,1,12789,"(n,k) rule",RULE
1,2,12799,"(p,q) rule",RULE
2,3,19247,Âµ-ARGUS,
3,4,5545,Abandoned wine-growing area,ABANDONED AREA
4,5,20003,Abduction by a legal guardian,ABDUCTION LEGAL GUARDIAN
...,...,...,...,...
11215,11216,4277,Value adjustments on investments,VALUE ADJUSTMENT INVESTMENT
11216,11217,4284,Value of transactions between affiliated enter...,VALUE TRANSACTION AFFILIATED ENTERPRISE
11217,11218,4285,Value re-adjustments on investments,VALUE INVESTMENT
11218,11219,19099,Widened agricultural census,WIDENED AGRICULTURAL CENSUS
11219,11220,4344,Wind (code RA300),WIND

### Unique noun phrases in SE articles

In [23]:
res = nphrases_df2.groupby(['normalized_noun_phrase']).size().to_frame('size').reset_index() ## unique noun phrases
res.drop(columns=['size'],inplace=True)
res

         normalized_noun_phrase
0                       A LEVEL
1               A SINGLE PERSON
2      AASTERN EUROPEAN COUNTRY
3              ABBREVIATED NEET
4              ABBREVIATION ESA
...                         ...
57053               ZOOM BUTTON
57054                    Ã LAND
57055             Ã LAND ISLAND
57056                    Ã RDAL
57057                      Î¼ J

[57058 rows x 1 columns]

###  Find matches per unique noun phrase

* Column 'Common' has a list with tuples per record/unique noun phrase from the SE articles: (id of the term in Concepts & Definitions with the match, entire Concepts & Definitions normalized term, the part that matches).
* Columns 'len_intersect' and 'len_union' contain the corresponding lengths of the intersection and the union of terms for the calculation of Jaccard similarities.
* Column Jaccard has lists with the corresponding Jaccard similarities.

In [24]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

res['Common']=[[] for i in range(len(res))]
res['len_intersect']=[[] for i in range(len(res))]
res['len_union']=[[] for i in range(len(res))]
res['Jaccard']=[[] for i in range(len(res))]

search_in = concepts_df['lemmatized_term'].apply(lambda x: x.split(' '))
search_in
for i in range(len(res)):
    np = res.loc[i,'normalized_noun_phrase'].strip().split(' ')
    np = [el for el in np if not el.lower() in stop] ## excluding individual words which are stop-words
    np = set(np)
    if (i+1) % 100==0:
        print(i+1,' of ',len(res),' unique noun phrases: set of terms: ',np)
    for (j,x) in enumerate(search_in):
        set_2 = set(x)
        common = np.intersection(set_2)
        uni = np.union(set_2)
        if len(common) > 0:
            #print(i,np, ' with ',concepts_df.loc[j,'normalized_noun_phrase'],' : ',common)
            res.loc[i,'Common'].append(list((concepts_df.loc[j,'code_id'],concepts_df.loc[j,'lemmatized_term'],common)))
            res.loc[i,'len_intersect'].append(len(common))
            res.loc[i,'len_union'].append(len(uni))
            res.loc[i,'Jaccard'].append(len(common)/len(uni))
            
res

100  of  57058  unique noun phrases: set of terms:  {'ACADEMIC', 'YEAR'}
200  of  57058  unique noun phrases: set of terms:  {'ACCOMMODATION', 'ASSISTANCE'}
300  of  57058  unique noun phrases: set of terms:  {'INDUSTRY', 'ACCOUNT'}
400  of  57058  unique noun phrases: set of terms:  {'ACCOUNTING', 'PRINCIPLE'}
500  of  57058  unique noun phrases: set of terms:  {'PLANNING', 'HEALTH', 'WORKFORCE', 'ACTION'}
600  of  57058  unique noun phrases: set of terms:  {'HEALTH', 'ACTIVITY', 'ACCOUNT', 'EXPERT'}
700  of  57058  unique noun phrases: set of terms:  {'ACTIVITY', 'ACTUAL'}
800  of  57058  unique noun phrases: set of terms:  {'ADMINISTRATIVE', 'DATA', 'ADDITIONAL'}
900  of  57058  unique noun phrases: set of terms:  {'CHANGE', 'ADDRESS'}
1000  of  57058  unique noun phrases: set of terms:  {'LAND', 'MUNICIPALITY', 'ADMINISTRATION', 'FUND'}
1100  of  57058  unique noun phrases: set of terms:  {'INSTRUCTION', 'ADULT'}
1200  of  57058  unique noun phrases: set of terms:  {'PHYSICAL', 'ACTIVITY', 'AEROBIC'}
1300  of  57058  unique noun phrases: set of terms:  {'AGE', 'CRITERION'}
1400  of  57058  unique noun phrases: set of terms:  {'ENERGY', 'AGGREGATE', 'BALANCE'}
1500  of  57058  unique noun phrases: set of terms:  {'AGRICULTURAL', 'GOOD'}
1600  of  57058  unique noun phrases: set of terms:  {'POLICY', 'DEVELOPMENT', 'AIM'}
1700  of  57058  unique noun phrases: set of terms:  {'ALGARVE', 'PORTUGAL'}
1800  of  57058  unique noun phrases: set of terms:  {'IMPLEMENTATION', 'AMBITION'}
1900  of  57058  unique noun phrases: set of terms:  {'PEOPLE', 'AMOUNT'}
2000  of  57058  unique noun phrases: set of terms:  {'MEMBER', 'EU', 'REVEALS', 'STATE', 'ANALYSIS'}
2100  of  57058  unique noun phrases: set of terms:  {'SOURCE', 'ANALYSIS'}
2200  of  57058  unique noun phrases: set of terms:  {'ANNEX', 'VII'}
2300  of  57058  unique noun phrases: set of terms:  {'METHOD', 'SOURCE', 'ANNUAL'}
2400  of  57058  unique noun phrases: set of terms:  {'EXAMINATION', 'APPLICATION'}
2500  of  57058  unique noun phrases: set of terms:  {'INDUSTRY', 'AQUACULTURE'}
2600  of  57058  unique noun phrases: set of terms:  {'AREA', 'EUROSTAT'}
2700  of  57058  unique noun phrases: set of terms:  {'STATISTIC', 'AREA'}
2800  of  57058  unique noun phrases: set of terms:  {'DOCUMENTATION', 'ARTICLE'}
2900  of  57058  unique noun phrases: set of terms:  {'ASIAN', 'ASEM', 'PARTNER'}
3000  of  57058  unique noun phrases: set of terms:  {'ASSET', 'RESEARCH', 'LIKE'}
3100  of  57058  unique noun phrases: set of terms:  {'ATLANTIC', 'REGION'}
3200  of  57058  unique noun phrases: set of terms:  {'AUSTRALIA', 'CHINA'}
3300  of  57058  unique noun phrases: set of terms:  {'AVAILABILITY', 'DATA', 'COUNTRY'}
3400  of  57058  unique noun phrases: set of terms:  {'AGE', 'AVERAGE'}
3500  of  57058  unique noun phrases: set of terms:  {'AVERAGE', 'ACIDITY', 'OCEAN'}
3600  of  57058  unique noun phrases: set of terms:  {'CONFIGURATION', 'AXLE'}
3700  of  57058  unique noun phrases: set of terms:  {'SET', 'BALANCED'}
3800  of  57058  unique noun phrases: set of terms:  {'LAYER', 'BASE', 'MAPPING'}
3900  of  57058  unique noun phrases: set of terms:  {'DATA', 'STATISTICAL', 'BASIC'}
4000  of  57058  unique noun phrases: set of terms:  {'RENEWAL', 'BC'}
4100  of  57058  unique noun phrases: set of terms:  {'BENALMADENA', 'SPAIN'}
4200  of  57058  unique noun phrases: set of terms:  {'TOBACCO', 'BEVERAGE'}
4300  of  57058  unique noun phrases: set of terms:  {'ESTIMATE', 'BIOMASS'}
4400  of  57058  unique noun phrases: set of terms:  {'POSITION', 'BOARD'}
4500  of  57058  unique noun phrases: set of terms:  {'FILM', 'BOUGHT'}
4600  of  57058  unique noun phrases: set of terms:  {'DEGREE', 'BREAKDOWN'}
4700  of  57058  unique noun phrases: set of terms:  {'BROADBAND', 'SUBSCRIPTION'}
4800  of  57058  unique noun phrases: set of terms:  {'BULGARIA', 'FINLAND'}
4900  of  57058  unique noun phrases: set of terms:  {'DATA', 'SYSTEM', 'BUSINESS'}
5000  of  57058  unique noun phrases: set of terms:  {'SCHEME', 'MONITORING', 'BUTTERFLY'}
5100  of  57058  unique noun phrases: set of terms:  {'EVOLUTION', 'CALENDAR', 'YEAR'}
5200  of  57058  unique noun phrases: set of terms:  {'DATA', 'CAPACITY'}
5300  of  57058  unique noun phrases: set of terms:  {'CAPUT', 'EXPENDITURE'}
5400  of  57058  unique noun phrases: set of terms:  {'ACTIVITY', 'INCLUDE', 'CARE'}
5500  of  57058  unique noun phrases: set of terms:  {'HEPATITIS', 'CASE'}
5600  of  57058  unique noun phrases: set of terms:  {'CASH', 'PAYMENT'}
5700  of  57058  unique noun phrases: set of terms:  {'CATEGORY', 'USE'}
5800  of  57058  unique noun phrases: set of terms:  {'CENSUS', 'SURVEY'}
5900  of  57058  unique noun phrases: set of terms:  {'CEREAL', 'CROP'}
6000  of  57058  unique noun phrases: set of terms:  {'CERTAIN', 'VARIABLE'}
6100  of  57058  unique noun phrases: set of terms:  {'CHANGE', 'HOUR'}
6200  of  57058  unique noun phrases: set of terms:  {'CHANGE', 'UNEMPLOYMENT'}
6300  of  57058  unique noun phrases: set of terms:  {'PLAUSIBILITY', 'CHECK'}
6400  of  57058  unique noun phrases: set of terms:  {'SPAIN', 'CHILDCARE'}
6500  of  57058  unique noun phrases: set of terms:  {'ATTENDANCE', 'CINEMA'}
6600  of  57058  unique noun phrases: set of terms:  {'CITIZENSHIP', 'GERMANY'}
6700  of  57058  unique noun phrases: set of terms:  {'AUTÃ³NOMA', 'CIUDAD'}
6800  of  57058  unique noun phrases: set of terms:  {'ISCED', 'CLASSIFICATION'}
6900  of  57058  unique noun phrases: set of terms:  {'CLEAR', 'PEAK'}
7000  of  57058  unique noun phrases: set of terms:  {'CLOSING', 'STOCK', 'VALUE'}
7100  of  57058  unique noun phrases: set of terms:  {'CODE', 'SOURCE', 'FILE'}
7200  of  57058  unique noun phrases: set of terms:  {'COST', 'COLLECTION'}
7300  of  57058  unique noun phrases: set of terms:  {'COMBINED', 'FACTOR'}
7400  of  57058  unique noun phrases: set of terms:  {'PROJECT', 'EUROSTAT', 'CYCLE', 'COMMISSION'}
7500  of  57058  unique noun phrases: set of terms:  {'INSTRUMENT', 'COMMON'}
7600  of  57058  unique noun phrases: set of terms:  {'JOIN', 'COMMUNICATION'}
7700  of  57058  unique noun phrases: set of terms:  {'REGULATION', 'COMPARABILITY'}
7800  of  57058  unique noun phrases: set of terms:  {'TRANSPORT', 'COMPARISON'}
7900  of  57058  unique noun phrases: set of terms:  {'COMPLEMENTARY', 'INFORMATION'}
8000  of  57058  unique noun phrases: set of terms:  {'GFCF', 'COMPONENT'}
8100  of  57058  unique noun phrases: set of terms:  {'COMPULSORY', 'MATERIAL'}
8200  of  57058  unique noun phrases: set of terms:  {'PERMIT', 'CONCEPT'}
8300  of  57058  unique noun phrases: set of terms:  {'CONCURRENT', 'INCREASE'}
8400  of  57058  unique noun phrases: set of terms:  {'CONSECUTIVE', 'ELECTION'}
8500  of  57058  unique noun phrases: set of terms:  {'CONSIDERABLE', 'QUANTITY'}
8600  of  57058  unique noun phrases: set of terms:  {'TAX', 'CONSTANT'}
8700  of  57058  unique noun phrases: set of terms:  {'CONSUMER', 'BEHAVIOUR'}
8800  of  57058  unique noun phrases: set of terms:  {'INDUSTRY', 'CONSUMPTION'}
8900  of  57058  unique noun phrases: set of terms:  {'BREXIT', 'CONTEXT'}
9000  of  57058  unique noun phrases: set of terms:  {'CONTRACTION', 'IRELAND'}
9100  of  57058  unique noun phrases: set of terms:  {'CONTROL', 'CRITERION'}
9200  of  57058  unique noun phrases: set of terms:  {'COORDINATE', 'REFERENCE'}
9300  of  57058  unique noun phrases: set of terms:  {'PROFIT', 'CORPORATE'}
9400  of  57058  unique noun phrases: set of terms:  {'NUMBER', 'CORRESPONDING'}
9500  of  57058  unique noun phrases: set of terms:  {'COST', 'WAGE'}
9600  of  57058  unique noun phrases: set of terms:  {'COUNTRY', 'ECONOMY'}
9700  of  57058  unique noun phrases: set of terms:  {'PEOPLE', 'COUNTRY'}
9800  of  57058  unique noun phrases: set of terms:  {'PROCESSING', 'DATA', 'COURSE'}
9900  of  57058  unique noun phrases: set of terms:  {'WORKER', 'CRAFT'}
10000  of  57058  unique noun phrases: set of terms:  {'CROATIA', 'LUXEMBOURG'}
10100  of  57058  unique noun phrases: set of terms:  {'PASSENGER', 'TRAFFIC', 'CRUISE'}
10200  of  57058  unique noun phrases: set of terms:  {'RISE', 'CUMULATIVE'}
10300  of  57058  unique noun phrases: set of terms:  {'RESIDENCE', 'CURRENT'}

10400  of  57058  unique noun phrases: set of terms:  {'CROATIA', 'CYPRUS'}
10500  of  57058  unique noun phrases: set of terms:  {'DAIRY', 'PROCESS'}
10600  of  57058  unique noun phrases: set of terms:  {'STATISTIC', 'DATA', 'PURPOSE', 'BUSINESS'}
10700  of  57058  unique noun phrases: set of terms:  {'DATA', 'DISSEMINATION', 'PRACTICE'}
10800  of  57058  unique noun phrases: set of terms:  {'SOLUTION', 'HUB', 'DATA'}
10900  of  57058  unique noun phrases: set of terms:  {'REGION', 'DATA', 'NUT'}
11000  of  57058  unique noun phrases: set of terms:  {'DATA', 'SECURITY'}
11100  of  57058  unique noun phrases: set of terms:  {'DATABASE', 'EUROSTAT'}
11200  of  57058  unique noun phrases: set of terms:  {'DAY', 'MALTA'}
11300  of  57058  unique noun phrases: set of terms:  {'INSTRUMENT', 'DEBT'}
11400  of  57058  unique noun phrases: set of terms:  {'DECLINE', 'GREECE'}
11500  of  57058  unique noun phrases: set of terms:  {'DECREASE', 'LSU'}
11600  of  57058  unique noun phrases: set of terms:  {'DEFICIT', 'EUR'}
11700  of  57058  unique noun phrases: set of terms:  {'DEFINITION', 'STATISTIC', 'PRIOR'}
11800  of  57058  unique noun phrases: set of terms:  {'DEGREE', 'UNIFORMITY'}
11900  of  57058  unique noun phrases: set of terms:  {'TASK', 'DEMANDING'}
12000  of  57058  unique noun phrases: set of terms:  {'QUALITY', 'DENSITY'}
12100  of  57058  unique noun phrases: set of terms:  {'THRESHOLD', 'DEPRIVATION'}
12200  of  57058  unique noun phrases: set of terms:  {'CHINA', 'DESTINATION', 'RESIDENT', 'EU'}
12300  of  57058  unique noun phrases: set of terms:  {'DETAILED', 'PORTRAIT'}
12400  of  57058  unique noun phrases: set of terms:  {'DIMENSION', 'DEVELOPMENT'}
12500  of  57058  unique noun phrases: set of terms:  {'DEVELOPMENT', 'PROGRAMME'}
12600  of  57058  unique noun phrases: set of terms:  {'HABIT', 'DIETARY', 'LIFESTYLE'}
12700  of  57058  unique noun phrases: set of terms:  {'METHOD', 'DIFFERENCE'}
12800  of  57058  unique noun phrases: set of terms:  {'CHANNEL', 'DIFFERENT'}
12900  of  57058  unique noun phrases: set of terms:  {'INSTITUTIONAL', 'SECTOR', 'DIFFERENT'}
13000  of  57058  unique noun phrases: set of terms:  {'PROFILE', 'SEASONAL', 'DIFFERENT'}
13100  of  57058  unique noun phrases: set of terms:  {'DIFFUSION', 'TECHNOLOGY'}
13200  of  57058  unique noun phrases: set of terms:  {'HEALTHCARE', 'DIRECT'}
13300  of  57058  unique noun phrases: set of terms:  {'DISBURSEMENT', 'AGRICULTURE'}
13400  of  57058  unique noun phrases: set of terms:  {'DISPERSION', 'TERM'}
13500  of  57058  unique noun phrases: set of terms:  {'DISTINCT', 'CITY'}
13600  of  57058  unique noun phrases: set of terms:  {'DISTRIBUTION', 'POPULATION', 'LIVING'}
13700  of  57058  unique noun phrases: set of terms:  {'SLOVENIA', 'DIVISION'}
13800  of  57058  unique noun phrases: set of terms:  {'DOMESTIC', 'SERVANT'}
13900  of  57058  unique noun phrases: set of terms:  {'DRAWING', 'POINT'}
14000  of  57058  unique noun phrases: set of terms:  {'GRAND', 'DU', 'PARIS'}
14100  of  57058  unique noun phrases: set of terms:  {'VISUALISATION', 'DYNAMIC'}
14200  of  57058  unique noun phrases: set of terms:  {'DIRECTION', 'EASTERLY'}
14300  of  57058  unique noun phrases: set of terms:  {'DEPENDENCE', 'ECONOMIC'}
14400  of  57058  unique noun phrases: set of terms:  {'RESOURCE', 'ECONOMIC'}
14500  of  57058  unique noun phrases: set of terms:  {'LEVEL', 'NUT', 'ECONOMY'}
14600  of  57058  unique noun phrases: set of terms:  {'GERMANY', 'EDUCATION'}
14700  of  57058  unique noun phrases: set of terms:  {'GOOD', 'EDUCATIONAL', 'SERVICE'}
14800  of  57058  unique noun phrases: set of terms:  {'TREATMENT', 'EFFECTIVE', 'MEDICAL'}
14900  of  57058  unique noun phrases: set of terms:  {'JORDAN', 'EGYPT'}
15000  of  57058  unique noun phrases: set of terms:  {'ELECTRICITY', 'SYSTEM'}
15100  of  57058  unique noun phrases: set of terms:  {'COMBUSTION', 'FUEL', 'EMISSION'}
15200  of  57058  unique noun phrases: set of terms:  {'EMPLOYEE', 'NORWAY'}
15300  of  57058  unique noun phrases: set of terms:  {'EMPLOYMENT', 'INCOME', 'DECREASE'}
15400  of  57058  unique noun phrases: set of terms:  {'USER', 'EMPOWER'}
15500  of  57058  unique noun phrases: set of terms:  {'ENERGY', 'DEMAND'}
15600  of  57058  unique noun phrases: set of terms:  {'ENERGY', 'STATISTIC', 'GROUP', 'MEETING', 'WORKING'}
15700  of  57058  unique noun phrases: set of terms:  {'RATIO', 'ENROLMENT'}
15800  of  57058  unique noun phrases: set of terms:  {'HOLDING', 'ENTIRE'}
15900  of  57058  unique noun phrases: set of terms:  {'GOAL', 'ENVIRONMENTAL'}
16000  of  57058  unique noun phrases: set of terms:  {'EQUIPMENT', 'SPORT'}
16100  of  57058  unique noun phrases: set of terms:  {'STANDARD', 'ES'}
16200  of  57058  unique noun phrases: set of terms:  {'ESTIMATE', 'BRINGS'}
16300  of  57058  unique noun phrases: set of terms:  {'ESTONIA', 'SPAIN'}
16400  of  57058  unique noun phrases: set of terms:  {'CONSUMPTION', 'EU'}
16500  of  57058  unique noun phrases: set of terms:  {'COUNCIL', 'FOREIGN', 'AFFAIR', 'EU'}
16600  of  57058  unique noun phrases: set of terms:  {'LOAN', 'EU'}
16700  of  57058  unique noun phrases: set of terms:  {'PORT', 'ACTIVITY', 'EU'}
16800  of  57058  unique noun phrases: set of terms:  {'TOTAL', 'EU'}
16900  of  57058  unique noun phrases: set of terms:  {'REGARDLESS', 'EUROPE'}
17000  of  57058  unique noun phrases: set of terms:  {'EUROPEAN', 'FUND'}
17100  of  57058  unique noun phrases: set of terms:  {'SOCIAL', 'EUROPEAN', 'STATISTIC'}
17200  of  57058  unique noun phrases: set of terms:  {'NOTIFICATION', 'EUROSTAT'}
17300  of  57058  unique noun phrases: set of terms:  {'SOURCE', 'EVOLUTION', 'DATA'}
17400  of  57058  unique noun phrases: set of terms:  {'EXAMPLE', 'ESTONIA'}
17500  of  57058  unique noun phrases: set of terms:  {'DEVELOPMENT', 'SKILL', 'EXCELLENCE'}
17600  of  57058  unique noun phrases: set of terms:  {'PRODUCT', 'EXCHANGE'}
17700  of  57058  unique noun phrases: set of terms:  {'GUIDE', 'EXHAUSTIVE'}
17800  of  57058  unique noun phrases: set of terms:  {'HABIT', 'EXPENDITURE'}
17900  of  57058  unique noun phrases: set of terms:  {'LIFE', 'EXPERIENCE'}
18000  of  57058  unique noun phrases: set of terms:  {'COUNTRY', 'EXPORT', 'EU'}
18100  of  57058  unique noun phrases: set of terms:  {'EXPORTED', 'MANUFACTURED', 'GOOD'}
18200  of  57058  unique noun phrases: set of terms:  {'EXTENT', 'PROBLEM'}
18300  of  57058  unique noun phrases: set of terms:  {'EXTRAORDINARY', 'NATURE'}
18400  of  57058  unique noun phrases: set of terms:  {'AGE', 'LIKE', 'FACTOR'}
18500  of  57058  unique noun phrases: set of terms:  {'FAMILY', 'PRODUCT', 'PETROLEUM'}
18600  of  57058  unique noun phrases: set of terms:  {'SECTOR', 'FARMING'}
18700  of  57058  unique noun phrases: set of terms:  {'SUBSIDIARITY', 'FEDERALISM'}
18800  of  57058  unique noun phrases: set of terms:  {'FIELD', 'BUSINESS'}
18900  of  57058  unique noun phrases: set of terms:  {'FIFTH', 'SHOPPING'}
19000  of  57058  unique noun phrases: set of terms:  {'DATA', 'FINAL'}
19100  of  57058  unique noun phrases: set of terms:  {'FINANCIAL', 'BENEFIT'}
19200  of  57058  unique noun phrases: set of terms:  {'FINANCING', 'INSTITUTE'}
19300  of  57058  unique noun phrases: set of terms:  {'FIRST', 'EDITION'}
19400  of  57058  unique noun phrases: set of terms:  {'BURDEN', 'FISCAL'}
19500  of  57058  unique noun phrases: set of terms:  {'DATA', 'FLAG', 'STATUS'}
19600  of  57058  unique noun phrases: set of terms:  {'FLOW', 'ROMANIA'}
19700  of  57058  unique noun phrases: set of terms:  {'DEFICIT', 'FOLLOWING', 'BASIC'}
19800  of  57058  unique noun phrases: set of terms:  {'FOLLOWING', 'SPECIALISATION'}
19900  of  57058  unique noun phrases: set of terms:  {'DENMARK', 'FORCE'}
20000  of  57058  unique noun phrases: set of terms:  {'ENFORCEMENT', 'LAW', 'FOREST'}
20100  of  57058  unique noun phrases: set of terms:  {'PART', 'FORM'}
20200  of  57058  unique noun phrases: set of terms:  {'FOSSIL', 'FUEL'}
20300  of  57058  unique noun phrases: set of terms:  {'FRANCE', 'EUR'}
20400  of  57058  unique noun phrases: set of terms:  {'FRENCH', 'RESIDENT'}
20500  of  57058  unique noun phrases: set of terms:  {'FROZEN', 'POTATO'}

20600  of  57058  unique noun phrases: set of terms:  {'POTENTIAL', 'FULL'}
20700  of  57058  unique noun phrases: set of terms:  {'PROJECT', 'FUNDING', 'PREPARATION'}
20800  of  57058  unique noun phrases: set of terms:  {'GALICIA', 'SPAIN'}
20900  of  57058  unique noun phrases: set of terms:  {'GASEOUS', 'MATERIAL'}
21000  of  57058  unique noun phrases: set of terms:  {'DIFFERENCE', 'GENDER'}
21100  of  57058  unique noun phrases: set of terms:  {'REGULATION', 'IMPLEMENTING', 'GENERAL'}
21200  of  57058  unique noun phrases: set of terms:  {'GENERATIONAL', 'GAP'}
21300  of  57058  unique noun phrases: set of terms:  {'GEOGRAPHICAL', 'STRATIFICATION'}
21400  of  57058  unique noun phrases: set of terms:  {'REGION', 'GERMAN'}
21500  of  57058  unique noun phrases: set of terms:  {'RETREAT', 'GLACIAL'}
21600  of  57058  unique noun phrases: set of terms:  {'GMINAS', 'WORK'}
21700  of  57058  unique noun phrases: set of terms:  {'GOOD', 'EXPORT'}
21800  of  57058  unique noun phrases: set of terms:  {'ACTIVITY', 'GOVERNMENT'}
21900  of  57058  unique noun phrases: set of terms:  {'SURPLUS', 'DEFICIT', 'GOVERNMENT'}
22000  of  57058  unique noun phrases: set of terms:  {'GREAT', 'MAJORITY'}
22100  of  57058  unique noun phrases: set of terms:  {'CELL', 'GRID', 'CHANGE'}
22200  of  57058  unique noun phrases: set of terms:  {'GROUP', 'CONSUMER', 'GOOD'}
22300  of  57058  unique noun phrases: set of terms:  {'GROW', 'OLDER'}
22400  of  57058  unique noun phrases: set of terms:  {'CONDITION', 'GUARANTEE'}
22500  of  57058  unique noun phrases: set of terms:  {'HOUR', 'HALF'}
22600  of  57058  unique noun phrases: set of terms:  {'HARMONISED', 'APPLICATION'}
22700  of  57058  unique noun phrases: set of terms:  {'HEALTH', 'ACCOUNTING', 'FRAMEWORK'}
22800  of  57058  unique noun phrases: set of terms:  {'HEALTH', 'MATTER'}
22900  of  57058  unique noun phrases: set of terms:  {'HEALTHCARE', 'TREATMENT'}
23000  of  57058  unique noun phrases: set of terms:  {'METHOD', 'HEDONIC'}
23100  of  57058  unique noun phrases: set of terms:  {'PRODUCTIVITY', 'AGRICULTURAL', 'HIGH'}
23200  of  57058  unique noun phrases: set of terms:  {'PRODUCT', 'TECH', 'HIGH'}
23300  of  57058  unique noun phrases: set of terms:  {'HOLIDAY', 'MONTH'}
23400  of  57058  unique noun phrases: set of terms:  {'RESOURCE', 'HOSPITAL', 'TECHNICAL'}
23500  of  57058  unique noun phrases: set of terms:  {'EXPENDITURE', 'CONSUMPTION', 'HOUSEHOLD'}
23600  of  57058  unique noun phrases: set of terms:  {'FILE', 'REGISTER', 'HOUSEHOLD'}
23700  of  57058  unique noun phrases: set of terms:  {'HOUSING', 'SCHEME'}
23800  of  57058  unique noun phrases: set of terms:  {'IRELAND', 'HUNGARY'}
23900  of  57058  unique noun phrases: set of terms:  {'SECTOR', 'ICT'}
24000  of  57058  unique noun phrases: set of terms:  {'IIP', 'EUR'}
24100  of  57058  unique noun phrases: set of terms:  {'AGE', 'IMPACT'}
24200  of  57058  unique noun phrases: set of terms:  {'RATE', 'UNEMPLOYMENT', 'IMPACT'}
24300  of  57058  unique noun phrases: set of terms:  {'IMPORT', 'CATEGORY'}
24400  of  57058  unique noun phrases: set of terms:  {'IMPORTANCE', 'CHILD'}
24500  of  57058  unique noun phrases: set of terms:  {'HAULIER', 'FOREIGN', 'IMPORTANT'}
24600  of  57058  unique noun phrases: set of terms:  {'IMPORTER', 'PETROLEUM'}
24700  of  57058  unique noun phrases: set of terms:  {'SERVICE', 'INCENTIVE'}
24800  of  57058  unique noun phrases: set of terms:  {'INCOME', 'DEDUCTION'}
24900  of  57058  unique noun phrases: set of terms:  {'INCOME', 'PERIOD', 'REFERENCE'}
25000  of  57058  unique noun phrases: set of terms:  {'INCREASE', 'DEMAND'}
25100  of  57058  unique noun phrases: set of terms:  {'TERM', 'INCREASE', 'QUANTITY'}
25200  of  57058  unique noun phrases: set of terms:  {'INDEX', 'PERMIT', 'BUILDING'}
25300  of  57058  unique noun phrases: set of terms:  {'INDICATOR', 'TRANSPORT', 'AIR'}
25400  of  57058  unique noun phrases: set of terms:  {'SOIL', 'INDICATOR', 'QUALITY'}
25500  of  57058  unique noun phrases: set of terms:  {'HOUSE', 'INDIVIDUAL'}
25600  of  57058  unique noun phrases: set of terms:  {'EFFLUENT', 'INDUSTRIAL'}
25700  of  57058  unique noun phrases: set of terms:  {'INDUSTRY', 'ASSUMPTION', 'TECHNOLOGY'}
25800  of  57058  unique noun phrases: set of terms:  {'ACTIVITY', 'INFORMAL', 'UNPAID'}
25900  of  57058  unique noun phrases: set of terms:  {'EXCHANGE', 'INSTRUMENT', 'INFORMATION'}
26000  of  57058  unique noun phrases: set of terms:  {'PERTAINING', 'INFORMATION'}
26100  of  57058  unique noun phrases: set of terms:  {'INHABITANT', 'ACCIDENT'}
26200  of  57058  unique noun phrases: set of terms:  {'INITIAL', 'INCREASE'}
26300  of  57058  unique noun phrases: set of terms:  {'INPATIENT', 'SERVICE'}
26400  of  57058  unique noun phrases: set of terms:  {'INSTITUTION', 'STRUCTURE'}
26500  of  57058  unique noun phrases: set of terms:  {'ASSESSMENT', 'MODEL', 'INTEGRATED'}
26600  of  57058  unique noun phrases: set of terms:  {'ALIA', 'INTER'}
26700  of  57058  unique noun phrases: set of terms:  {'GVA', 'INTERMEDIATE', 'CONSUMPTION'}
26800  of  57058  unique noun phrases: set of terms:  {'ENTERPRISE', 'INTERNATIONAL'}
26900  of  57058  unique noun phrases: set of terms:  {'STUDENT', 'INTERNATIONAL'}
27000  of  57058  unique noun phrases: set of terms:  {'INTERVIEW', 'SURVEY'}
27100  of  57058  unique noun phrases: set of terms:  {'GOOD', 'INVESTMENT'}
27200  of  57058  unique noun phrases: set of terms:  {'IRELAND', 'CYPRUS'}
27300  of  57058  unique noun phrases: set of terms:  {'GREECE', 'ISLAND'}
27400  of  57058  unique noun phrases: set of terms:  {'ITALY', 'LATVIA'}
27500  of  57058  unique noun phrases: set of terms:  {'Q', 'JOB'}
27600  of  57058  unique noun phrases: set of terms:  {'DIMENSION', 'K'}
27700  of  57058  unique noun phrases: set of terms:  {'TABLE', 'KEY'}
27800  of  57058  unique noun phrases: set of terms:  {'KLAIPEDA', 'HAMBURG'}
27900  of  57058  unique noun phrases: set of terms:  {'IMMIGRATION', 'LABOUR'}
28000  of  57058  unique noun phrases: set of terms:  {'LACK', 'PERSONNEL'}
28100  of  57058  unique noun phrases: set of terms:  {'LAND', 'SURVEY', 'OFFICE'}
28200  of  57058  unique noun phrases: set of terms:  {'LARGE', 'BAKERY'}
28300  of  57058  unique noun phrases: set of terms:  {'SOCIAL', 'LARGE', 'RETURN'}
28400  of  57058  unique noun phrases: set of terms:  {'STAGE', 'LATER'}
28500  of  57058  unique noun phrases: set of terms:  {'BATTERY', 'LEAD'}
28600  of  57058  unique noun phrases: set of terms:  {'LEGAL', 'PROVISION'}
28700  of  57058  unique noun phrases: set of terms:  {'ABSENCE', 'LEVEL'}
28800  of  57058  unique noun phrases: set of terms:  {'DETAIL', 'LEVEL', 'DIFFERS'}
28900  of  57058  unique noun phrases: set of terms:  {'LEVEL', 'INABILITY'}
29000  of  57058  unique noun phrases: set of terms:  {'CONTROL', 'QUALITY', 'LEVEL'}
29100  of  57058  unique noun phrases: set of terms:  {'CHANGE', 'LIABILITY'}
29200  of  57058  unique noun phrases: set of terms:  {'LIFETIME', 'MEN'}
29300  of  57058  unique noun phrases: set of terms:  {'ILO', 'GUIDELINE', 'LINE'}
29400  of  57058  unique noun phrases: set of terms:  {'MEMBER', 'STATE', 'LIST', 'EU'}
29500  of  57058  unique noun phrases: set of terms:  {'OVERALL', 'CHANGE', 'LITTLE'}
29600  of  57058  unique noun phrases: set of terms:  {'REFERS', 'LOAN'}
29700  of  57058  unique noun phrases: set of terms:  {'PENSIONER', 'LONE', 'HOUSEHOLD'}
29800  of  57058  unique noun phrases: set of terms:  {'DIFFICULTY', 'LOT'}
29900  of  57058  unique noun phrases: set of terms:  {'KEROSENE', 'LPG'}
30000  of  57058  unique noun phrases: set of terms:  {'MINING', 'MACHINERY'}
30100  of  57058  unique noun phrases: set of terms:  {'COUNTRY', 'MAIN'}
30200  of  57058  unique noun phrases: set of terms:  {'CONCEPT', 'MAIN', 'METHODOLOGICAL'}
30300  of  57058  unique noun phrases: set of terms:  {'MAIN', 'WAY'}
30400  of  57058  unique noun phrases: set of terms:  {'PREREQUISITE', 'MAJOR'}
30500  of  57058  unique noun phrases: set of terms:  {'NUT', 'LEVEL', 'MAJORITY'}
30600  of  57058  unique noun phrases: set of terms:  {'MALTA', 'LITHUANIA'}
30700  of  57058  unique noun phrases: set of terms:  {'FIELD', 'MANUAL'}

30800  of  57058  unique noun phrases: set of terms:  {'MANURE', 'MANAGEMENT', 'SYSTEM'}
30900  of  57058  unique noun phrases: set of terms:  {'REGION', 'MOUNTAINOUS', 'MANY'}
31000  of  57058  unique noun phrases: set of terms:  {'CHANGE', 'MARGINAL'}
31100  of  57058  unique noun phrases: set of terms:  {'ENTRY', 'MARKET'}
31200  of  57058  unique noun phrases: set of terms:  {'MARSHALL', 'ISLAND'}
31300  of  57058  unique noun phrases: set of terms:  {'MATH', 'RATE'}
31400  of  57058  unique noun phrases: set of terms:  {'INCREASE', 'MEAN'}
31500  of  57058  unique noun phrases: set of terms:  {'DISABILITY', 'MEASUREMENT'}
31600  of  57058  unique noun phrases: set of terms:  {'GOOD', 'MEDICAL'}
31700  of  57058  unique noun phrases: set of terms:  {'MEETING', 'PARIS'}
31800  of  57058  unique noun phrases: set of terms:  {'HEALTHCARE', 'MENTAL', 'SERVICE'}
31900  of  57058  unique noun phrases: set of terms:  {'METHOD', 'SOIL', 'SAMPLING'}
32000  of  57058  unique noun phrases: set of terms:  {'REGION', 'METROPOLITAN'}
32100  of  57058  unique noun phrases: set of terms:  {'ORIGIN', 'MIGRATION'}
32200  of  57058  unique noun phrases: set of terms:  {'POPULATION', 'MINIMUM'}
32300  of  57058  unique noun phrases: set of terms:  {'MISINTERPRETATION', 'DATA'}
32400  of  57058  unique noun phrases: set of terms:  {'LEARNER', 'MOBILITY'}
32500  of  57058  unique noun phrases: set of terms:  {'SOCIETY', 'MODERN'}
32600  of  57058  unique noun phrases: set of terms:  {'MONETARY', 'UNION'}
32700  of  57058  unique noun phrases: set of terms:  {'NIGHT', 'MONTH'}
32800  of  57058  unique noun phrases: set of terms:  {'CYCLE', 'MOTOR'}
32900  of  57058  unique noun phrases: set of terms:  {'EFFORT', 'MUCH'}
33000  of  57058  unique noun phrases: set of terms:  {'MUNICIPALITY', 'MADRID'}
33100  of  57058  unique noun phrases: set of terms:  {'NAME', 'ENTERPRISE'}
33200  of  57058  unique noun phrases: set of terms:  {'NATIONAL', 'ELECTION'}
33300  of  57058  unique noun phrases: set of terms:  {'PORT', 'NATIONAL'}
33400  of  57058  unique noun phrases: set of terms:  {'NATURAL', 'DISASTER'}
33500  of  57058  unique noun phrases: set of terms:  {'NEARER', 'EUR'}
33600  of  57058  unique noun phrases: set of terms:  {'NATURAL', 'NEGATIVE', 'CHANGE', 'CUMULATIVE'}
33700  of  57058  unique noun phrases: set of terms:  {'DISTRIBUTION', 'NET', 'CURRENT'}
33800  of  57058  unique noun phrases: set of terms:  {'ANTILLES', 'NETHERLANDS'}
33900  of  57058  unique noun phrases: set of terms:  {'NEW', 'BUILDING'}
34000  of  57058  unique noun phrases: set of terms:  {'NEW', 'MAP'}
34100  of  57058  unique noun phrases: set of terms:  {'PROTOCOL', 'NEW', 'YORK'}
34200  of  57058  unique noun phrases: set of terms:  {'OXIDE', 'NITROUS'}
34300  of  57058  unique noun phrases: set of terms:  {'HEMISPHERE', 'NORTHERN'}
34400  of  57058  unique noun phrases: set of terms:  {'VALUE', 'NOTE'}
34500  of  57058  unique noun phrases: set of terms:  {'NUMBER', 'BARRIER'}
34600  of  57058  unique noun phrases: set of terms:  {'NUMBER', 'STATE', 'MEMBER', 'EU'}
34700  of  57058  unique noun phrases: set of terms:  {'NUMBER', 'MOTORCYCLIST'}
34800  of  57058  unique noun phrases: set of terms:  {'NUMBER', 'RISK'}
34900  of  57058  unique noun phrases: set of terms:  {'ASPECT', 'NUMEROUS'}
35000  of  57058  unique noun phrases: set of terms:  {'OBJECTIVE', 'LEVEL'}
35100  of  57058  unique noun phrases: set of terms:  {'GROUP', 'OCCUPATIONAL'}
35200  of  57058  unique noun phrases: set of terms:  {'STATISTIC', 'ACT', 'OFFICIAL'}
35300  of  57058  unique noun phrases: set of terms:  {'ONGOING', 'PANDEMIC'}
35400  of  57058  unique noun phrases: set of terms:  {'OPERATING', 'THEATRE'}
35500  of  57058  unique noun phrases: set of terms:  {'ORCHARD', 'PEACH'}
35600  of  57058  unique noun phrases: set of terms:  {'ORIENTATION', 'POLICY'}
35700  of  57058  unique noun phrases: set of terms:  {'CARE', 'OUTPATIENT'}
35800  of  57058  unique noun phrases: set of terms:  {'OUTWARD', 'FREIGHT'}
35900  of  57058  unique noun phrases: set of terms:  {'OVERALL', 'PERFORMANCE'}
36000  of  57058  unique noun phrases: set of terms:  {'OVERVIEW', 'ECOLOGICALLY'}
36100  of  57058  unique noun phrases: set of terms:  {'STABILISING', 'PACE'}
36200  of  57058  unique noun phrases: set of terms:  {'PARASITIC', 'DISEASE'}
36300  of  57058  unique noun phrases: set of terms:  {'IRELAND', 'PART'}
36400  of  57058  unique noun phrases: set of terms:  {'ASPECT', 'PARTICULAR'}
36500  of  57058  unique noun phrases: set of terms:  {'PARTICULAR', 'USE'}
36600  of  57058  unique noun phrases: set of terms:  {'PAST', 'BORROWING'}
36700  of  57058  unique noun phrases: set of terms:  {'WORK', 'PAY'}
36800  of  57058  unique noun phrases: set of terms:  {'BRIQUETTE', 'PEAT'}
36900  of  57058  unique noun phrases: set of terms:  {'ITALY', 'PEOPLE'}
37000  of  57058  unique noun phrases: set of terms:  {'PERCENTAGE', 'COUNTRY', 'GDP'}
37100  of  57058  unique noun phrases: set of terms:  {'STRUCTURE', 'PERFORMANCE'}
37200  of  57058  unique noun phrases: set of terms:  {'PERMANENT', 'WORKER'}
37300  of  57058  unique noun phrases: set of terms:  {'RISK', 'PERSON'}
37400  of  57058  unique noun phrases: set of terms:  {'DISEASE', 'PEST'}
37500  of  57058  unique noun phrases: set of terms:  {'PHYSICAL', 'ACTIVITY'}
37600  of  57058  unique noun phrases: set of terms:  {'SOCIAL', 'PILLAR', 'RIGHT'}
37700  of  57058  unique noun phrases: set of terms:  {'ALGAE', 'PLANKTON'}
37800  of  57058  unique noun phrases: set of terms:  {'POINT', 'CROATIA'}
37900  of  57058  unique noun phrases: set of terms:  {'POLICY', 'ACTIVITY'}
38000  of  57058  unique noun phrases: set of terms:  {'POLITICAL', 'DOCUMENT'}
38100  of  57058  unique noun phrases: set of terms:  {'POPULARITY', 'CYCLING'}
38200  of  57058  unique noun phrases: set of terms:  {'ELEMENT', 'POPULATION'}
38300  of  57058  unique noun phrases: set of terms:  {'POPULATION', 'REGISTER'}
38400  of  57058  unique noun phrases: set of terms:  {'PORTO', 'PORTUGAL'}
38500  of  57058  unique noun phrases: set of terms:  {'CONTRIBUTION', 'POSITIVE'}
38600  of  57058  unique noun phrases: set of terms:  {'SHORTCOMING', 'POSSIBLE'}
38700  of  57058  unique noun phrases: set of terms:  {'POVERTY', 'ALLEVIATION'}
38800  of  57058  unique noun phrases: set of terms:  {'PPI', 'ELECTRICITY'}
38900  of  57058  unique noun phrases: set of terms:  {'ESTIMATE', 'PRECEDING'}
39000  of  57058  unique noun phrases: set of terms:  {'PREPARE', 'STUDENT'}
39100  of  57058  unique noun phrases: set of terms:  {'AGE', 'PREVALENCE'}
39200  of  57058  unique noun phrases: set of terms:  {'AGRICULTURE', 'PRICE'}
39300  of  57058  unique noun phrases: set of terms:  {'PROPERTY', 'PRICE'}
39400  of  57058  unique noun phrases: set of terms:  {'DESTINATION', 'PRINCIPAL'}
39500  of  57058  unique noun phrases: set of terms:  {'RATE', 'PRISONER'}
39600  of  57058  unique noun phrases: set of terms:  {'PROBLEM', 'PRIOR'}
39700  of  57058  unique noun phrases: set of terms:  {'STATISTIC', 'PRODCOM', 'CONSIST'}
39800  of  57058  unique noun phrases: set of terms:  {'STATISTIC', 'PRODUCT', 'SWEDEN'}
39900  of  57058  unique noun phrases: set of terms:  {'MEMBER', 'PRODUCTION', 'G'}
40000  of  57058  unique noun phrases: set of terms:  {'TRADE', 'PRODUCTION'}
40100  of  57058  unique noun phrases: set of terms:  {'PROFESSIONAL', 'TRAINING'}
40200  of  57058  unique noun phrases: set of terms:  {'PROGRESSIVE', 'NATURE'}
40300  of  57058  unique noun phrases: set of terms:  {'TENDS', 'PROPERTY'}
40400  of  57058  unique noun phrases: set of terms:  {'PROPORTION', 'RENEWABLES'}
40500  of  57058  unique noun phrases: set of terms:  {'PROTECTION', 'REGARD'}
40600  of  57058  unique noun phrases: set of terms:  {'PROXIMITY', 'SUPPLIER'}
40700  of  57058  unique noun phrases: set of terms:  {'PUBLIC', 'PROFILE'}
40800  of  57058  unique noun phrases: set of terms:  {'STUDENT', 'PUPIL'}
40900  of  57058  unique noun phrases: set of terms:  {'QGDP', 'COMPILATION'}
41000  of  57058  unique noun phrases: set of terms:  {'GROUP', 'QUALITY', 'IMPROVEMENT'}
41100  of  57058  unique noun phrases: set of terms:  {'GREENHOUSE', 'GAS', 'EMISSION', 'QUANTITY'}

41200  of  57058  unique noun phrases: set of terms:  {'QUARTERLY', 'SURVEY', 'CONTINUOUS'}
41300  of  57058  unique noun phrases: set of terms:  {'AREA', 'RAIL'}
41400  of  57058  unique noun phrases: set of terms:  {'POLICY', 'AREA', 'EU', 'RANGE'}
41500  of  57058  unique noun phrases: set of terms:  {'RAPID', 'ACCELERATION'}
41600  of  57058  unique noun phrases: set of terms:  {'RATE', 'GERMANY'}
41700  of  57058  unique noun phrases: set of terms:  {'PASSENGER', 'RATIO', 'AIR'}
41800  of  57058  unique noun phrases: set of terms:  {'TAX', 'RATIO'}
41900  of  57058  unique noun phrases: set of terms:  {'REASON', 'COMPARABILITY'}
42000  of  57058  unique noun phrases: set of terms:  {'PERIOD', 'RECENT'}
42100  of  57058  unique noun phrases: set of terms:  {'HEIGHT', 'RECORD'}
42200  of  57058  unique noun phrases: set of terms:  {'RECYCLED', 'AMOUNT'}
42300  of  57058  unique noun phrases: set of terms:  {'OVERTIME', 'REDUCTION'}
42400  of  57058  unique noun phrases: set of terms:  {'LIQUEFIED', 'GASOLINE', 'REFINERY', 'PETROLEUM', 'GAS', 'ETHANE', 'MOTOR'}
42500  of  57058  unique noun phrases: set of terms:  {'REGION', 'COMPANY'}
42600  of  57058  unique noun phrases: set of terms:  {'REGION', 'REVEALS'}
42700  of  57058  unique noun phrases: set of terms:  {'POINT', 'REGIONAL'}
42800  of  57058  unique noun phrases: set of terms:  {'CODE', 'REGISTRATION'}
42900  of  57058  unique noun phrases: set of terms:  {'ACT', 'RELATED'}
43000  of  57058  unique noun phrases: set of terms:  {'RELATIVE', 'APPROACH'}
43100  of  57058  unique noun phrases: set of terms:  {'INDEX', 'RELEVANT'}
43200  of  57058  unique noun phrases: set of terms:  {'PERCENTAGE', 'REMITTANCE'}
43300  of  57058  unique noun phrases: set of terms:  {'POINT', 'REPORT', 'ACTION'}
43400  of  57058  unique noun phrases: set of terms:  {'REPRESENT', 'TRANSPORTATION', 'SERVICE', 'FREIGHT'}
43500  of  57058  unique noun phrases: set of terms:  {'RESEARCHER', 'EXPERT'}
43600  of  57058  unique noun phrases: set of terms:  {'RESIDENTIAL', 'SECTOR'}
43700  of  57058  unique noun phrases: set of terms:  {'DIMENSION', 'XXX', 'RESPECTIVE'}
43800  of  57058  unique noun phrases: set of terms:  {'RESTRICTION', 'MOBILITY'}
43900  of  57058  unique noun phrases: set of terms:  {'INDIVIDUAL', 'RETIRED'}
44000  of  57058  unique noun phrases: set of terms:  {'JULY', 'REVISION'}
44100  of  57058  unique noun phrases: set of terms:  {'RISK', 'EXPOSURE'}
44200  of  57058  unique noun phrases: set of terms:  {'TRANSPORT', 'ROAD', 'EU', 'FREIGHT'}
44300  of  57058  unique noun phrases: set of terms:  {'TRADE', 'ROLE'}
44400  of  57058  unique noun phrases: set of terms:  {'PRACTICE', 'ROUTINE'}
44500  of  57058  unique noun phrases: set of terms:  {'PROGRAM', 'SA', 'FILE'}
44600  of  57058  unique noun phrases: set of terms:  {'SALMO', 'SALAR'}
44700  of  57058  unique noun phrases: set of terms:  {'RATE', 'SATISFACTION'}
44800  of  57058  unique noun phrases: set of terms:  {'PLACE', 'SCHOOL'}
44900  of  57058  unique noun phrases: set of terms:  {'INTERACTION', 'SDG'}
45000  of  57058  unique noun phrases: set of terms:  {'SEASONALITY', 'TOURISM'}
45100  of  57058  unique noun phrases: set of terms:  {'SECTOR', 'SECONDARY'}
45200  of  57058  unique noun phrases: set of terms:  {'SECTOR', 'INDICATOR'}
45300  of  57058  unique noun phrases: set of terms:  {'EMPLOYMENT', 'SECURITY'}
45400  of  57058  unique noun phrases: set of terms:  {'SENIOR', 'TOURIST'}
45500  of  57058  unique noun phrases: set of terms:  {'MOLDOVA', 'SERBIA'}
45600  of  57058  unique noun phrases: set of terms:  {'MEMBER', 'SERVICE', 'EU', 'REVEALS', 'STATE'}
45700  of  57058  unique noun phrases: set of terms:  {'DATA', 'SESECTION'}
45800  of  57058  unique noun phrases: set of terms:  {'SET', 'RIGHT'}
45900  of  57058  unique noun phrases: set of terms:  {'SEVERAL', 'FACTOR'}
46000  of  57058  unique noun phrases: set of terms:  {'IMPACT', 'SEVERE'}
46100  of  57058  unique noun phrases: set of terms:  {'ACTIVITY', 'SHARE'}
46200  of  57058  unique noun phrases: set of terms:  {'CYPRIOT', 'MEN', 'SHARE'}
46300  of  57058  unique noun phrases: set of terms:  {'HAULIER', 'SHARE'}
46400  of  57058  unique noun phrases: set of terms:  {'NIGHT', 'SHARE'}
46500  of  57058  unique noun phrases: set of terms:  {'SPAIN', 'SHARE'}
46600  of  57058  unique noun phrases: set of terms:  {'PIG', 'SHEEP'}
46700  of  57058  unique noun phrases: set of terms:  {'IMPORT', 'PER', 'CAPUT', 'SHOW'}
46800  of  57058  unique noun phrases: set of terms:  {'SHIFT', 'FAVORABLE', 'SIGNIFICANT'}
46900  of  57058  unique noun phrases: set of terms:  {'FASHION', 'SIMILAR'}
47000  of  57058  unique noun phrases: set of terms:  {'APPROACH', 'SIMPLIFIED'}
47100  of  57058  unique noun phrases: set of terms:  {'SINGLE', 'ISLAND'}
47200  of  57058  unique noun phrases: set of terms:  {'RATE', 'SITUATION', 'INCIDENCE'}
47300  of  57058  unique noun phrases: set of terms:  {'INDIVIDUAL', 'SKILL'}
47400  of  57058  unique noun phrases: set of terms:  {'SLOVAKIA', 'POLAND'}
47500  of  57058  unique noun phrases: set of terms:  {'SMALL', 'FLEET'}
47600  of  57058  unique noun phrases: set of terms:  {'TOBACCO', 'SMOKER', 'PRODUCT'}
47700  of  57058  unique noun phrases: set of terms:  {'SOCIAL', 'GRADIENT'}
47800  of  57058  unique noun phrases: set of terms:  {'SOCIETY', 'TOURISM'}
47900  of  57058  unique noun phrases: set of terms:  {'THERMAL', 'SOLAR'}
48000  of  57058  unique noun phrases: set of terms:  {'SOURCE', 'FINANCE'}
48100  of  57058  unique noun phrases: set of terms:  {'SOUTHERN', 'POLAND'}
48200  of  57058  unique noun phrases: set of terms:  {'SPATIAL', 'DIVISION'}
48300  of  57058  unique noun phrases: set of terms:  {'SPECIALISED', 'JOURNAL'}
48400  of  57058  unique noun phrases: set of terms:  {'EVENT', 'SPECIFIC'}
48500  of  57058  unique noun phrases: set of terms:  {'SPECIFIC', 'REQUEST'}
48600  of  57058  unique noun phrases: set of terms:  {'SPENT', 'TOURISM'}
48700  of  57058  unique noun phrases: set of terms:  {'STABLE', 'INTERFACE'}
48800  of  57058  unique noun phrases: set of terms:  {'STANDARD', 'SET', 'DATA', 'MINIMUM', 'REQUIREMENT'}
48900  of  57058  unique noun phrases: set of terms:  {'STATIONARY', 'OBJECT'}
49000  of  57058  unique noun phrases: set of terms:  {'STATISTIC', 'NUT'}
49100  of  57058  unique noun phrases: set of terms:  {'STATISTICAL', 'CHARACTERISTIC'}
49200  of  57058  unique noun phrases: set of terms:  {'STATISTICAL', 'PROGRAM'}
49300  of  57058  unique noun phrases: set of terms:  {'STAY', 'FIGURE'}
49400  of  57058  unique noun phrases: set of terms:  {'HOSPITAL', 'BED', 'STOCK'}
49500  of  57058  unique noun phrases: set of terms:  {'POVERTY', 'REDUCTION', 'STRATEGY'}
49600  of  57058  unique noun phrases: set of terms:  {'PRESUMPTION', 'STRONG'}
49700  of  57058  unique noun phrases: set of terms:  {'NACE', 'STRUCTURE'}
49800  of  57058  unique noun phrases: set of terms:  {'STUDY', 'PRESENCE'}
49900  of  57058  unique noun phrases: set of terms:  {'SUBSEQUENT', 'REDUCTION'}
50000  of  57058  unique noun phrases: set of terms:  {'SUBURB', 'REVEALS'}
50100  of  57058  unique noun phrases: set of terms:  {'INLAND', 'SUM', 'CONSUMPTION'}
50200  of  57058  unique noun phrases: set of terms:  {'SUPPLIER', 'RUSSIA'}
50300  of  57058  unique noun phrases: set of terms:  {'SUPPORT', 'STATISTIC'}
50400  of  57058  unique noun phrases: set of terms:  {'SURVEY', 'FRAMEWORK'}
50500  of  57058  unique noun phrases: set of terms:  {'DEVELOPMENT', 'SUSTAINABLE', 'STRATEGY'}
50600  of  57058  unique noun phrases: set of terms:  {'SWEDEN', 'SWITZERLAND'}
50700  of  57058  unique noun phrases: set of terms:  {'NATIONAL', 'SYSTEM'}
50800  of  57058  unique noun phrases: set of terms:  {'FORMAT', 'TABULAR'}
50900  of  57058  unique noun phrases: set of terms:  {'TAX', 'CATEGORY'}
51000  of  57058  unique noun phrases: set of terms:  {'TAXATION', 'REFERS'}
51100  of  57058  unique noun phrases: set of terms:  {'RESOURCE', 'TECHNOLOGY', 'HUMAN'}
51200  of  57058  unique noun phrases: set of terms:  {'EMPLOYEE', 'TEN'}
51300  of  57058  unique noun phrases: set of terms:  {'FRANCE', 'TERM'}
51400  of  57058  unique noun phrases: set of terms:  {'UNEMPLOYMENT', 'TERM'}

51500  of  57058  unique noun phrases: set of terms:  {'TEXTILE', 'FIBRE'}
51600  of  57058  unique noun phrases: set of terms:  {'CONFERENCE', 'INTERNATIONAL', 'THIRD'}
51700  of  57058  unique noun phrases: set of terms:  {'BUDGET', 'TIGHT'}
51800  of  57058  unique noun phrases: set of terms:  {'PER', 'TIME', 'YEAR'}
51900  of  57058  unique noun phrases: set of terms:  {'TOBACCO', 'CONSUMPTION'}
52000  of  57058  unique noun phrases: set of terms:  {'TONNE', 'BEET', 'SUGAR'}
52100  of  57058  unique noun phrases: set of terms:  {'LAND', 'ARABLE', 'TOTAL'}
52200  of  57058  unique noun phrases: set of terms:  {'FRUIT', 'TOTAL', 'FRESH'}
52300  of  57058  unique noun phrases: set of terms:  {'OUTLAY', 'TOTAL'}
52400  of  57058  unique noun phrases: set of terms:  {'TOTALITY', 'ELECTRICITY', 'GENERATION'}
52500  of  57058  unique noun phrases: set of terms:  {'TOWN', 'VILLAGE'}
52600  of  57058  unique noun phrases: set of terms:  {'STATE', 'MEMBER', 'TRADE'}
52700  of  57058  unique noun phrases: set of terms:  {'MEMBER', 'TRADER', 'EXPORT', 'STATE', 'FRUIT'}
52800  of  57058  unique noun phrases: set of terms:  {'ISCED', 'TRAINING'}
52900  of  57058  unique noun phrases: set of terms:  {'TRANSFER', 'SYSTEM'}
53000  of  57058  unique noun phrases: set of terms:  {'TRANSMISSION', 'DATA'}
53100  of  57058  unique noun phrases: set of terms:  {'PEOPLE', 'TRANSPORT'}
53200  of  57058  unique noun phrases: set of terms:  {'CODE', 'TREATMENT'}
53300  of  57058  unique noun phrases: set of terms:  {'TREND', 'MANUFACTURING'}
53400  of  57058  unique noun phrases: set of terms:  {'TURKEY', 'MONTENEGRO'}
53500  of  57058  unique noun phrases: set of terms:  {'BODY', 'TYPE', 'PART'}
53600  of  57058  unique noun phrases: set of terms:  {'TYPE', 'VAT', 'HOUSEHOLD'}
53700  of  57058  unique noun phrases: set of terms:  {'TYPE', 'ROAD'}
53800  of  57058  unique noun phrases: set of terms:  {'UAA', 'THRESHOLD'}
53900  of  57058  unique noun phrases: set of terms:  {'WOMAN', 'UNDEREMPLOYED'}
54000  of  57058  unique noun phrases: set of terms:  {'RATE', 'UNEMPLOYMENT', 'DECREASE'}
54100  of  57058  unique noun phrases: set of terms:  {'ORDERING', 'UNIQUE'}
54200  of  57058  unique noun phrases: set of terms:  {'LEVEL', 'NATION', 'UNITED'}
54300  of  57058  unique noun phrases: set of terms:  {'UNSUSTAINABLE', 'WAY'}
54400  of  57058  unique noun phrases: set of terms:  {'AUDIT', 'STATISTIC', 'URBAN'}
54500  of  57058  unique noun phrases: set of terms:  {'COFOG', 'USE'}
54600  of  57058  unique noun phrases: set of terms:  {'OUTPUT', 'HARMONISATION', 'USE'}
54700  of  57058  unique noun phrases: set of terms:  {'USEFUL', 'PROXY'}
54800  of  57058  unique noun phrases: set of terms:  {'ESTIMATE', 'VALIDITY'}
54900  of  57058  unique noun phrases: set of terms:  {'OUTPUT', 'GOVERNMENT', 'VALUE'}
55000  of  57058  unique noun phrases: set of terms:  {'AGE', 'VARIABLE'}
55100  of  57058  unique noun phrases: set of terms:  {'WORK', 'VARIED'}
55200  of  57058  unique noun phrases: set of terms:  {'VARIOUS', 'FORM'}
55300  of  57058  unique noun phrases: set of terms:  {'POLICY', 'VAT'}
55400  of  57058  unique noun phrases: set of terms:  {'STATISTIC', 'VESSEL'}
55500  of  57058  unique noun phrases: set of terms:  {'STATISTIC', 'MIGRATION', 'VITAL'}
55600  of  57058  unique noun phrases: set of terms:  {'VOLUME', 'GLASS', 'WASTE'}
55700  of  57058  unique noun phrases: set of terms:  {'AGRICULTURE', 'WASTE'}
55800  of  57058  unique noun phrases: set of terms:  {'CATCHMENT', 'WATER'}
55900  of  57058  unique noun phrases: set of terms:  {'ROMANIA', 'WAY'}
56000  of  57058  unique noun phrases: set of terms:  {'WEEKEND', 'WORK'}
56100  of  57058  unique noun phrases: set of terms:  {'WEST', 'WALE'}
56200  of  57058  unique noun phrases: set of terms:  {'ENTERPRISE', 'WHOLE'}
56300  of  57058  unique noun phrases: set of terms:  {'WOMAN', 'WILLINGNESS'}
56400  of  57058  unique noun phrases: set of terms:  {'WOMAN'}
56500  of  57058  unique noun phrases: set of terms:  {'WORK', 'OPERATION'}
56600  of  57058  unique noun phrases: set of terms:  {'DAY', 'WORKING'}
56700  of  57058  unique noun phrases: set of terms:  {'WORLD', 'STANDARD'}
56800  of  57058  unique noun phrases: set of terms:  {'COOPERATION', 'YEAR'}
56900  of  57058  unique noun phrases: set of terms:  {'READING', 'YEAR'}
57000  of  57058  unique noun phrases: set of terms:  {'WOMAN', 'YOUNG'}

,normalized_noun_phrase,Common,len_intersect,len_union,Jaccard
0,A LEVEL,"[[220, ATTACHMENT LEVEL, {LEVEL}], [273, BASIC...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[2, 3, 3, 4, 2, 2, 4, 2, 2, 5, 2, 4, 3, 1, 1, ...","[0.5, 0.3333333333333333, 0.3333333333333333, ..."
1,A SINGLE PERSON,"[[13778, ACCIDENT PERSON CAUSED ROLLING STOCK ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[7, 7, 6, 4, 3, 4, 3, 5, 3, 3, 3, 3, 5, 5, 4, ...","[0.14285714285714285, 0.14285714285714285, 0.1..."
2,AASTERN EUROPEAN COUNTRY,"[[8557, BRIDGE COUNTRY, {COUNTRY}], [17029, CO...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[4, 7, 6, 4, 4, 10, 4, 4, 4, 4, 4, 5, 6, 4, 4,...","[0.25, 0.14285714285714285, 0.1666666666666666..."
3,ABBREVIATED NEET,[],[],[],[]
4,ABBREVIATION ESA,[],[],[],[]
...,...,...,...,...,...
57053,ZOOM BUTTON,[],[],[],[]
57054,Ã LAND,"[[43, ACQUISITION LE DISPOSAL LAND TANGIBLE AS...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[7, 3, 3, 3, 3, 5, 3, 7, 3, 5, 5, 4, 3, 3, 5, ...","[0.14285714285714285, 0.3333333333333333, 0.33..."
57055,Ã LAND ISLAND,"[[43, ACQUISITION LE DISPOSAL LAND TANGIBLE AS...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[8, 4, 4, 4, 4, 6, 4, 8, 4, 6, 6, 5, 4, 4, 6, ...","[0.125, 0.25, 0.25, 0.25, 0.25, 0.166666666666..."
57056,Ã RDAL,[],[],[],[]
57057,Î¼ J,[],[],[],[]

In [25]:
outfile = file_name('SE_vs_Eurostat_Noun_Phrases','xlsx')
res.to_excel(outfile)