# Use Case A - Query builder 
***
### Using 2-grams, 3-grams, 4-grams with content from the Glossary articles and the Statistics Explained articles

### To be connected with the KB in a later version

In [1]:
import pandas as pd
import numpy as np

import pyodbc

import gensim

pd.set_option('display.max_colwidth', 40)

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### Load data from the database

In [2]:
c = pyodbc.connect('DSN=Virtuoso All;DBA=ESTAT;UID=kimon;PWD=RkhvQYZ442e2JVXLHdtW')
cursor = c.cursor()

In [3]:
for row in cursor.tables():
    print (row.table_name)

dat_article
dat_article_paragraph
dat_article_shared_link
dat_further_info
dat_glossary
dat_link_info
dat_paragraph_figure
dat_redirections
dat_related_concepts
dat_sources
dat_statistical_data
mod_article_division
mod_resource_information
mod_resource_type
tm_articles
tm_terms
tm_topics
tm_values

### Glossary articles  

* Definitions from dat_glossary.
* Titles and URLs from dat_link_info (with resource_information_id=1, i.e. Eurostat, see ESTAT.V1.mod_resource_information).
* Match above on id.
* Errors from the scraping process will be corrected later.

In [4]:
SQLCommand = """SELECT T1.id, T1.definition, T2.title, T2.url 
                FROM ESTAT.V1.dat_glossary as T1 
                INNER JOIN ESTAT.V1.dat_link_info as T2  
                  ON T1.id=T2.id 
                WHERE T2.resource_information_id=1 """

GL_df = pd.read_sql(SQLCommand,c)
GL_df = GL_df[['id', 'title', 'definition', 'url']]
GL_df.head(5)

,id,title,definition,url
0,516,Farm structure survey (FSS) ? glossary,The basic Farm structure surve...,https://ec.europa.eu/eurostat/statis...
1,517,Standard Output ? glossary,The standard output of an a...,https://ec.europa.eu/eurostat/statis...
2,714,Allocation of primary income account,The allocation of primary inco...,https://ec.europa.eu/eurostat/statis...
3,1948,Figure 2: Current account as share ...,Member States of the European ...,https://ec.europa.eu/eurostat/statis...
4,3783,International Labour Organisation,The International Labour Organ...,https://ec.europa.eu/eurostat/statis...

### Check for missing information

In [5]:
GL_df = GL_df.replace('', np.nan) 
print(GL_df.isnull().sum())

id            0
title         0
definition    2
url           0
dtype: int64

### Delete records with empty definitions and carry out data cleansing

* Also put the URLs in lists. This is required later.

In [6]:
## drop records with any field empty
GL_df = GL_df.dropna(axis=0,how='any')
print(GL_df.isnull().sum())
GL_df.reset_index(drop=True, inplace=True)

import re
import unicodedata as ud

def clean(x, quotes=True):
    if pd.isnull(x): return x  
    x = x.strip()
    
    ## make letter-question mark-letter -> letter-quote-space-letter !!! but NOT in the lists of URLs!!!
    if quotes:
        x = re.sub(r'([A-Za-z])\?([A-Za-z])','\\1\' \\2',x) 
    
    ## make letter-question mark-space lower case letter letter-quote-space letter
    x = re.sub(r'([A-Za-z])\? ([a-z])','\\1\' \\2',x) 

    ## delete ,000 commas in numbers    
    x = re.sub(r'\b(\d+),(\d+)\b','\\1\\2',x) ## CORRECTED
    
    ## delete  000 spaces in numbers
    x = re.sub(r'\b(\d+) (\d+)\b','\\1\\2',x) ## CORRECTED
    
    ## remove more than one spaces
    x = re.sub(r' +', ' ',x)
    
    ## remove start and end spaces
    x = re.sub(r'^ +| +$', '',x,flags=re.MULTILINE) 
    
    ## space-comma -> comma
    x = re.sub(r' \,',',',x)
    
    ## space-dot -> dot
    x = re.sub(r' \.','.',x)
    
    #x = x.encode('latin1').decode('utf-8') ## â\x80\x99
    x = ud.normalize('NFKD',x).encode('ascii', 'ignore').decode()
    
    return x


GL_df['title'] = GL_df['title'].apply(clean)
GL_df['title'] = GL_df['title'].apply(lambda x: re.sub(r'\?','-',x)) ## also replace question marks by dashes
GL_df['definition'] = GL_df['definition'].apply(clean)
GL_df['url'] = GL_df['url'].apply(clean,quotes=False)  
GL_df['url'] = GL_df['url'].apply(lambda x: [x]) ## also put each URL in a list - required later

GL_df.head(5)

id            0
title         0
definition    0
url           0
dtype: int64

,id,title,definition,url
0,516,Farm structure survey (FSS) - glossary,"The basic Farm structure survey, abb...",[https://ec.europa.eu/eurostat/stati...
1,517,Standard Output - glossary,The standard output of an agricultur...,[https://ec.europa.eu/eurostat/stati...
2,714,Allocation of primary income account,The allocation of primary income acc...,[https://ec.europa.eu/eurostat/stati...
3,1948,Figure 2: Current account as share o...,Member States of the European Union ...,[https://ec.europa.eu/eurostat/stati...
4,3783,International Labour Organisation,The International Labour Organizatio...,[https://ec.europa.eu/eurostat/stati...

### Delete "special" records

* i.e. redirections.

In [7]:
## Drop The records with definitions "The revision ..." and "Redirect to ..." 

idx = GL_df[GL_df['definition'].str.startswith('The revision #')].index
print(idx)
GL_df.drop(idx , inplace=True)
idx = GL_df[GL_df['definition'].str.startswith('Redirect to')].index
print(idx)
GL_df.drop(idx , inplace=True)
GL_df.reset_index(drop=True, inplace=True)

Int64Index([ 220,  231,  316,  351,  460,  486,  491,  494,  499,  550,  561,
             579,  597,  635,  722,  763,  781,  807,  843,  914,  963,  965,
             974,  999, 1005, 1124, 1135, 1180, 1230],
           dtype='int64')
Int64Index([], dtype='int64')

### Check for duplicate titles AND definitions

In [8]:
idx = GL_df[GL_df.duplicated(subset=['title','definition'], keep=False)].sort_values(by=['title','definition']).index
print(idx)
GL_df.drop(idx , inplace=True)
GL_df.reset_index(drop=True, inplace=True)

Int64Index([1217, 1219], dtype='int64')

### Optionally, produce output file for debugging

In [9]:
%%script false --no-raise-error

from datetime import datetime

def file_name(pre,ext):
    current_time = datetime.now() 
    return pre + '_'+ str(current_time.month)+ '_' + str(current_time.day) + \
                 '_' + str(current_time.hour)+ '_' + str(current_time.minute)  +'.'+ext
    
outfile = file_name('D3_2_Glossary','xlsx')
GL_df.to_excel(outfile)

### Statistics explained articles

* IDs, titles and urls from dat_article and dat_link_info (with resource_information_id=1, i.e. Eurostat, see ESTAT.V1.mod_resource_information)).
* Carry out data cleansing on titles and URLs.
* Also put the URLs in lists. This is required later.

In [10]:
SQLCommand = """SELECT T1.id, T2.title, T2.url 
                FROM ESTAT.V1.dat_article as T1 
                INNER JOIN ESTAT.V1.dat_link_info as T2  
                  ON T1.id=T2.id 
                WHERE T2.resource_information_id=1 """

SE_df = pd.read_sql(SQLCommand,c)

SE_df['title'] = SE_df['title'].apply(clean)
SE_df['url'] = SE_df['url'].apply(clean,quotes=False)
SE_df['url'] = SE_df['url'].apply(lambda x: [x])
SE_df.head(5)

,id,title,url
0,1,Accessing European statistics,[https://ec.europa.eu/eurostat/stati...
1,8,Adult Education Survey (AES) methodo...,[https://ec.europa.eu/eurostat/stati...
2,13,Adult learning statistics,[https://ec.europa.eu/eurostat/stati...
3,14,Adult learning statistics - characte...,[https://ec.europa.eu/eurostat/stati...
4,17,Agri-environmental indicator - High ...,[https://ec.europa.eu/eurostat/stati...

### Add paragraphs titles and contents

* From dat_article_paragraph with abstract=0 (i.e. "no").
* Match id from dat_article with article_id from dat_article_paragraph.
* Carry out data cleansing on titles and paragraph contents.

In [11]:
SQLCommand = """SELECT T3.article_id, T3.title, T3.content 
                FROM ESTAT.V1.dat_article as T1 
                INNER JOIN ESTAT.V1.dat_article_paragraph as T3 
                  ON T1.id=T3.article_id  
                WHERE T3.abstract=0 """

add_content = pd.read_sql(SQLCommand,c)
add_content['title'] = add_content['title'].apply(clean)
add_content['content'] = add_content['content'].apply(clean)
add_content

,article_id,title,content
0,1,Statistical themes,The information on Eurostatas websit...
1,1,Access to data,Data navigation tree The majority of...
2,1,Publications,Eurostat produces a variety of publi...
3,1,Reference metadata,Metadata dissemination Statistical d...
4,1,User support,Eurostat and the other members of th...
...,...,...,...
3842,6194,Most EU seaborne passenger transport...,Table 1 and Figure 5 show the breakd...
3843,6199,Structural profile,Around 1 in 10 (8.9 %) of all enterp...
3844,6199,Sectoral analysis,At the NACE division level the manuf...
3845,6199,Country overview,Because of the tradable (export and ...
3846,6199,Size class analysis,Large enterprises (employing 250 or ...

### Aggregate above paragraph titles and contents  from SE articles paragraphs by article id

* Create a column _raw content_ which gathers all in one text per article.

In [12]:

add_content_grouped = add_content.groupby(['article_id'])['title','content'].aggregate(lambda x: list(x))
add_content_grouped.reset_index(drop=False, inplace=True)
for i in range(len(add_content_grouped)):
    add_content_grouped.loc[i,'raw content'] = ''
    for (a,b) in zip(add_content_grouped.loc[i,'title'],add_content_grouped.loc[i,'content']):
        add_content_grouped.loc[i,'raw content'] += ' '+a + ' ' + b
add_content_grouped = add_content_grouped[['article_id','raw content']]    

add_content_grouped

<ipython-input-12-06ac5f30766e>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  add_content_grouped = add_content.groupby(['article_id'])['title','content'].aggregate(lambda x: list(x))

     article_id                              raw content
0             1   Statistical themes The information ...
1             8   Introduction The AES provides an ov...
2            13   Participation rate of adults in lea...
3            14   Formal and non-formal adult educati...
4            17   Key messages The concept of high na...
..          ...                                      ...
860        6169   Poverty and deprivation There are t...
861        6188   Key findings This article presents ...
862        6191   Childcare and education arrangement...
863        6194   Number of seaborne passengers reach...
864        6199   Structural profile Around 1 in 10 (...

[865 rows x 2 columns]

### Merge raw content of SE articles with main file

In [13]:
SE_df = pd.merge(SE_df,add_content_grouped,left_on='id',right_on='article_id',how='inner')
SE_df.drop(['article_id'],axis=1,inplace=True)

SE_df.head(5)

,id,title,url,raw content
0,1,Accessing European statistics,[https://ec.europa.eu/eurostat/stati...,Statistical themes The information ...
1,8,Adult Education Survey (AES) methodo...,[https://ec.europa.eu/eurostat/stati...,Introduction The AES provides an ov...
2,13,Adult learning statistics,[https://ec.europa.eu/eurostat/stati...,Participation rate of adults in lea...
3,14,Adult learning statistics - characte...,[https://ec.europa.eu/eurostat/stati...,Formal and non-formal adult educati...
4,17,Agri-environmental indicator - High ...,[https://ec.europa.eu/eurostat/stati...,Key messages The concept of high na...

### Tokenize, remove stop-words and stem; keep also the original terms

* Use titles and definitions from the Glossary articles.
* Use titles and raw content from the SE articles
* _texts_ is a list containing lists. Each sub-list has the stemmed term, the original term and the URL where the term was found. The URL is itself put in a list.

In [14]:

from gensim.parsing.preprocessing import remove_stopwords
from gensim.parsing.preprocessing import stem_text
from gensim.parsing.porter import PorterStemmer

p = PorterStemmer()

def text_to_words(text,url):
    words = str(gensim.utils.simple_preprocess(text, deacc=True))
    words = remove_stopwords(words) 
    words = gensim.utils.tokenize(words)
        
    ## keep also original token!!! 
    words = [[p.stem(token),token,url] for token in words if len(p.stem(token)) >= 5] ##minimum length = 5 
    yield words        

texts=list()   

for i in range(len(GL_df)):
    texts.extend(text_to_words(GL_df.loc[i,'definition'],GL_df.loc[i,'url']))
    texts.extend(text_to_words(GL_df.loc[i,'title'],GL_df.loc[i,'url'])) 
for i in range(len(SE_df)):    
    texts.extend(text_to_words(SE_df.loc[i,'title'],SE_df.loc[i,'url'])) 
    texts.extend(text_to_words(SE_df.loc[i,'raw content'],SE_df.loc[i,'url']))

* Example: the first 5 sub-lists in the first list in _texts_.

In [15]:
print(len(texts))
texts[0][:5]

4290

[['basic',
  'basic',
  ['https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Glossary:Farm_structure_survey_(FSS)']],
 ['structur',
  'structure',
  ['https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Glossary:Farm_structure_survey_(FSS)']],
 ['survei',
  'survey',
  ['https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Glossary:Farm_structure_survey_(FSS)']],
 ['abbrevi',
  'abbreviated',
  ['https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Glossary:Farm_structure_survey_(FSS)']],
 ['known',
  'known',
  ['https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Glossary:Farm_structure_survey_(FSS)']]]

### Co-occurences: keys in n-grams are (n-1) tuples of stemmed tokens 

* Three dictionaries, for 2-,3-,and 4-grams. The corresponding keys are single stemmed terms, pairs of stemmed terms and triplets, respectively.
* For each key in a dictionary, the value is another (nested) dictionary with the **original terms**, their counts and the relevant URLs. In the end, the counts are used to calculate probabilities.
* Below all three dictionaries are constructed from the sequences of 4-grams.

In [16]:
##%%script false --no-raise-error
## Check also COLLOCATIONS: http://www.nltk.org/howto/collocations.html and http://www.nltk.org/api/nltk.html?highlight=ngram


from nltk import bigrams, trigrams, ngrams
#from collections import Counter, defaultdict


model2=dict()
model3=dict()
model4=dict()

def dict_insert(model,entered,proposed,new_urls_to_check):
    key_1 = model.get(entered)
    if key_1:
        key_2 = key_1.get(proposed)
        if key_2:
            key_2[0] +=1
            existing_urls = key_2[1]
            add_urls = [u for u in new_urls_to_check if u not in existing_urls]
            key_2.extend(add_urls)
        else:    
            key_1[proposed]= [1,new_urls_to_check]
    else:
        model[entered]={proposed:[1,new_urls_to_check]}
    return model            


# Co-occurences

for sentence in texts:
    pairs = [elem for elem in sentence] ## a list of 3-tuples (stemmed term, original term, list of URLs)
    if len(pairs) == 0: continue
    
    for first, second, third, fourth in ngrams(pairs,4): ## quadruplets of 3-tuples (stemmed term, original term, list of URLs)
        first_stem, first_orig, first_url = first
        second_stem, second_orig, second_url = second
        third_stem, third_orig, third_url = third
        fourth_stem, fourth_orig, fourth_url = fourth
       
        model2 = dict_insert(model2, first_stem, second_orig,list(set(first_url).intersection(second_url)))
        model2 = dict_insert(model2, second_stem, third_orig,list(set(second_url).intersection(third_url)))
        model2 = dict_insert(model2, third_stem, fourth_orig,list(set(third_url).intersection(fourth_url)))
        
        model3 = dict_insert(model3,(first_stem,second_stem),third_orig,list(set(first_url).intersection(*[second_url,third_url])))
        model3 = dict_insert(model3,(second_stem,third_stem),fourth_orig,list(set(second_url).intersection(*[third_url,fourth_url])))
        
        model4 = dict_insert(model4,(first_stem, second_stem, third_stem),fourth_orig,fourth_url)
   
        
## Transform counts to probabilities

for w1 in model2.keys():
    ssum = sum(model2[w1][w2][0] for w2 in model2[w1].keys())
    for w2 in model2[w1].keys():
        model2[w1][w2][0] /= ssum

for w1_w2 in model3.keys():
    ssum = sum(model3[w1_w2][w3][0] for w3 in model3[w1_w2].keys())
    for w3 in model3[w1_w2].keys():
        model3[w1_w2][w3][0] /= ssum

for w1_w2_w3 in model4.keys():
    ssum = sum(model4[w1_w2_w3][w4][0] for w4 in model4[w1_w2_w3].keys())
    for w4 in model4[w1_w2_w3].keys():
        model4[w1_w2_w3][w4][0] /= ssum

## Examples of keys and values in the three dictionaries

* We do not show an example of the 2-grams dictionary because the values are too many.

In [17]:
print('\nExample, model with 3-grams, key = (basic,structur):\n')
print(model3[('basic','structur')])

print('\nExample, model with 4-grams, key = (survei,structur,agricultur):\n')
print(model4[('survei','structur','agricultur')])

Example, model with 3-grams, key = (basic,structur):

{'survey': [0.3333333333333333, ['https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Glossary:Farm_structure_survey_(FSS)']], 'employment': [0.6666666666666666, ['https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Statistics_on_small_and_medium-sized_enterprises']]}

Example, model with 4-grams, key = (survei,structur,agricultur):

{'carried': [0.3333333333333333, ['https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Glossary:Farm_structure_survey_(FSS)']], 'definitions': [0.3333333333333333, ['https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Survey_on_agricultural_production_methods']], 'project': [0.3333333333333333, ['https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Survey_on_agricultural_production_methods']]}

### Query Builder 1
***

In [18]:
import ipywidgets as widgets
layout = widgets.Layout(width='600px', height='30px')

In [19]:

def change_top_articles( Keywords):

    from operator import itemgetter
    p = PorterStemmer()
    
    last_match = ''
    
    #if not Keywords.endswith(' '):
    #    return None
    
    def test_and_back_step(x):
        mod_index = -1
        models = [model2,model3,model4]
        if len(x)==1: 
            x=x[0] ; model=models[0]
        elif len(x) ==2 or len(x) == 3:
            x=tuple(x) ; mod_index=len(x)-1; model=models[mod_index]
        elif len(x)==4:
            x=tuple(x[:3]) ; model=models[2]
        else:
            return None
        while not models[mod_index].get(x) and mod_index >=0:
            x=x[:-1]
            if len(x)==1 : x=x[0]
            mod_index -=1 ; model=models[mod_index] 
        return (model,x)    
            

    x = Keywords.split() 
    if len(x) ==0: 
        print()
        return
    x = [p.stem(el) for el in x]
    
    
    model,x = test_and_back_step(x)
    if not model.get(x):
        return None
    

    print()
    print('Based on last match: ',x,'\n')
    print('Suggestions, probabilities (in descending order) and relevant URLs: ')
    proposals = sorted([(k,v) for (k,v) in model[x].items()],key=itemgetter(1),reverse=True)
    last_match = x
    for key, value in proposals:
        print()
        print(key,': ',value[0])
        for url in value[1]:
            print(url)
   
    
def query_build1(value):
  style = {'description_width': 'initial'}
    
  Keywords = widgets.Text(
      value=value,
      placeholder='Type something',
      description='Keywords:',
      disabled=False
  )

  ui = widgets.HBox([Keywords])
  out = widgets.interactive_output(change_top_articles, {'Keywords': Keywords})
  display(ui, out)
    
query_build1(value='household')

HBox(children=(Text(value='household', description='Keywords:', placeholder='Type something'),))

Output()