# Statistics Explained  articles: noun phrases and matching with Eurostat's Concepts and Definitions Database

In [1]:
import re
import pandas as pd
import sys

In [2]:
from datetime import datetime

def file_name(pre,ext):
    current_time = datetime.now() 
    return pre + '_'+ str(current_time.month)+ '_' + str(current_time.day) + \
                 '_' + str(current_time.hour)+ '_' + str(current_time.minute)  +'.'+ext

In [3]:
import pyodbc
c = pyodbc.connect('DSN=Virtuoso All;DBA=ESTAT;UID=kimon;PWD=RkhvQYZ442e2JVXLHdtW')
cursor = c.cursor()

In [4]:
#import unicodedata as ud

def clean(x, quotes=True):
    if pd.isnull(x): return x  
    x = x.strip()
    
    ## make letter-question mark-letter -> letter-quote-space-letter !!! but NOT in the lists of URLs!!!
    if quotes:
        x = re.sub(r'([A-Za-z])\?([A-Za-z])','\\1\' \\2',x) 
    
    ## make letter-question mark-space lower case letter letter-quote-space letter
    x = re.sub(r'([A-Za-z])\? ([a-z])','\\1\' \\2',x) 

    ## delete ,000 commas in numbers    
    x = re.sub(r'\b(\d+),(\d+)\b','\\1\\2',x) ## CORRECTED
    
    ## delete  000 spaces in numbers
    x = re.sub(r'\b(\d+) (\d+)\b','\\1\\2',x) ## CORRECTED
    
    ## remove more than one spaces
    x = re.sub(r' +', ' ',x)
    
    ## remove start and end spaces
    x = re.sub(r'^ +| +$', '',x,flags=re.MULTILINE) 
    
    ## space-comma -> comma
    x = re.sub(r' \,',',',x)
    
    ## space-dot -> dot
    x = re.sub(r' \.','.',x)
    
    x = re.sub(r'â.{2}',"'",x) ### !!! NEW: single quotes are read as: âXX
    
    #x = x.encode('latin1').decode('utf-8') ## â\x80\x99
    #x = ud.normalize('NFKD',x).encode('ascii', 'ignore').decode()
    
    return x

### Statistics explained articles

* IDs and titles from dat_link_info, with resource_information_id=1, i.e. Eurostat (see ESTAT.V1.mod_resource_information) and matching IDs from dat_article.
* Carry out data cleansing on titles and URLs.

In [5]:
SQLCommand = """SELECT id, title 
                FROM ESTAT.V1.dat_link_info 
                WHERE resource_information_id=1 AND id IN (SELECT id FROM ESTAT.V1.dat_article) """

SE_df = pd.read_sql(SQLCommand,c)

SE_df['title'] = SE_df['title'].apply(clean)
SE_df.head(5)

   id                                              title
0   7                       Accidents at work statistics
1  13                          National accounts and GDP
2  16                Railway safety statistics in the EU
3  17               Railway freight transport statistics
4  18  Railway passenger transport statistics - quart...

### Add paragraphs titles and contents

* From dat_article_paragraph with abstract=0 (i.e. "no").
* Match article_id from dat_article_paragraph with id from dat_article.
* Carry out data cleansing on titles and paragraph contents.

In [6]:
SQLCommand = """SELECT article_id, title, content 
                FROM ESTAT.V1.dat_article_paragraph
                WHERE abstract=0 AND article_id IN (SELECT id FROM ESTAT.V1.dat_article) """

add_content = pd.read_sql(SQLCommand,c)
add_content['title'] = add_content['title'].apply(clean)
add_content['content'] = add_content['content'].apply(clean)
add_content

,article_id,title,content
0,2905,Absences from work sharply increase in first h...,Absences from work recorded unprecedented high...
1,2905,Absences: 9.5 % of employment in Q4 2019 and 1...,The article's next figure (Figure 4) compares ...
2,2905,Higher share of absences from work among women...,"Considering all four quarters of 2020, the sha..."
3,2905,Absences from work due to own illness or disab...,"From Q4 2019 to Q4 2020, the number of people ..."
4,2905,Absences from work due to holidays,"Expressed as a share of employed people, absen..."
...,...,...,...
3854,10539,General presentation and definition,Scope of asylum statistics and Dublin statisti...
3855,10539,Methodological aspects in asylum statistics,Annual aggregate of the number of asylum appli...
3856,10539,Methodological aspects in Dublin statistics,Asymmetries For most of the collected Dublin s...
3857,10539,What questions can or cannot be answered with ...,How many asylum seekers are entering EU Member...
3858,10539,Policy context,The collected asylum statistics and Dublin sta...

### Aggregate above paragraph titles and contents  from SE articles paragraphs by article id

* Create a column _raw content_ which gathers all paragraph titles and contents in one text per article.

In [7]:
add_content_grouped = add_content.groupby(['article_id'])[['title','content']].aggregate(lambda x: list(x))
add_content_grouped.reset_index(drop=False, inplace=True)
for i in range(len(add_content_grouped)):
    add_content_grouped.loc[i,'raw content'] = ''
    for (a,b) in zip(add_content_grouped.loc[i,'title'],add_content_grouped.loc[i,'content']):
        add_content_grouped.loc[i,'raw content'] += ' '+a + ' ' + b
add_content_grouped = add_content_grouped[['article_id','raw content']]    

add_content_grouped

     article_id                                        raw content
0             7   Number of accidents In 2018, there were 3.1 m...
1            13   Developments for GDP in the EU-27: growth sin...
2            16   Fall in the number of railway accidents 9 % f...
3            17   Downturn for EU transport performance in 2019...
4            18   Rail passenger transport performance continue...
..          ...                                                ...
860       10456   Problem After successfully identifying and jo...
861       10470   Problem In France, there was significant room...
862       10506   General overview Nine PEEIs concern short-ter...
863       10531   What are administrative sources? The term 'ad...
864       10539   Main points Asylum statistics and 'Dublin' st...

[865 rows x 2 columns]

### Merge raw content of SE articles with main file

* Also, add title to raw content.

In [8]:
SE_df = pd.merge(SE_df,add_content_grouped,left_on='id',right_on='article_id',how='inner')
SE_df.drop(['article_id'],axis=1,inplace=True)

SE_df['raw content'] = SE_df['title'] +'. '+SE_df['raw content']

SE_df.head(5)

,id,title,raw content
0,7,Accidents at work statistics,Accidents at work statistics. Number of accid...
1,13,National accounts and GDP,National accounts and GDP. Developments for G...
2,16,Railway safety statistics in the EU,Railway safety statistics in the EU. Fall in ...
3,17,Railway freight transport statistics,Railway freight transport statistics. Downtur...
4,18,Railway passenger transport statistics - quart...,Railway passenger transport statistics - quart...

### Check for missing information

In [9]:
import numpy as np

SE_df = SE_df.replace('', np.nan) 
print(SE_df.isnull().sum())

id             0
title          0
raw content    0
dtype: int64

### Collecting information on noun phrases

In [10]:
import nltk
import re
import pprint
from nltk import Tree

new_patterns = """
    NP:    {<DT><WP><VBP>*<RB>*<VBN><IN><NN>}
           {<NN|NNS|NNP|NNPS><IN>*<NN|NNS|NNP|NNPS>+}
           {<JJ>*<NN|NNS|NNP|NNPS><CC>*<NN|NNS|NNP|NNPS>+}
           {<JJ>*<NN|NNS|NNP|NNPS>+}
           
    """

new_NPChunker = nltk.RegexpParser(new_patterns)

def prepare_text(input):
    tokenized_sentence = nltk.sent_tokenize(input)  # Tokenize the text into sentences.
    tokenized_words = [nltk.word_tokenize(sentence) for sentence in tokenized_sentence]  # Tokenize words in sentences.
    tagged_words = [nltk.pos_tag(word) for word in tokenized_words]  # Tag words for POS in each sentence.
    word_tree = [new_NPChunker.parse(word) for word in tagged_words]  # Identify NP chunks
    return word_tree  # Return the tagged & chunked sentences.


def return_a_list_of_NPs(sentences):
    nps = []  # an empty list in which to NPs will be stored.
    for sent in sentences:
        tree = new_NPChunker.parse(sent)
        for subtree in tree.subtrees():
            if subtree.label() == 'NP':
                t = subtree
                t = ' '.join(word for word, tag in t.leaves())
                nps.append(t)
    return nps

In [11]:
d=[]

for i in range(len(SE_df)):
    sentences = prepare_text(SE_df.loc[i,'raw content'])
    res = return_a_list_of_NPs(sentences)
    res = [(SE_df.loc[i,'id'],l) for l in res]
    d.extend(res)

In [12]:
nphrases_df = pd.DataFrame(d,columns=["doc_id", "noun_phrase"])    
nphrases_df

        doc_id                     noun_phrase
0            7    Accidents at work statistics
1            7             Number of accidents
2            7             non-fatal accidents
3            7                   calendar days
4            7               absence from work
...        ...                             ...
418461   10539                stateless person
418462   10539              EURODAC Regulation
418463   10539                          access
418464   10539  EU fingerprint database record
418465   10539                   asylum seeker

[418466 rows x 2 columns]

### Merge with the file with the SE titles.

In [13]:
nphrases_df2=pd.merge(SE_df[['id','title']],nphrases_df,left_on='id',right_on='doc_id')
nphrases_df2.drop(columns=['id'],inplace=True)
nphrases_df2

                               title  doc_id                     noun_phrase
0       Accidents at work statistics       7    Accidents at work statistics
1       Accidents at work statistics       7             Number of accidents
2       Accidents at work statistics       7             non-fatal accidents
3       Accidents at work statistics       7                   calendar days
4       Accidents at work statistics       7               absence from work
...                              ...     ...                             ...
418461  Asylum statistics introduced   10539                stateless person
418462  Asylum statistics introduced   10539              EURODAC Regulation
418463  Asylum statistics introduced   10539                          access
418464  Asylum statistics introduced   10539  EU fingerprint database record
418465  Asylum statistics introduced   10539                   asylum seeker

[418466 rows x 3 columns]

### Lemmatize noun phrases
* NLTK seems to be better than Spacy in lemmatization. Convert to lower-case first. 
* Keep only words with alphanumeric characters and drop stop-words.

In [14]:
import nltk

from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer

w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

stop = stopwords.words('english')

In [15]:
def lemmatize_text(text): ## only alphanumeric characters and drop stop-words
    return [lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text) if w.isalnum() and not w in stop]

nphrases_df2['normalized_noun_phrase'] = nphrases_df2.noun_phrase.apply(lambda x: x.lower())
nphrases_df2['normalized_noun_phrase'] = nphrases_df2.normalized_noun_phrase.apply(lemmatize_text)
nphrases_df2['normalized_noun_phrase'] = [' '.join(map(str, l)) for l in nphrases_df2['normalized_noun_phrase'] ]
nphrases_df2['normalized_noun_phrase'] = nphrases_df2.normalized_noun_phrase.apply(lambda x: x.upper())
nphrases_df2

,title,doc_id,noun_phrase,normalized_noun_phrase
0,Accidents at work statistics,7,Accidents at work statistics,ACCIDENT WORK STATISTIC
1,Accidents at work statistics,7,Number of accidents,NUMBER ACCIDENT
2,Accidents at work statistics,7,non-fatal accidents,ACCIDENT
3,Accidents at work statistics,7,calendar days,CALENDAR DAY
4,Accidents at work statistics,7,absence from work,ABSENCE WORK
...,...,...,...,...
418461,Asylum statistics introduced,10539,stateless person,STATELESS PERSON
418462,Asylum statistics introduced,10539,EURODAC Regulation,EURODAC REGULATION
418463,Asylum statistics introduced,10539,access,ACCESS
418464,Asylum statistics introduced,10539,EU fingerprint database record,EU FINGERPRINT DATABASE RECORD
418465,Asylum statistics introduced,10539,asylum seeker,ASYLUM SEEKER

In [16]:
nphrases_df2.replace('', np.nan, inplace=True)
nphrases_df2.dropna(subset=['normalized_noun_phrase'],inplace=True)
nphrases_df2

,title,doc_id,noun_phrase,normalized_noun_phrase
0,Accidents at work statistics,7,Accidents at work statistics,ACCIDENT WORK STATISTIC
1,Accidents at work statistics,7,Number of accidents,NUMBER ACCIDENT
2,Accidents at work statistics,7,non-fatal accidents,ACCIDENT
3,Accidents at work statistics,7,calendar days,CALENDAR DAY
4,Accidents at work statistics,7,absence from work,ABSENCE WORK
...,...,...,...,...
418461,Asylum statistics introduced,10539,stateless person,STATELESS PERSON
418462,Asylum statistics introduced,10539,EURODAC Regulation,EURODAC REGULATION
418463,Asylum statistics introduced,10539,access,ACCESS
418464,Asylum statistics introduced,10539,EU fingerprint database record,EU FINGERPRINT DATABASE RECORD
418465,Asylum statistics introduced,10539,asylum seeker,ASYLUM SEEKER

* Some further processing.
* Cut noun-phrases with only one word.

In [17]:
nphrases_df2['normalized_noun_phrase'] = nphrases_df2['normalized_noun_phrase'].apply(lambda x: re.sub(r'[()]','',x))
nphrases_df2['normalized_noun_phrase'] = nphrases_df2['normalized_noun_phrase'].apply(lambda x: re.sub(r'Â','A',x))
nphrases_df2['normalized_noun_phrase'] = nphrases_df2['normalized_noun_phrase'].apply(lambda x: re.sub(r'%','',x))
nphrases_df2['normalized_noun_phrase'] = nphrases_df2['normalized_noun_phrase'].apply(lambda x: re.sub(r'\]','',x))
nphrases_df2['normalized_noun_phrase'] = nphrases_df2['normalized_noun_phrase'].apply(lambda x: re.sub(r'/]','',x))
nphrases_df2['normalized_noun_phrase'] = nphrases_df2['normalized_noun_phrase'].apply(lambda x: re.sub(r'\+]','',x))
nphrases_df2['normalized_noun_phrase'] = nphrases_df2['normalized_noun_phrase'].apply(lambda x: re.sub(r'\-]','',x))
nphrases_df2['normalized_noun_phrase'] = nphrases_df2['normalized_noun_phrase'].apply(lambda x: re.sub(r'\d+','',x))

nphrases_df2['normalized_noun_phrase_count'] = nphrases_df2['normalized_noun_phrase'].apply(lambda x: len(x.replace(',',' ').split()))
idx = nphrases_df2[nphrases_df2['normalized_noun_phrase_count'] <=1].index
print(idx)

nphrases_df2.drop(nphrases_df2[nphrases_df2['normalized_noun_phrase_count'] <=1].index, inplace = True)
idx = nphrases_df2[nphrases_df2['normalized_noun_phrase_count'] <=1].index
print(idx)

nphrases_df2.drop(columns=['normalized_noun_phrase_count'],inplace=True)

Int64Index([     2,      7,      8,      9,     11,     15,     19,     20,
                22,     23,
            ...
            418434, 418437, 418439, 418440, 418443, 418445, 418446, 418452,
            418458, 418463],
           dtype='int64', length=200908)
Int64Index([], dtype='int64')

* Collect overall frequencies.

In [18]:
tmp=nphrases_df2.groupby(by='normalized_noun_phrase').size().to_frame('Overall_Frequencies')
tmp
nphrases_df2 = pd.merge(nphrases_df2,tmp,on='normalized_noun_phrase')
nphrases_df2

,title,doc_id,noun_phrase,normalized_noun_phrase,Overall_Frequencies
0,Accidents at work statistics,7,Accidents at work statistics,ACCIDENT WORK STATISTIC,1
1,Accidents at work statistics,7,Number of accidents,NUMBER ACCIDENT,14
2,Accidents at work statistics,7,number of accidents,NUMBER ACCIDENT,14
3,Accidents at work statistics,7,number of accidents,NUMBER ACCIDENT,14
4,Accidents at work statistics,7,number of accidents,NUMBER ACCIDENT,14
...,...,...,...,...,...
182535,Asylum statistics introduced,10539,references Regulation,REFERENCE REGULATION,1
182536,Asylum statistics introduced,10539,Asylum Procedures Directive,ASYLUM PROCEDURE DIRECTIVE,1
182537,Asylum statistics introduced,10539,Reception Conditions Directive,RECEPTION CONDITION DIRECTIVE,1
182538,Asylum statistics introduced,10539,EURODAC Regulation,EURODAC REGULATION,1
182539,Asylum statistics introduced,10539,EU fingerprint database record,EU FINGERPRINT DATABASE RECORD,1

* Collect frequencies per document.

In [19]:
nphrases_df2['Frequencies_per_doc']=nphrases_df2.groupby(['doc_id','normalized_noun_phrase'])['normalized_noun_phrase'].transform('count')
nphrases_df2

,title,doc_id,noun_phrase,normalized_noun_phrase,Overall_Frequencies,Frequencies_per_doc
0,Accidents at work statistics,7,Accidents at work statistics,ACCIDENT WORK STATISTIC,1,1
1,Accidents at work statistics,7,Number of accidents,NUMBER ACCIDENT,14,7
2,Accidents at work statistics,7,number of accidents,NUMBER ACCIDENT,14,7
3,Accidents at work statistics,7,number of accidents,NUMBER ACCIDENT,14,7
4,Accidents at work statistics,7,number of accidents,NUMBER ACCIDENT,14,7
...,...,...,...,...,...,...
182535,Asylum statistics introduced,10539,references Regulation,REFERENCE REGULATION,1,1
182536,Asylum statistics introduced,10539,Asylum Procedures Directive,ASYLUM PROCEDURE DIRECTIVE,1,1
182537,Asylum statistics introduced,10539,Reception Conditions Directive,RECEPTION CONDITION DIRECTIVE,1,1
182538,Asylum statistics introduced,10539,EURODAC Regulation,EURODAC REGULATION,1,1
182539,Asylum statistics introduced,10539,EU fingerprint database record,EU FINGERPRINT DATABASE RECORD,1,1

### Eurostat's Concepts and Definitions Database

In [20]:
SQLCommand = """SELECT id, code_id, term
                FROM ESTAT.V1.dat_estat_glossary 
             """


concepts_df = pd.read_sql(SQLCommand,c)
concepts_df


concepts_df

          id  code_id                                               term
0          1    12789                                         (n,k) rule
1          2    12799                                         (p,q) rule
2          3    19247                                           Âµ-ARGUS
3          4     5545                        Abandoned wine-growing area
4          5    20003                      Abduction by a legal guardian
...      ...      ...                                                ...
11215  11216     4277                   Value adjustments on investments
11216  11217     4284  Value of transactions between affiliated enter...
11217  11218     4285                Value re-adjustments on investments
11218  11219    19099                        Widened agricultural census
11219  11220     4344                                  Wind (code RA300)

[11220 rows x 3 columns]

### Lemmatize terms

* Convert to lower-case first.

In [21]:
concepts_df['lemmatized_term'] = concepts_df['term'].apply(lambda x: x.lower())
concepts_df['lemmatized_term']= concepts_df['lemmatized_term'].apply(lemmatize_text)
concepts_df['lemmatized_term']= [' '.join(map(str, l)) for l in concepts_df['lemmatized_term']]
concepts_df['lemmatized_term'] = concepts_df['lemmatized_term'].apply(lambda x: x.upper())
concepts_df

,id,code_id,term,lemmatized_term
0,1,12789,"(n,k) rule",RULE
1,2,12799,"(p,q) rule",RULE
2,3,19247,Âµ-ARGUS,
3,4,5545,Abandoned wine-growing area,ABANDONED AREA
4,5,20003,Abduction by a legal guardian,ABDUCTION LEGAL GUARDIAN
...,...,...,...,...
11215,11216,4277,Value adjustments on investments,VALUE ADJUSTMENT INVESTMENT
11216,11217,4284,Value of transactions between affiliated enter...,VALUE TRANSACTION AFFILIATED ENTERPRISE
11217,11218,4285,Value re-adjustments on investments,VALUE INVESTMENT
11218,11219,19099,Widened agricultural census,WIDENED AGRICULTURAL CENSUS
11219,11220,4344,Wind (code RA300),WIND

### Unique noun phrases in SE articles

In [22]:
res = nphrases_df2.groupby(['normalized_noun_phrase']).size().to_frame('size').reset_index() ## unique noun phrases
res

         normalized_noun_phrase  size
0                       A LEVEL     1
1               A SINGLE PERSON     1
2      AASTERN EUROPEAN COUNTRY     1
3              ABBREVIATED NEET     1
4              ABBREVIATION ESA     1
...                         ...   ...
57053               ZOOM BUTTON     1
57054                    Ã LAND     8
57055             Ã LAND ISLAND     1
57056                    Ã RDAL     1
57057                      Î¼ J     1

[57058 rows x 2 columns]

###  Find matches per unique noun phrase

* Column Common has a list with tuples per record/unique noun phrase from the SE articles: (id of the term in Concepts & Definitions with the match, entire Concepts & Definitions normalized term, the part that matches).
* Columns len_intersect and len_union contain the corresponding lengths of the intersection and the union of terms for the calculation of Jaccard similarities.
* Column Jaccard has lists with the corresponding Jaccard similarities.

In [32]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

res['Common']=[[] for i in range(len(res))]
res['len_intersect']=[[] for i in range(len(res))]
res['len_union']=[[] for i in range(len(res))]
res['Jaccard']=[[] for i in range(len(res))]

search_in = concepts_df['lemmatized_term'].apply(lambda x: x.split(' '))
search_in
for i in range(len(res)):
    np = res.loc[i,'normalized_noun_phrase'].strip().split(' ')
    np = [el for el in np if not el.lower() in stop] ## excluding individual words which are stop-words
    np = set(np)
    if (i+1) % 100==0:
        print(i+1,' of ',len(res),' unique noun phrases: ',np)
    for (j,x) in enumerate(search_in):
        set_2 = set(x)
        common = np.intersection(set_2)
        uni = np.union(set_2)
        if len(common) > 0:
            #print(i,np, ' with ',concepts_df.loc[j,'normalized_noun_phrase'],' : ',common)
            res.loc[i,'Common'].append(list((concepts_df.loc[j,'code_id'],concepts_df.loc[j,'lemmatized_term'],common)))
            res.loc[i,'len_intersect'].append(len(common))
            res.loc[i,'len_union'].append(len(uni))
            res.loc[i,'Jaccard'].append(len(common)/len(uni))
            
res

       level_0  index    normalized_noun_phrase  size Common len_intersect  \
0            0      0                   A LEVEL     1     []            []
1            1      1           A SINGLE PERSON     1     []            []
2            2      2  AASTERN EUROPEAN COUNTRY     1     []            []
3            3      3          ABBREVIATED NEET     1     []            []
4            4      4          ABBREVIATION ESA     1     []            []
...        ...    ...                       ...   ...    ...           ...
57053    57053  57053               ZOOM BUTTON     1     []            []
57054    57054  57054                    Ã LAND     8     []            []
57055    57055  57055             Ã LAND ISLAND     1     []            []
57056    57056  57056                    Ã RDAL     1     []            []
57057    57057  57057                      Î¼ J     1     []            []

      len_union Jaccard
0            []      []
1            []      []
2            []      []
3            []      []
4            []      []
...         ...     ...
57053        []      []
57054        []      []
57055        []      []
57056        []      []
57057        []      []

[57058 rows x 8 columns]
100  of  57058  unique noun phrases:  {'YEAR', 'ACADEMIC'}
200  of  57058  unique noun phrases:  {'ACCOMMODATION', 'ASSISTANCE'}
300  of  57058  unique noun phrases:  {'ACCOUNT', 'INDUSTRY'}
400  of  57058  unique noun phrases:  {'PRINCIPLE', 'ACCOUNTING'}
500  of  57058  unique noun phrases:  {'PLANNING', 'HEALTH', 'ACTION', 'WORKFORCE'}
600  of  57058  unique noun phrases:  {'EXPERT', 'ACCOUNT', 'HEALTH', 'ACTIVITY'}
700  of  57058  unique noun phrases:  {'ACTUAL', 'ACTIVITY'}
800  of  57058  unique noun phrases:  {'ADDITIONAL', 'ADMINISTRATIVE', 'DATA'}
900  of  57058  unique noun phrases:  {'CHANGE', 'ADDRESS'}
1000  of  57058  unique noun phrases:  {'MUNICIPALITY', 'FUND', 'ADMINISTRATION', 'LAND'}
1100  of  57058  unique noun phrases:  {'INSTRUCTION', 'ADULT'}
1200  of  57058  unique noun phrases:  {'PHYSICAL', 'AEROBIC', 'ACTIVITY'}
1300  of  57058  unique noun phrases:  {'AGE', 'CRITERION'}
1400  of  57058  unique noun phrases:  {'AGGREGATE', 'ENERGY', 'BALANCE'}
1500  of  57058  unique noun phrases:  {'AGRICULTURAL', 'GOOD'}
1600  of  57058  unique noun phrases:  {'DEVELOPMENT', 'POLICY', 'AIM'}
1700  of  57058  unique noun phrases:  {'ALGARVE', 'PORTUGAL'}
1800  of  57058  unique noun phrases:  {'IMPLEMENTATION', 'AMBITION'}
1900  of  57058  unique noun phrases:  {'AMOUNT', 'PEOPLE'}
2000  of  57058  unique noun phrases:  {'EU', 'MEMBER', 'REVEALS', 'ANALYSIS', 'STATE'}
2100  of  57058  unique noun phrases:  {'ANALYSIS', 'SOURCE'}
2200  of  57058  unique noun phrases:  {'VII', 'ANNEX'}
2300  of  57058  unique noun phrases:  {'ANNUAL', 'SOURCE', 'METHOD'}
2400  of  57058  unique noun phrases:  {'EXAMINATION', 'APPLICATION'}
2500  of  57058  unique noun phrases:  {'AQUACULTURE', 'INDUSTRY'}
2600  of  57058  unique noun phrases:  {'AREA', 'EUROSTAT'}
2700  of  57058  unique noun phrases:  {'AREA', 'STATISTIC'}
2800  of  57058  unique noun phrases:  {'ARTICLE', 'DOCUMENTATION'}
2900  of  57058  unique noun phrases:  {'ASIAN', 'PARTNER', 'ASEM'}
3000  of  57058  unique noun phrases:  {'LIKE', 'RESEARCH', 'ASSET'}
3100  of  57058  unique noun phrases:  {'ATLANTIC', 'REGION'}
3200  of  57058  unique noun phrases:  {'CHINA', 'AUSTRALIA'}
3300  of  57058  unique noun phrases:  {'AVAILABILITY', 'COUNTRY', 'DATA'}
3400  of  57058  unique noun phrases:  {'AGE', 'AVERAGE'}
3500  of  57058  unique noun phrases:  {'OCEAN', 'AVERAGE', 'ACIDITY'}
3600  of  57058  unique noun phrases:  {'AXLE', 'CONFIGURATION'}
3700  of  57058  unique noun phrases:  {'BALANCED', 'SET'}
3800  of  57058  unique noun phrases:  {'MAPPING', 'BASE', 'LAYER'}
3900  of  57058  unique noun phrases:  {'STATISTICAL', 'BASIC', 'DATA'}
4000  of  57058  unique noun phrases:  {'BC', 'RENEWAL'}
4100  of  57058  unique noun phrases:  {'SPAIN', 'BENALMADENA'}
4200  of  57058  unique noun phrases:  {'BEVERAGE', 'TOBACCO'}
4300  of  57058  unique noun phrases:  {'BIOMASS', 'ESTIMATE'}
4400  of  57058  unique noun phrases:  {'BOARD', 'POSITION'}
4500  of  57058  unique noun phrases:  {'FILM', 'BOUGHT'}
4600  of  57058  unique noun phrases:  {'BREAKDOWN', 'DEGREE'}
4700  of  57058  unique noun phrases:  {'SUBSCRIPTION', 'BROADBAND'}
4800  of  57058  unique noun phrases:  {'FINLAND', 'BULGARIA'}
4900  of  57058  unique noun phrases:  {'BUSINESS', 'SYSTEM', 'DATA'}
5000  of  57058  unique noun phrases:  {'MONITORING', 'BUTTERFLY', 'SCHEME'}
5100  of  57058  unique noun phrases:  {'EVOLUTION', 'YEAR', 'CALENDAR'}
5200  of  57058  unique noun phrases:  {'CAPACITY', 'DATA'}
5300  of  57058  unique noun phrases:  {'EXPENDITURE', 'CAPUT'}
5400  of  57058  unique noun phrases:  {'INCLUDE', 'CARE', 'ACTIVITY'}
5500  of  57058  unique noun phrases:  {'CASE', 'HEPATITIS'}
5600  of  57058  unique noun phrases:  {'CASH', 'PAYMENT'}
5700  of  57058  unique noun phrases:  {'CATEGORY', 'USE'}
5800  of  57058  unique noun phrases:  {'CENSUS', 'SURVEY'}
5900  of  57058  unique noun phrases:  {'CROP', 'CEREAL'}
6000  of  57058  unique noun phrases:  {'VARIABLE', 'CERTAIN'}
6100  of  57058  unique noun phrases:  {'CHANGE', 'HOUR'}
6200  of  57058  unique noun phrases:  {'CHANGE', 'UNEMPLOYMENT'}
6300  of  57058  unique noun phrases:  {'PLAUSIBILITY', 'CHECK'}
6400  of  57058  unique noun phrases:  {'SPAIN', 'CHILDCARE'}
6500  of  57058  unique noun phrases:  {'CINEMA', 'ATTENDANCE'}
6600  of  57058  unique noun phrases:  {'CITIZENSHIP', 'GERMANY'}
6700  of  57058  unique noun phrases:  {'AUTÃ³NOMA', 'CIUDAD'}
6800  of  57058  unique noun phrases:  {'CLASSIFICATION', 'ISCED'}
6900  of  57058  unique noun phrases:  {'PEAK', 'CLEAR'}
7000  of  57058  unique noun phrases:  {'STOCK', 'CLOSING', 'VALUE'}
7100  of  57058  unique noun phrases:  {'CODE', 'SOURCE', 'FILE'}
7200  of  57058  unique noun phrases:  {'COST', 'COLLECTION'}
7300  of  57058  unique noun phrases:  {'FACTOR', 'COMBINED'}
7400  of  57058  unique noun phrases:  {'PROJECT', 'CYCLE', 'COMMISSION', 'EUROSTAT'}
7500  of  57058  unique noun phrases:  {'COMMON', 'INSTRUMENT'}
7600  of  57058  unique noun phrases:  {'COMMUNICATION', 'JOIN'}
7700  of  57058  unique noun phrases:  {'REGULATION', 'COMPARABILITY'}
7800  of  57058  unique noun phrases:  {'TRANSPORT', 'COMPARISON'}
7900  of  57058  unique noun phrases:  {'COMPLEMENTARY', 'INFORMATION'}
8000  of  57058  unique noun phrases:  {'COMPONENT', 'GFCF'}
8100  of  57058  unique noun phrases:  {'COMPULSORY', 'MATERIAL'}
8200  of  57058  unique noun phrases:  {'PERMIT', 'CONCEPT'}
8300  of  57058  unique noun phrases:  {'INCREASE', 'CONCURRENT'}
8400  of  57058  unique noun phrases:  {'ELECTION', 'CONSECUTIVE'}
8500  of  57058  unique noun phrases:  {'CONSIDERABLE', 'QUANTITY'}
8600  of  57058  unique noun phrases:  {'CONSTANT', 'TAX'}
8700  of  57058  unique noun phrases:  {'BEHAVIOUR', 'CONSUMER'}
8800  of  57058  unique noun phrases:  {'CONSUMPTION', 'INDUSTRY'}
8900  of  57058  unique noun phrases:  {'BREXIT', 'CONTEXT'}
9000  of  57058  unique noun phrases:  {'CONTRACTION', 'IRELAND'}
9100  of  57058  unique noun phrases:  {'CRITERION', 'CONTROL'}
9200  of  57058  unique noun phrases:  {'REFERENCE', 'COORDINATE'}
9300  of  57058  unique noun phrases:  {'PROFIT', 'CORPORATE'}
9400  of  57058  unique noun phrases:  {'NUMBER', 'CORRESPONDING'}
9500  of  57058  unique noun phrases:  {'COST', 'WAGE'}
9600  of  57058  unique noun phrases:  {'ECONOMY', 'COUNTRY'}
9700  of  57058  unique noun phrases:  {'PEOPLE', 'COUNTRY'}
9800  of  57058  unique noun phrases:  {'COURSE', 'PROCESSING', 'DATA'}
9900  of  57058  unique noun phrases:  {'CRAFT', 'WORKER'}
10000  of  57058  unique noun phrases:  {'CROATIA', 'LUXEMBOURG'}
10100  of  57058  unique noun phrases:  {'TRAFFIC', 'PASSENGER', 'CRUISE'}
10200  of  57058  unique noun phrases:  {'RISE', 'CUMULATIVE'}
10300  of  57058  unique noun phrases:  {'CURRENT', 'RESIDENCE'}
10400  of  57058  unique noun phrases:  {'CYPRUS', 'CROATIA'}
10500  of  57058  unique noun phrases:  {'PROCESS', 'DAIRY'}
10600  of  57058  unique noun phrases:  {'BUSINESS', 'PURPOSE', 'STATISTIC', 'DATA'}

10700  of  57058  unique noun phrases:  {'PRACTICE', 'DISSEMINATION', 'DATA'}
10800  of  57058  unique noun phrases:  {'SOLUTION', 'HUB', 'DATA'}
10900  of  57058  unique noun phrases:  {'REGION', 'NUT', 'DATA'}
11000  of  57058  unique noun phrases:  {'SECURITY', 'DATA'}
11100  of  57058  unique noun phrases:  {'DATABASE', 'EUROSTAT'}
11200  of  57058  unique noun phrases:  {'DAY', 'MALTA'}
11300  of  57058  unique noun phrases:  {'INSTRUMENT', 'DEBT'}
11400  of  57058  unique noun phrases:  {'DECLINE', 'GREECE'}
11500  of  57058  unique noun phrases:  {'LSU', 'DECREASE'}
11600  of  57058  unique noun phrases:  {'DEFICIT', 'EUR'}
11700  of  57058  unique noun phrases:  {'STATISTIC', 'PRIOR', 'DEFINITION'}
11800  of  57058  unique noun phrases:  {'UNIFORMITY', 'DEGREE'}
11900  of  57058  unique noun phrases:  {'DEMANDING', 'TASK'}
12000  of  57058  unique noun phrases:  {'DENSITY', 'QUALITY'}
12100  of  57058  unique noun phrases:  {'THRESHOLD', 'DEPRIVATION'}
12200  of  57058  unique noun phrases:  {'RESIDENT', 'CHINA', 'EU', 'DESTINATION'}
12300  of  57058  unique noun phrases:  {'DETAILED', 'PORTRAIT'}
12400  of  57058  unique noun phrases:  {'DIMENSION', 'DEVELOPMENT'}
12500  of  57058  unique noun phrases:  {'PROGRAMME', 'DEVELOPMENT'}
12600  of  57058  unique noun phrases:  {'DIETARY', 'LIFESTYLE', 'HABIT'}
12700  of  57058  unique noun phrases:  {'METHOD', 'DIFFERENCE'}
12800  of  57058  unique noun phrases:  {'CHANNEL', 'DIFFERENT'}
12900  of  57058  unique noun phrases:  {'SECTOR', 'INSTITUTIONAL', 'DIFFERENT'}
13000  of  57058  unique noun phrases:  {'SEASONAL', 'DIFFERENT', 'PROFILE'}
13100  of  57058  unique noun phrases:  {'TECHNOLOGY', 'DIFFUSION'}
13200  of  57058  unique noun phrases:  {'DIRECT', 'HEALTHCARE'}
13300  of  57058  unique noun phrases:  {'DISBURSEMENT', 'AGRICULTURE'}
13400  of  57058  unique noun phrases:  {'DISPERSION', 'TERM'}
13500  of  57058  unique noun phrases:  {'CITY', 'DISTINCT'}
13600  of  57058  unique noun phrases:  {'DISTRIBUTION', 'LIVING', 'POPULATION'}
13700  of  57058  unique noun phrases:  {'SLOVENIA', 'DIVISION'}
13800  of  57058  unique noun phrases:  {'DOMESTIC', 'SERVANT'}
13900  of  57058  unique noun phrases:  {'DRAWING', 'POINT'}
14000  of  57058  unique noun phrases:  {'PARIS', 'GRAND', 'DU'}
14100  of  57058  unique noun phrases:  {'DYNAMIC', 'VISUALISATION'}
14200  of  57058  unique noun phrases:  {'EASTERLY', 'DIRECTION'}
14300  of  57058  unique noun phrases:  {'DEPENDENCE', 'ECONOMIC'}
14400  of  57058  unique noun phrases:  {'ECONOMIC', 'RESOURCE'}
14500  of  57058  unique noun phrases:  {'ECONOMY', 'LEVEL', 'NUT'}
14600  of  57058  unique noun phrases:  {'EDUCATION', 'GERMANY'}
14700  of  57058  unique noun phrases:  {'SERVICE', 'EDUCATIONAL', 'GOOD'}
14800  of  57058  unique noun phrases:  {'EFFECTIVE', 'TREATMENT', 'MEDICAL'}
14900  of  57058  unique noun phrases:  {'EGYPT', 'JORDAN'}
15000  of  57058  unique noun phrases:  {'ELECTRICITY', 'SYSTEM'}
15100  of  57058  unique noun phrases:  {'COMBUSTION', 'EMISSION', 'FUEL'}
15200  of  57058  unique noun phrases:  {'EMPLOYEE', 'NORWAY'}
15300  of  57058  unique noun phrases:  {'EMPLOYMENT', 'INCOME', 'DECREASE'}
15400  of  57058  unique noun phrases:  {'EMPOWER', 'USER'}
15500  of  57058  unique noun phrases:  {'DEMAND', 'ENERGY'}
15600  of  57058  unique noun phrases:  {'GROUP', 'WORKING', 'ENERGY', 'STATISTIC', 'MEETING'}
15700  of  57058  unique noun phrases:  {'ENROLMENT', 'RATIO'}
15800  of  57058  unique noun phrases:  {'HOLDING', 'ENTIRE'}
15900  of  57058  unique noun phrases:  {'GOAL', 'ENVIRONMENTAL'}
16000  of  57058  unique noun phrases:  {'SPORT', 'EQUIPMENT'}
16100  of  57058  unique noun phrases:  {'STANDARD', 'ES'}
16200  of  57058  unique noun phrases:  {'ESTIMATE', 'BRINGS'}
16300  of  57058  unique noun phrases:  {'ESTONIA', 'SPAIN'}
16400  of  57058  unique noun phrases:  {'EU', 'CONSUMPTION'}
16500  of  57058  unique noun phrases:  {'FOREIGN', 'COUNCIL', 'EU', 'AFFAIR'}
16600  of  57058  unique noun phrases:  {'EU', 'LOAN'}
16700  of  57058  unique noun phrases:  {'EU', 'ACTIVITY', 'PORT'}
16800  of  57058  unique noun phrases:  {'EU', 'TOTAL'}
16900  of  57058  unique noun phrases:  {'EUROPE', 'REGARDLESS'}
17000  of  57058  unique noun phrases:  {'FUND', 'EUROPEAN'}
17100  of  57058  unique noun phrases:  {'STATISTIC', 'EUROPEAN', 'SOCIAL'}
17200  of  57058  unique noun phrases:  {'NOTIFICATION', 'EUROSTAT'}
17300  of  57058  unique noun phrases:  {'EVOLUTION', 'SOURCE', 'DATA'}
17400  of  57058  unique noun phrases:  {'ESTONIA', 'EXAMPLE'}
17500  of  57058  unique noun phrases:  {'SKILL', 'EXCELLENCE', 'DEVELOPMENT'}
17600  of  57058  unique noun phrases:  {'EXCHANGE', 'PRODUCT'}
17700  of  57058  unique noun phrases:  {'GUIDE', 'EXHAUSTIVE'}
17800  of  57058  unique noun phrases:  {'EXPENDITURE', 'HABIT'}
17900  of  57058  unique noun phrases:  {'LIFE', 'EXPERIENCE'}
18000  of  57058  unique noun phrases:  {'EU', 'COUNTRY', 'EXPORT'}
18100  of  57058  unique noun phrases:  {'EXPORTED', 'MANUFACTURED', 'GOOD'}
18200  of  57058  unique noun phrases:  {'EXTENT', 'PROBLEM'}
18300  of  57058  unique noun phrases:  {'NATURE', 'EXTRAORDINARY'}
18400  of  57058  unique noun phrases:  {'AGE', 'LIKE', 'FACTOR'}
18500  of  57058  unique noun phrases:  {'PETROLEUM', 'PRODUCT', 'FAMILY'}
18600  of  57058  unique noun phrases:  {'FARMING', 'SECTOR'}
18700  of  57058  unique noun phrases:  {'FEDERALISM', 'SUBSIDIARITY'}
18800  of  57058  unique noun phrases:  {'BUSINESS', 'FIELD'}
18900  of  57058  unique noun phrases:  {'FIFTH', 'SHOPPING'}
19000  of  57058  unique noun phrases:  {'FINAL', 'DATA'}
19100  of  57058  unique noun phrases:  {'FINANCIAL', 'BENEFIT'}
19200  of  57058  unique noun phrases:  {'INSTITUTE', 'FINANCING'}
19300  of  57058  unique noun phrases:  {'EDITION', 'FIRST'}
19400  of  57058  unique noun phrases:  {'FISCAL', 'BURDEN'}
19500  of  57058  unique noun phrases:  {'STATUS', 'FLAG', 'DATA'}
19600  of  57058  unique noun phrases:  {'ROMANIA', 'FLOW'}
19700  of  57058  unique noun phrases:  {'BASIC', 'DEFICIT', 'FOLLOWING'}
19800  of  57058  unique noun phrases:  {'SPECIALISATION', 'FOLLOWING'}
19900  of  57058  unique noun phrases:  {'FORCE', 'DENMARK'}
20000  of  57058  unique noun phrases:  {'LAW', 'ENFORCEMENT', 'FOREST'}
20100  of  57058  unique noun phrases:  {'PART', 'FORM'}
20200  of  57058  unique noun phrases:  {'FOSSIL', 'FUEL'}
20300  of  57058  unique noun phrases:  {'FRANCE', 'EUR'}
20400  of  57058  unique noun phrases:  {'RESIDENT', 'FRENCH'}
20500  of  57058  unique noun phrases:  {'POTATO', 'FROZEN'}
20600  of  57058  unique noun phrases:  {'POTENTIAL', 'FULL'}
20700  of  57058  unique noun phrases:  {'PROJECT', 'PREPARATION', 'FUNDING'}
20800  of  57058  unique noun phrases:  {'SPAIN', 'GALICIA'}
20900  of  57058  unique noun phrases:  {'GASEOUS', 'MATERIAL'}
21000  of  57058  unique noun phrases:  {'GENDER', 'DIFFERENCE'}
21100  of  57058  unique noun phrases:  {'REGULATION', 'GENERAL', 'IMPLEMENTING'}
21200  of  57058  unique noun phrases:  {'GENERATIONAL', 'GAP'}
21300  of  57058  unique noun phrases:  {'GEOGRAPHICAL', 'STRATIFICATION'}
21400  of  57058  unique noun phrases:  {'REGION', 'GERMAN'}
21500  of  57058  unique noun phrases:  {'GLACIAL', 'RETREAT'}
21600  of  57058  unique noun phrases:  {'WORK', 'GMINAS'}
21700  of  57058  unique noun phrases:  {'EXPORT', 'GOOD'}
21800  of  57058  unique noun phrases:  {'GOVERNMENT', 'ACTIVITY'}
21900  of  57058  unique noun phrases:  {'GOVERNMENT', 'SURPLUS', 'DEFICIT'}
22000  of  57058  unique noun phrases:  {'MAJORITY', 'GREAT'}
22100  of  57058  unique noun phrases:  {'GRID', 'CHANGE', 'CELL'}
22200  of  57058  unique noun phrases:  {'CONSUMER', 'GROUP', 'GOOD'}
22300  of  57058  unique noun phrases:  {'OLDER', 'GROW'}
22400  of  57058  unique noun phrases:  {'CONDITION', 'GUARANTEE'}
22500  of  57058  unique noun phrases:  {'HALF', 'HOUR'}
22600  of  57058  unique noun phrases:  {'HARMONISED', 'APPLICATION'}
22700  of  57058  unique noun phrases:  {'HEALTH', 'ACCOUNTING', 'FRAMEWORK'}
22800  of  57058  unique noun phrases:  {'HEALTH', 'MATTER'}
22900  of  57058  unique noun phrases:  {'TREATMENT', 'HEALTHCARE'}
23000  of  57058  unique noun phrases:  {'METHOD', 'HEDONIC'}

23100  of  57058  unique noun phrases:  {'HIGH', 'AGRICULTURAL', 'PRODUCTIVITY'}
23200  of  57058  unique noun phrases:  {'TECH', 'HIGH', 'PRODUCT'}
23300  of  57058  unique noun phrases:  {'HOLIDAY', 'MONTH'}
23400  of  57058  unique noun phrases:  {'RESOURCE', 'TECHNICAL', 'HOSPITAL'}
23500  of  57058  unique noun phrases:  {'HOUSEHOLD', 'EXPENDITURE', 'CONSUMPTION'}
23600  of  57058  unique noun phrases:  {'HOUSEHOLD', 'REGISTER', 'FILE'}
23700  of  57058  unique noun phrases:  {'HOUSING', 'SCHEME'}
23800  of  57058  unique noun phrases:  {'HUNGARY', 'IRELAND'}
23900  of  57058  unique noun phrases:  {'SECTOR', 'ICT'}
24000  of  57058  unique noun phrases:  {'IIP', 'EUR'}
24100  of  57058  unique noun phrases:  {'AGE', 'IMPACT'}
24200  of  57058  unique noun phrases:  {'IMPACT', 'UNEMPLOYMENT', 'RATE'}
24300  of  57058  unique noun phrases:  {'IMPORT', 'CATEGORY'}
24400  of  57058  unique noun phrases:  {'IMPORTANCE', 'CHILD'}
24500  of  57058  unique noun phrases:  {'FOREIGN', 'IMPORTANT', 'HAULIER'}
24600  of  57058  unique noun phrases:  {'PETROLEUM', 'IMPORTER'}
24700  of  57058  unique noun phrases:  {'SERVICE', 'INCENTIVE'}
24800  of  57058  unique noun phrases:  {'DEDUCTION', 'INCOME'}
24900  of  57058  unique noun phrases:  {'INCOME', 'PERIOD', 'REFERENCE'}
25000  of  57058  unique noun phrases:  {'DEMAND', 'INCREASE'}
25100  of  57058  unique noun phrases:  {'QUANTITY', 'INCREASE', 'TERM'}
25200  of  57058  unique noun phrases:  {'PERMIT', 'BUILDING', 'INDEX'}
25300  of  57058  unique noun phrases:  {'INDICATOR', 'AIR', 'TRANSPORT'}
25400  of  57058  unique noun phrases:  {'INDICATOR', 'SOIL', 'QUALITY'}
25500  of  57058  unique noun phrases:  {'HOUSE', 'INDIVIDUAL'}
25600  of  57058  unique noun phrases:  {'INDUSTRIAL', 'EFFLUENT'}
25700  of  57058  unique noun phrases:  {'TECHNOLOGY', 'ASSUMPTION', 'INDUSTRY'}
25800  of  57058  unique noun phrases:  {'INFORMAL', 'UNPAID', 'ACTIVITY'}
25900  of  57058  unique noun phrases:  {'EXCHANGE', 'INFORMATION', 'INSTRUMENT'}
26000  of  57058  unique noun phrases:  {'PERTAINING', 'INFORMATION'}
26100  of  57058  unique noun phrases:  {'INHABITANT', 'ACCIDENT'}
26200  of  57058  unique noun phrases:  {'INCREASE', 'INITIAL'}
26300  of  57058  unique noun phrases:  {'SERVICE', 'INPATIENT'}
26400  of  57058  unique noun phrases:  {'INSTITUTION', 'STRUCTURE'}
26500  of  57058  unique noun phrases:  {'MODEL', 'INTEGRATED', 'ASSESSMENT'}
26600  of  57058  unique noun phrases:  {'INTER', 'ALIA'}
26700  of  57058  unique noun phrases:  {'GVA', 'INTERMEDIATE', 'CONSUMPTION'}
26800  of  57058  unique noun phrases:  {'ENTERPRISE', 'INTERNATIONAL'}
26900  of  57058  unique noun phrases:  {'STUDENT', 'INTERNATIONAL'}
27000  of  57058  unique noun phrases:  {'INTERVIEW', 'SURVEY'}
27100  of  57058  unique noun phrases:  {'INVESTMENT', 'GOOD'}
27200  of  57058  unique noun phrases:  {'CYPRUS', 'IRELAND'}
27300  of  57058  unique noun phrases:  {'ISLAND', 'GREECE'}
27400  of  57058  unique noun phrases:  {'ITALY', 'LATVIA'}
27500  of  57058  unique noun phrases:  {'Q', 'JOB'}
27600  of  57058  unique noun phrases:  {'K', 'DIMENSION'}
27700  of  57058  unique noun phrases:  {'KEY', 'TABLE'}
27800  of  57058  unique noun phrases:  {'HAMBURG', 'KLAIPEDA'}
27900  of  57058  unique noun phrases:  {'IMMIGRATION', 'LABOUR'}
28000  of  57058  unique noun phrases:  {'LACK', 'PERSONNEL'}
28100  of  57058  unique noun phrases:  {'SURVEY', 'OFFICE', 'LAND'}
28200  of  57058  unique noun phrases:  {'LARGE', 'BAKERY'}
28300  of  57058  unique noun phrases:  {'RETURN', 'LARGE', 'SOCIAL'}
28400  of  57058  unique noun phrases:  {'STAGE', 'LATER'}
28500  of  57058  unique noun phrases:  {'LEAD', 'BATTERY'}
28600  of  57058  unique noun phrases:  {'PROVISION', 'LEGAL'}
28700  of  57058  unique noun phrases:  {'LEVEL', 'ABSENCE'}
28800  of  57058  unique noun phrases:  {'DIFFERS', 'LEVEL', 'DETAIL'}
28900  of  57058  unique noun phrases:  {'LEVEL', 'INABILITY'}
29000  of  57058  unique noun phrases:  {'LEVEL', 'CONTROL', 'QUALITY'}
29100  of  57058  unique noun phrases:  {'CHANGE', 'LIABILITY'}
29200  of  57058  unique noun phrases:  {'LIFETIME', 'MEN'}
29300  of  57058  unique noun phrases:  {'GUIDELINE', 'ILO', 'LINE'}
29400  of  57058  unique noun phrases:  {'EU', 'MEMBER', 'LIST', 'STATE'}
29500  of  57058  unique noun phrases:  {'CHANGE', 'OVERALL', 'LITTLE'}
29600  of  57058  unique noun phrases:  {'REFERS', 'LOAN'}
29700  of  57058  unique noun phrases:  {'LONE', 'HOUSEHOLD', 'PENSIONER'}
29800  of  57058  unique noun phrases:  {'LOT', 'DIFFICULTY'}
29900  of  57058  unique noun phrases:  {'KEROSENE', 'LPG'}
30000  of  57058  unique noun phrases:  {'MACHINERY', 'MINING'}
30100  of  57058  unique noun phrases:  {'MAIN', 'COUNTRY'}
30200  of  57058  unique noun phrases:  {'MAIN', 'CONCEPT', 'METHODOLOGICAL'}
30300  of  57058  unique noun phrases:  {'WAY', 'MAIN'}
30400  of  57058  unique noun phrases:  {'MAJOR', 'PREREQUISITE'}
30500  of  57058  unique noun phrases:  {'LEVEL', 'MAJORITY', 'NUT'}
30600  of  57058  unique noun phrases:  {'LITHUANIA', 'MALTA'}
30700  of  57058  unique noun phrases:  {'FIELD', 'MANUAL'}
30800  of  57058  unique noun phrases:  {'MANAGEMENT', 'SYSTEM', 'MANURE'}
30900  of  57058  unique noun phrases:  {'REGION', 'MOUNTAINOUS', 'MANY'}
31000  of  57058  unique noun phrases:  {'MARGINAL', 'CHANGE'}
31100  of  57058  unique noun phrases:  {'ENTRY', 'MARKET'}
31200  of  57058  unique noun phrases:  {'MARSHALL', 'ISLAND'}
31300  of  57058  unique noun phrases:  {'MATH', 'RATE'}
31400  of  57058  unique noun phrases:  {'MEAN', 'INCREASE'}
31500  of  57058  unique noun phrases:  {'MEASUREMENT', 'DISABILITY'}
31600  of  57058  unique noun phrases:  {'MEDICAL', 'GOOD'}
31700  of  57058  unique noun phrases:  {'PARIS', 'MEETING'}
31800  of  57058  unique noun phrases:  {'SERVICE', 'MENTAL', 'HEALTHCARE'}
31900  of  57058  unique noun phrases:  {'SAMPLING', 'SOIL', 'METHOD'}
32000  of  57058  unique noun phrases:  {'METROPOLITAN', 'REGION'}
32100  of  57058  unique noun phrases:  {'MIGRATION', 'ORIGIN'}
32200  of  57058  unique noun phrases:  {'MINIMUM', 'POPULATION'}
32300  of  57058  unique noun phrases:  {'MISINTERPRETATION', 'DATA'}
32400  of  57058  unique noun phrases:  {'MOBILITY', 'LEARNER'}
32500  of  57058  unique noun phrases:  {'MODERN', 'SOCIETY'}
32600  of  57058  unique noun phrases:  {'MONETARY', 'UNION'}
32700  of  57058  unique noun phrases:  {'NIGHT', 'MONTH'}
32800  of  57058  unique noun phrases:  {'MOTOR', 'CYCLE'}
32900  of  57058  unique noun phrases:  {'MUCH', 'EFFORT'}
33000  of  57058  unique noun phrases:  {'MUNICIPALITY', 'MADRID'}
33100  of  57058  unique noun phrases:  {'ENTERPRISE', 'NAME'}
33200  of  57058  unique noun phrases:  {'NATIONAL', 'ELECTION'}
33300  of  57058  unique noun phrases:  {'NATIONAL', 'PORT'}
33400  of  57058  unique noun phrases:  {'DISASTER', 'NATURAL'}
33500  of  57058  unique noun phrases:  {'NEARER', 'EUR'}
33600  of  57058  unique noun phrases:  {'CHANGE', 'NEGATIVE', 'CUMULATIVE', 'NATURAL'}
33700  of  57058  unique noun phrases:  {'NET', 'CURRENT', 'DISTRIBUTION'}
33800  of  57058  unique noun phrases:  {'NETHERLANDS', 'ANTILLES'}
33900  of  57058  unique noun phrases:  {'BUILDING', 'NEW'}
34000  of  57058  unique noun phrases:  {'MAP', 'NEW'}
34100  of  57058  unique noun phrases:  {'YORK', 'PROTOCOL', 'NEW'}
34200  of  57058  unique noun phrases:  {'NITROUS', 'OXIDE'}
34300  of  57058  unique noun phrases:  {'NORTHERN', 'HEMISPHERE'}
34400  of  57058  unique noun phrases:  {'NOTE', 'VALUE'}
34500  of  57058  unique noun phrases:  {'BARRIER', 'NUMBER'}
34600  of  57058  unique noun phrases:  {'EU', 'MEMBER', 'NUMBER', 'STATE'}
34700  of  57058  unique noun phrases:  {'NUMBER', 'MOTORCYCLIST'}
34800  of  57058  unique noun phrases:  {'RISK', 'NUMBER'}
34900  of  57058  unique noun phrases:  {'NUMEROUS', 'ASPECT'}
35000  of  57058  unique noun phrases:  {'OBJECTIVE', 'LEVEL'}
35100  of  57058  unique noun phrases:  {'OCCUPATIONAL', 'GROUP'}
35200  of  57058  unique noun phrases:  {'ACT', 'STATISTIC', 'OFFICIAL'}
35300  of  57058  unique noun phrases:  {'PANDEMIC', 'ONGOING'}
35400  of  57058  unique noun phrases:  {'OPERATING', 'THEATRE'}

35500  of  57058  unique noun phrases:  {'PEACH', 'ORCHARD'}
35600  of  57058  unique noun phrases:  {'POLICY', 'ORIENTATION'}
35700  of  57058  unique noun phrases:  {'OUTPATIENT', 'CARE'}
35800  of  57058  unique noun phrases:  {'OUTWARD', 'FREIGHT'}
35900  of  57058  unique noun phrases:  {'OVERALL', 'PERFORMANCE'}
36000  of  57058  unique noun phrases:  {'OVERVIEW', 'ECOLOGICALLY'}
36100  of  57058  unique noun phrases:  {'STABILISING', 'PACE'}
36200  of  57058  unique noun phrases:  {'PARASITIC', 'DISEASE'}
36300  of  57058  unique noun phrases:  {'PART', 'IRELAND'}
36400  of  57058  unique noun phrases:  {'PARTICULAR', 'ASPECT'}
36500  of  57058  unique noun phrases:  {'PARTICULAR', 'USE'}
36600  of  57058  unique noun phrases:  {'PAST', 'BORROWING'}
36700  of  57058  unique noun phrases:  {'WORK', 'PAY'}
36800  of  57058  unique noun phrases:  {'BRIQUETTE', 'PEAT'}
36900  of  57058  unique noun phrases:  {'ITALY', 'PEOPLE'}
37000  of  57058  unique noun phrases:  {'COUNTRY', 'PERCENTAGE', 'GDP'}
37100  of  57058  unique noun phrases:  {'PERFORMANCE', 'STRUCTURE'}
37200  of  57058  unique noun phrases:  {'PERMANENT', 'WORKER'}
37300  of  57058  unique noun phrases:  {'RISK', 'PERSON'}
37400  of  57058  unique noun phrases:  {'DISEASE', 'PEST'}
37500  of  57058  unique noun phrases:  {'PHYSICAL', 'ACTIVITY'}
37600  of  57058  unique noun phrases:  {'RIGHT', 'PILLAR', 'SOCIAL'}
37700  of  57058  unique noun phrases:  {'ALGAE', 'PLANKTON'}
37800  of  57058  unique noun phrases:  {'CROATIA', 'POINT'}
37900  of  57058  unique noun phrases:  {'POLICY', 'ACTIVITY'}
38000  of  57058  unique noun phrases:  {'DOCUMENT', 'POLITICAL'}
38100  of  57058  unique noun phrases:  {'POPULARITY', 'CYCLING'}
38200  of  57058  unique noun phrases:  {'POPULATION', 'ELEMENT'}
38300  of  57058  unique noun phrases:  {'POPULATION', 'REGISTER'}
38400  of  57058  unique noun phrases:  {'PORTO', 'PORTUGAL'}
38500  of  57058  unique noun phrases:  {'POSITIVE', 'CONTRIBUTION'}
38600  of  57058  unique noun phrases:  {'POSSIBLE', 'SHORTCOMING'}
38700  of  57058  unique noun phrases:  {'POVERTY', 'ALLEVIATION'}
38800  of  57058  unique noun phrases:  {'PPI', 'ELECTRICITY'}
38900  of  57058  unique noun phrases:  {'PRECEDING', 'ESTIMATE'}
39000  of  57058  unique noun phrases:  {'PREPARE', 'STUDENT'}
39100  of  57058  unique noun phrases:  {'AGE', 'PREVALENCE'}
39200  of  57058  unique noun phrases:  {'PRICE', 'AGRICULTURE'}
39300  of  57058  unique noun phrases:  {'PRICE', 'PROPERTY'}
39400  of  57058  unique noun phrases:  {'DESTINATION', 'PRINCIPAL'}
39500  of  57058  unique noun phrases:  {'RATE', 'PRISONER'}
39600  of  57058  unique noun phrases:  {'PRIOR', 'PROBLEM'}
39700  of  57058  unique noun phrases:  {'STATISTIC', 'PRODCOM', 'CONSIST'}
39800  of  57058  unique noun phrases:  {'STATISTIC', 'PRODUCT', 'SWEDEN'}
39900  of  57058  unique noun phrases:  {'G', 'MEMBER', 'PRODUCTION'}
40000  of  57058  unique noun phrases:  {'PRODUCTION', 'TRADE'}
40100  of  57058  unique noun phrases:  {'TRAINING', 'PROFESSIONAL'}
40200  of  57058  unique noun phrases:  {'NATURE', 'PROGRESSIVE'}
40300  of  57058  unique noun phrases:  {'TENDS', 'PROPERTY'}
40400  of  57058  unique noun phrases:  {'PROPORTION', 'RENEWABLES'}
40500  of  57058  unique noun phrases:  {'REGARD', 'PROTECTION'}
40600  of  57058  unique noun phrases:  {'PROXIMITY', 'SUPPLIER'}
40700  of  57058  unique noun phrases:  {'PUBLIC', 'PROFILE'}
40800  of  57058  unique noun phrases:  {'PUPIL', 'STUDENT'}
40900  of  57058  unique noun phrases:  {'COMPILATION', 'QGDP'}
41000  of  57058  unique noun phrases:  {'GROUP', 'QUALITY', 'IMPROVEMENT'}
41100  of  57058  unique noun phrases:  {'EMISSION', 'GAS', 'GREENHOUSE', 'QUANTITY'}
41200  of  57058  unique noun phrases:  {'QUARTERLY', 'CONTINUOUS', 'SURVEY'}
41300  of  57058  unique noun phrases:  {'AREA', 'RAIL'}
41400  of  57058  unique noun phrases:  {'AREA', 'RANGE', 'EU', 'POLICY'}
41500  of  57058  unique noun phrases:  {'ACCELERATION', 'RAPID'}
41600  of  57058  unique noun phrases:  {'GERMANY', 'RATE'}
41700  of  57058  unique noun phrases:  {'AIR', 'RATIO', 'PASSENGER'}
41800  of  57058  unique noun phrases:  {'TAX', 'RATIO'}
41900  of  57058  unique noun phrases:  {'REASON', 'COMPARABILITY'}
42000  of  57058  unique noun phrases:  {'RECENT', 'PERIOD'}
42100  of  57058  unique noun phrases:  {'RECORD', 'HEIGHT'}
42200  of  57058  unique noun phrases:  {'AMOUNT', 'RECYCLED'}
42300  of  57058  unique noun phrases:  {'OVERTIME', 'REDUCTION'}
42400  of  57058  unique noun phrases:  {'REFINERY', 'GASOLINE', 'ETHANE', 'MOTOR', 'PETROLEUM', 'LIQUEFIED', 'GAS'}
42500  of  57058  unique noun phrases:  {'COMPANY', 'REGION'}
42600  of  57058  unique noun phrases:  {'REGION', 'REVEALS'}
42700  of  57058  unique noun phrases:  {'REGIONAL', 'POINT'}
42800  of  57058  unique noun phrases:  {'REGISTRATION', 'CODE'}
42900  of  57058  unique noun phrases:  {'ACT', 'RELATED'}
43000  of  57058  unique noun phrases:  {'RELATIVE', 'APPROACH'}
43100  of  57058  unique noun phrases:  {'INDEX', 'RELEVANT'}
43200  of  57058  unique noun phrases:  {'PERCENTAGE', 'REMITTANCE'}
43300  of  57058  unique noun phrases:  {'REPORT', 'ACTION', 'POINT'}
43400  of  57058  unique noun phrases:  {'SERVICE', 'TRANSPORTATION', 'FREIGHT', 'REPRESENT'}
43500  of  57058  unique noun phrases:  {'EXPERT', 'RESEARCHER'}
43600  of  57058  unique noun phrases:  {'SECTOR', 'RESIDENTIAL'}
43700  of  57058  unique noun phrases:  {'RESPECTIVE', 'XXX', 'DIMENSION'}
43800  of  57058  unique noun phrases:  {'MOBILITY', 'RESTRICTION'}
43900  of  57058  unique noun phrases:  {'INDIVIDUAL', 'RETIRED'}
44000  of  57058  unique noun phrases:  {'REVISION', 'JULY'}
44100  of  57058  unique noun phrases:  {'RISK', 'EXPOSURE'}
44200  of  57058  unique noun phrases:  {'TRANSPORT', 'ROAD', 'EU', 'FREIGHT'}
44300  of  57058  unique noun phrases:  {'ROLE', 'TRADE'}
44400  of  57058  unique noun phrases:  {'PRACTICE', 'ROUTINE'}
44500  of  57058  unique noun phrases:  {'SA', 'FILE', 'PROGRAM'}
44600  of  57058  unique noun phrases:  {'SALAR', 'SALMO'}
44700  of  57058  unique noun phrases:  {'SATISFACTION', 'RATE'}
44800  of  57058  unique noun phrases:  {'PLACE', 'SCHOOL'}
44900  of  57058  unique noun phrases:  {'INTERACTION', 'SDG'}
45000  of  57058  unique noun phrases:  {'SEASONALITY', 'TOURISM'}
45100  of  57058  unique noun phrases:  {'SECTOR', 'SECONDARY'}
45200  of  57058  unique noun phrases:  {'INDICATOR', 'SECTOR'}
45300  of  57058  unique noun phrases:  {'EMPLOYMENT', 'SECURITY'}
45400  of  57058  unique noun phrases:  {'SENIOR', 'TOURIST'}
45500  of  57058  unique noun phrases:  {'MOLDOVA', 'SERBIA'}
45600  of  57058  unique noun phrases:  {'EU', 'MEMBER', 'REVEALS', 'SERVICE', 'STATE'}
45700  of  57058  unique noun phrases:  {'SESECTION', 'DATA'}
45800  of  57058  unique noun phrases:  {'SET', 'RIGHT'}
45900  of  57058  unique noun phrases:  {'SEVERAL', 'FACTOR'}
46000  of  57058  unique noun phrases:  {'IMPACT', 'SEVERE'}
46100  of  57058  unique noun phrases:  {'SHARE', 'ACTIVITY'}
46200  of  57058  unique noun phrases:  {'MEN', 'CYPRIOT', 'SHARE'}
46300  of  57058  unique noun phrases:  {'SHARE', 'HAULIER'}
46400  of  57058  unique noun phrases:  {'NIGHT', 'SHARE'}
46500  of  57058  unique noun phrases:  {'SPAIN', 'SHARE'}
46600  of  57058  unique noun phrases:  {'PIG', 'SHEEP'}
46700  of  57058  unique noun phrases:  {'IMPORT', 'SHOW', 'PER', 'CAPUT'}
46800  of  57058  unique noun phrases:  {'SIGNIFICANT', 'FAVORABLE', 'SHIFT'}
46900  of  57058  unique noun phrases:  {'FASHION', 'SIMILAR'}
47000  of  57058  unique noun phrases:  {'APPROACH', 'SIMPLIFIED'}
47100  of  57058  unique noun phrases:  {'ISLAND', 'SINGLE'}
47200  of  57058  unique noun phrases:  {'SITUATION', 'RATE', 'INCIDENCE'}
47300  of  57058  unique noun phrases:  {'SKILL', 'INDIVIDUAL'}
47400  of  57058  unique noun phrases:  {'POLAND', 'SLOVAKIA'}
47500  of  57058  unique noun phrases:  {'SMALL', 'FLEET'}
47600  of  57058  unique noun phrases:  {'PRODUCT', 'TOBACCO', 'SMOKER'}
47700  of  57058  unique noun phrases:  {'GRADIENT', 'SOCIAL'}
47800  of  57058  unique noun phrases:  {'SOCIETY', 'TOURISM'}
47900  of  57058  unique noun phrases:  {'SOLAR', 'THERMAL'}

48000  of  57058  unique noun phrases:  {'SOURCE', 'FINANCE'}
48100  of  57058  unique noun phrases:  {'POLAND', 'SOUTHERN'}
48200  of  57058  unique noun phrases:  {'SPATIAL', 'DIVISION'}
48300  of  57058  unique noun phrases:  {'JOURNAL', 'SPECIALISED'}
48400  of  57058  unique noun phrases:  {'SPECIFIC', 'EVENT'}
48500  of  57058  unique noun phrases:  {'SPECIFIC', 'REQUEST'}
48600  of  57058  unique noun phrases:  {'SPENT', 'TOURISM'}
48700  of  57058  unique noun phrases:  {'STABLE', 'INTERFACE'}
48800  of  57058  unique noun phrases:  {'SET', 'DATA', 'MINIMUM', 'REQUIREMENT', 'STANDARD'}
48900  of  57058  unique noun phrases:  {'OBJECT', 'STATIONARY'}
49000  of  57058  unique noun phrases:  {'STATISTIC', 'NUT'}
49100  of  57058  unique noun phrases:  {'STATISTICAL', 'CHARACTERISTIC'}
49200  of  57058  unique noun phrases:  {'STATISTICAL', 'PROGRAM'}
49300  of  57058  unique noun phrases:  {'STAY', 'FIGURE'}
49400  of  57058  unique noun phrases:  {'STOCK', 'BED', 'HOSPITAL'}
49500  of  57058  unique noun phrases:  {'POVERTY', 'STRATEGY', 'REDUCTION'}
49600  of  57058  unique noun phrases:  {'PRESUMPTION', 'STRONG'}
49700  of  57058  unique noun phrases:  {'NACE', 'STRUCTURE'}
49800  of  57058  unique noun phrases:  {'STUDY', 'PRESENCE'}
49900  of  57058  unique noun phrases:  {'SUBSEQUENT', 'REDUCTION'}
50000  of  57058  unique noun phrases:  {'REVEALS', 'SUBURB'}
50100  of  57058  unique noun phrases:  {'SUM', 'INLAND', 'CONSUMPTION'}
50200  of  57058  unique noun phrases:  {'SUPPLIER', 'RUSSIA'}
50300  of  57058  unique noun phrases:  {'STATISTIC', 'SUPPORT'}
50400  of  57058  unique noun phrases:  {'FRAMEWORK', 'SURVEY'}
50500  of  57058  unique noun phrases:  {'SUSTAINABLE', 'STRATEGY', 'DEVELOPMENT'}
50600  of  57058  unique noun phrases:  {'SWITZERLAND', 'SWEDEN'}
50700  of  57058  unique noun phrases:  {'NATIONAL', 'SYSTEM'}
50800  of  57058  unique noun phrases:  {'TABULAR', 'FORMAT'}
50900  of  57058  unique noun phrases:  {'TAX', 'CATEGORY'}
51000  of  57058  unique noun phrases:  {'TAXATION', 'REFERS'}
51100  of  57058  unique noun phrases:  {'TECHNOLOGY', 'HUMAN', 'RESOURCE'}
51200  of  57058  unique noun phrases:  {'EMPLOYEE', 'TEN'}
51300  of  57058  unique noun phrases:  {'FRANCE', 'TERM'}
51400  of  57058  unique noun phrases:  {'UNEMPLOYMENT', 'TERM'}
51500  of  57058  unique noun phrases:  {'FIBRE', 'TEXTILE'}
51600  of  57058  unique noun phrases:  {'INTERNATIONAL', 'CONFERENCE', 'THIRD'}
51700  of  57058  unique noun phrases:  {'BUDGET', 'TIGHT'}
51800  of  57058  unique noun phrases:  {'PER', 'TIME', 'YEAR'}
51900  of  57058  unique noun phrases:  {'CONSUMPTION', 'TOBACCO'}
52000  of  57058  unique noun phrases:  {'SUGAR', 'TONNE', 'BEET'}
52100  of  57058  unique noun phrases:  {'TOTAL', 'ARABLE', 'LAND'}
52200  of  57058  unique noun phrases:  {'FRUIT', 'TOTAL', 'FRESH'}
52300  of  57058  unique noun phrases:  {'OUTLAY', 'TOTAL'}
52400  of  57058  unique noun phrases:  {'GENERATION', 'TOTALITY', 'ELECTRICITY'}
52500  of  57058  unique noun phrases:  {'VILLAGE', 'TOWN'}
52600  of  57058  unique noun phrases:  {'MEMBER', 'STATE', 'TRADE'}
52700  of  57058  unique noun phrases:  {'FRUIT', 'MEMBER', 'EXPORT', 'TRADER', 'STATE'}
52800  of  57058  unique noun phrases:  {'TRAINING', 'ISCED'}
52900  of  57058  unique noun phrases:  {'TRANSFER', 'SYSTEM'}
53000  of  57058  unique noun phrases:  {'TRANSMISSION', 'DATA'}
53100  of  57058  unique noun phrases:  {'TRANSPORT', 'PEOPLE'}
53200  of  57058  unique noun phrases:  {'CODE', 'TREATMENT'}
53300  of  57058  unique noun phrases:  {'TREND', 'MANUFACTURING'}
53400  of  57058  unique noun phrases:  {'MONTENEGRO', 'TURKEY'}
53500  of  57058  unique noun phrases:  {'PART', 'TYPE', 'BODY'}
53600  of  57058  unique noun phrases:  {'HOUSEHOLD', 'VAT', 'TYPE'}
53700  of  57058  unique noun phrases:  {'TYPE', 'ROAD'}
53800  of  57058  unique noun phrases:  {'UAA', 'THRESHOLD'}
53900  of  57058  unique noun phrases:  {'UNDEREMPLOYED', 'WOMAN'}
54000  of  57058  unique noun phrases:  {'UNEMPLOYMENT', 'RATE', 'DECREASE'}
54100  of  57058  unique noun phrases:  {'UNIQUE', 'ORDERING'}
54200  of  57058  unique noun phrases:  {'NATION', 'UNITED', 'LEVEL'}
54300  of  57058  unique noun phrases:  {'WAY', 'UNSUSTAINABLE'}
54400  of  57058  unique noun phrases:  {'AUDIT', 'STATISTIC', 'URBAN'}
54500  of  57058  unique noun phrases:  {'COFOG', 'USE'}
54600  of  57058  unique noun phrases:  {'HARMONISATION', 'OUTPUT', 'USE'}
54700  of  57058  unique noun phrases:  {'USEFUL', 'PROXY'}
54800  of  57058  unique noun phrases:  {'ESTIMATE', 'VALIDITY'}
54900  of  57058  unique noun phrases:  {'GOVERNMENT', 'OUTPUT', 'VALUE'}
55000  of  57058  unique noun phrases:  {'AGE', 'VARIABLE'}
55100  of  57058  unique noun phrases:  {'WORK', 'VARIED'}
55200  of  57058  unique noun phrases:  {'FORM', 'VARIOUS'}
55300  of  57058  unique noun phrases:  {'VAT', 'POLICY'}
55400  of  57058  unique noun phrases:  {'VESSEL', 'STATISTIC'}
55500  of  57058  unique noun phrases:  {'MIGRATION', 'STATISTIC', 'VITAL'}
55600  of  57058  unique noun phrases:  {'GLASS', 'VOLUME', 'WASTE'}
55700  of  57058  unique noun phrases:  {'AGRICULTURE', 'WASTE'}
55800  of  57058  unique noun phrases:  {'CATCHMENT', 'WATER'}
55900  of  57058  unique noun phrases:  {'WAY', 'ROMANIA'}
56000  of  57058  unique noun phrases:  {'WORK', 'WEEKEND'}
56100  of  57058  unique noun phrases:  {'WALE', 'WEST'}
56200  of  57058  unique noun phrases:  {'WHOLE', 'ENTERPRISE'}
56300  of  57058  unique noun phrases:  {'WOMAN', 'WILLINGNESS'}
56400  of  57058  unique noun phrases:  {'WOMAN'}
56500  of  57058  unique noun phrases:  {'WORK', 'OPERATION'}
56600  of  57058  unique noun phrases:  {'DAY', 'WORKING'}
56700  of  57058  unique noun phrases:  {'STANDARD', 'WORLD'}
56800  of  57058  unique noun phrases:  {'YEAR', 'COOPERATION'}
56900  of  57058  unique noun phrases:  {'READING', 'YEAR'}
57000  of  57058  unique noun phrases:  {'WOMAN', 'YOUNG'}

,level_0,index,normalized_noun_phrase,size,Common,len_intersect,len_union,Jaccard
0,0,0,A LEVEL,1,"[[220, ATTACHMENT LEVEL, {LEVEL}], [273, BASIC...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[2, 3, 3, 4, 2, 2, 4, 2, 2, 5, 2, 4, 3, 1, 1, ...","[0.5, 0.3333333333333333, 0.3333333333333333, ..."
1,1,1,A SINGLE PERSON,1,"[[13778, ACCIDENT PERSON CAUSED ROLLING STOCK ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[7, 7, 6, 4, 3, 4, 3, 5, 3, 3, 3, 3, 5, 5, 4, ...","[0.14285714285714285, 0.14285714285714285, 0.1..."
2,2,2,AASTERN EUROPEAN COUNTRY,1,"[[8557, BRIDGE COUNTRY, {COUNTRY}], [17029, CO...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[4, 7, 6, 4, 4, 10, 4, 4, 4, 4, 4, 5, 6, 4, 4,...","[0.25, 0.14285714285714285, 0.1666666666666666..."
3,3,3,ABBREVIATED NEET,1,[],[],[],[]
4,4,4,ABBREVIATION ESA,1,[],[],[],[]
...,...,...,...,...,...,...,...,...
57053,57053,57053,ZOOM BUTTON,1,[],[],[],[]
57054,57054,57054,Ã LAND,8,"[[43, ACQUISITION LE DISPOSAL LAND TANGIBLE AS...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[7, 3, 3, 3, 3, 5, 3, 7, 3, 5, 5, 4, 3, 3, 5, ...","[0.14285714285714285, 0.3333333333333333, 0.33..."
57055,57055,57055,Ã LAND ISLAND,1,"[[43, ACQUISITION LE DISPOSAL LAND TANGIBLE AS...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[8, 4, 4, 4, 4, 6, 4, 8, 4, 6, 6, 5, 4, 4, 6, ...","[0.125, 0.25, 0.25, 0.25, 0.25, 0.166666666666..."
57056,57056,57056,Ã RDAL,1,[],[],[],[]
57057,57057,57057,Î¼ J,1,[],[],[],[]

In [35]:
outfile = file_name('SE_Eurostat_Noun_Phrases','xlsx')
res.to_excel(outfile)