# Word vectors trained on SE articles, SE Glossary articles and OECD's Glossary. Application for the identification of Eurostat datasets

In [1]:
import gensim
import pandas as pd
import numpy as np

import re

import pyodbc

## The following processing of SE articles, SE Glossary articles and OECD's Glossary is for the first run only, to save the Word2Vec model. After this, it suffices to load the model



### Glossary articles  

* Definitions from dat_glossary.
* Titles from dat_link_info (with resource_information_id=1, i.e. Eurostat, see ESTAT.V1.mod_resource_information).
* Match above on id.

In [2]:
c = pyodbc.connect('DSN=Virtuoso All;DBA=ESTAT;UID=kimon;PWD=RkhvQYZ442e2JVXLHdtW')
cursor = c.cursor()

SQLCommand = """SELECT T1.id, T1.definition, T2.title 
                FROM ESTAT.V1.dat_glossary as T1 
                INNER JOIN ESTAT.V1.dat_link_info as T2  
                  ON T1.id=T2.id 
                WHERE T2.resource_information_id=1 """

GL_df = pd.read_sql(SQLCommand,c)
GL_df = GL_df[['id', 'title', 'definition']]

GL_df

,id,title,definition
0,1,Accident at work,An accident at work in the framework ...
1,5,Fatal accident at work,A fatal accident at work refers to an...
2,6,Non-fatal accident at work,A non-fatal accident at work is...
3,8,Aggregate demand,Aggregate demand is the total amount of ...
4,9,Goods and services account,The goods and services account shows ...
...,...,...,...
1309,2319,Actual individual consumption (AIC),"Actual individual consumption , abbrevia..."
1310,2321,Activity rate,Activity rate is the percentage of a...
1311,2322,Activation policies,The activation policies are policies ...
1312,2324,Active enterprises - FRIBS,"<Brief user-oriented definition, one or a fe..."
1313,10554,Glossary,The Glossary contains short definitions of all...

### Delete records with empty definitions and carry out data cleansing

In [3]:

GL_df = GL_df.dropna(axis=0,how='any')
print(GL_df.isnull().sum())
GL_df.reset_index(drop=True, inplace=True)

#import unicodedata as ud

def clean(x, quotes=True):
    if pd.isnull(x): return x  
    x = x.strip()
    
    ## make letter-question mark-letter -> letter-quote-space-letter !!! but NOT in the lists of URLs!!!
    if quotes:
        x = re.sub(r'([A-Za-z])\?([A-Za-z])','\\1\' \\2',x) 
    
    ## make letter-question mark-space lower case letter letter-quote-space letter
    x = re.sub(r'([A-Za-z])\? ([a-z])','\\1\' \\2',x) 

    ## delete ,000 commas in numbers    
    x = re.sub(r'\b(\d+),(\d+)\b','\\1\\2',x) ## CORRECTED
    
    ## delete  000 spaces in numbers
    x = re.sub(r'\b(\d+) (\d+)\b','\\1\\2',x) ## CORRECTED
    
    ## remove more than one spaces
    x = re.sub(r' +', ' ',x)
    
    ## remove start and end spaces
    x = re.sub(r'^ +| +$', '',x,flags=re.MULTILINE) 
    
    ## space-comma -> comma
    x = re.sub(r' \,',',',x)
    
    ## space-dot -> dot
    x = re.sub(r' \.','.',x)
    
    x = re.sub(r'Ã¢.{2}',"'",x) ### !!! NEW: single quotes are read as: Ã¢XX
    
    #x = x.encode('latin1').decode('utf-8') ## Ã¢\x80\x99
    #x = ud.normalize('NFKD',x).encode('ascii', 'ignore').decode()
    
    return x


GL_df['title'] = GL_df['title'].apply(clean)
GL_df['title'] = GL_df['title'].apply(lambda x: re.sub(r'\?','-',x)) ## also replace question marks by dashes
GL_df['definition'] = GL_df['definition'].apply(clean)

GL_df.head(5)

id            0
title         0
definition    0
dtype: int64

,id,title,definition
0,1,Accident at work,An accident at work in the framework of the ad...
1,5,Fatal accident at work,A fatal accident at work refers to an accident...
2,6,Non-fatal accident at work,A non-fatal accident at work is an accident wh...
3,8,Aggregate demand,Aggregate demand is the total amount of goods ...
4,9,Goods and services account,The goods and services account shows the balan...

### Delete "special" records

* i.e. redirections.

In [4]:
## Drop The records with definitions "The revision ..." and "Redirect to ..." 

idx = GL_df[GL_df['definition'].str.startswith('The revision #')].index
print(idx)
GL_df.drop(idx , inplace=True)
idx = GL_df[GL_df['definition'].str.startswith('Redirect to')].index
print(idx)
GL_df.drop(idx , inplace=True)
GL_df.reset_index(drop=True, inplace=True)
GL_df

Int64Index([ 230,  292,  384,  386,  433,  436,  438,  439,  504,  519,  530,
             557,  588,  729,  742,  775,  826,  889,  891,  912,  960,  961,
             969, 1003, 1007, 1133, 1144, 1182, 1231],
           dtype='int64')
Int64Index([], dtype='int64')

,id,title,definition
0,1,Accident at work,An accident at work in the framework of the ad...
1,5,Fatal accident at work,A fatal accident at work refers to an accident...
2,6,Non-fatal accident at work,A non-fatal accident at work is an accident wh...
3,8,Aggregate demand,Aggregate demand is the total amount of goods ...
4,9,Goods and services account,The goods and services account shows the balan...
...,...,...,...
1280,2319,Actual individual consumption (AIC),"Actual individual consumption, abbreviated as ..."
1281,2321,Activity rate,Activity rate is the percentage of active pers...
1282,2322,Activation policies,The activation policies are policies designed ...
1283,2324,Active enterprises - FRIBS,"<Brief user-oriented definition, one or a few ..."
1284,10554,Glossary,The Glossary contains short definitions of all...

### Create column "raw content" with the titles and the definitions

In [5]:
GL_df['raw content'] = GL_df['title'] +'. '+GL_df['definition']
GL_df

,id,title,definition,raw content
0,1,Accident at work,An accident at work in the framework of the ad...,Accident at work. An accident at work in the f...
1,5,Fatal accident at work,A fatal accident at work refers to an accident...,Fatal accident at work. A fatal accident at wo...
2,6,Non-fatal accident at work,A non-fatal accident at work is an accident wh...,Non-fatal accident at work. A non-fatal accide...
3,8,Aggregate demand,Aggregate demand is the total amount of goods ...,Aggregate demand. Aggregate demand is the tota...
4,9,Goods and services account,The goods and services account shows the balan...,Goods and services account. The goods and serv...
...,...,...,...,...
1280,2319,Actual individual consumption (AIC),"Actual individual consumption, abbreviated as ...",Actual individual consumption (AIC). Actual in...
1281,2321,Activity rate,Activity rate is the percentage of active pers...,Activity rate. Activity rate is the percentage...
1282,2322,Activation policies,The activation policies are policies designed ...,Activation policies. The activation policies a...
1283,2324,Active enterprises - FRIBS,"<Brief user-oriented definition, one or a few ...",Active enterprises - FRIBS. <Brief user-orient...
1284,10554,Glossary,The Glossary contains short definitions of all...,Glossary. The Glossary contains short definiti...

### Statistics Explained articles

* IDs, titles from dat_link_info, with resource_information_id=1, i.e. Eurostat (see ESTAT.V1.mod_resource_information) and matching IDs from dat_article.
* Carry out data cleansing on titles.

In [6]:
SQLCommand = """SELECT id, title 
                FROM ESTAT.V1.dat_link_info 
                WHERE resource_information_id=1 AND id IN (SELECT id FROM ESTAT.V1.dat_article) """

SE_df = pd.read_sql(SQLCommand,c)

SE_df['title'] = SE_df['title'].apply(clean)
SE_df.head(5)

   id                                              title
0   7                       Accidents at work statistics
1  13                          National accounts and GDP
2  16                Railway safety statistics in the EU
3  17               Railway freight transport statistics
4  18  Railway passenger transport statistics - quart...

### Add paragraphs titles and contents

* From dat_article_paragraph with abstract=0 (i.e. "no").
* Match article_id from dat_article_paragraph with id from dat_article.
* Carry out data cleansing on titles and paragraph contents.

In [7]:
SQLCommand = """SELECT article_id, title, content 
                FROM ESTAT.V1.dat_article_paragraph
                WHERE abstract=0 AND article_id IN (SELECT id FROM ESTAT.V1.dat_article) """

add_content = pd.read_sql(SQLCommand,c)
add_content['title'] = add_content['title'].apply(clean)
add_content['content'] = add_content['content'].apply(clean)
add_content

,article_id,title,content
0,2905,Absences from work sharply increase in first h...,Absences from work recorded unprecedented high...
1,2905,Absences: 9.5 % of employment in Q4 2019 and 1...,The article's next figure (Figure 4) compares ...
2,2905,Higher share of absences from work among women...,"Considering all four quarters of 2020, the sha..."
3,2905,Absences from work due to own illness or disab...,"From Q4 2019 to Q4 2020, the number of people ..."
4,2905,Absences from work due to holidays,"Expressed as a share of employed people, absen..."
...,...,...,...
3854,10539,General presentation and definition,Scope of asylum statistics and Dublin statisti...
3855,10539,Methodological aspects in asylum statistics,Annual aggregate of the number of asylum appli...
3856,10539,Methodological aspects in Dublin statistics,Asymmetries For most of the collected Dublin s...
3857,10539,What questions can or cannot be answered with ...,How many asylum seekers are entering EU Member...
3858,10539,Policy context,The collected asylum statistics and Dublin sta...

### Aggregate above paragraph titles and contents  from SE articles paragraphs by article id

* Create a column _raw content_ which gathers all paragraph titles and contents in one text per article.

In [8]:
add_content_grouped = add_content.groupby(['article_id'])[['title','content']].aggregate(lambda x: list(x))
add_content_grouped.reset_index(drop=False, inplace=True)
for i in range(len(add_content_grouped)):
    add_content_grouped.loc[i,'raw content'] = ''
    for (a,b) in zip(add_content_grouped.loc[i,'title'],add_content_grouped.loc[i,'content']):
        add_content_grouped.loc[i,'raw content'] += a + '. ' + b
add_content_grouped = add_content_grouped[['article_id','raw content']]    

add_content_grouped

     article_id                                        raw content
0             7  Number of accidents. In 2018, there were 3.1 m...
1            13  Developments for GDP in the EU-27: growth sinc...
2            16  Fall in the number of railway accidents. 9 % f...
3            17  Downturn for EU transport performance in 2019....
4            18  Rail passenger transport performance continued...
..          ...                                                ...
860       10456  Problem. After successfully identifying and jo...
861       10470  Problem. In France, there was significant room...
862       10506  General overview. Nine PEEIs concern short-ter...
863       10531  What are administrative sources?. The term 'ad...
864       10539  Main points. Asylum statistics and 'Dublin' st...

[865 rows x 2 columns]

### Merge raw content of SE articles with main file

* Add the title to column "raw content".

In [9]:
SE_df = pd.merge(SE_df,add_content_grouped,left_on='id',right_on='article_id',how='inner')
SE_df.drop(['article_id'],axis=1,inplace=True)

SE_df['raw content'] = SE_df['title'] +'. ' + SE_df['raw content']

SE_df.head(5)

,id,title,raw content
0,7,Accidents at work statistics,Accidents at work statistics. Number of accide...
1,13,National accounts and GDP,National accounts and GDP. Developments for GD...
2,16,Railway safety statistics in the EU,Railway safety statistics in the EU. Fall in t...
3,17,Railway freight transport statistics,Railway freight transport statistics. Downturn...
4,18,Railway passenger transport statistics - quart...,Railway passenger transport statistics - quart...

### Import OECD's Glossary

In [10]:
SQLCommand = """SELECT id, term,definition,context,theme 
                FROM ESTAT.V1.OECD_Glossary """

OECD_df = pd.read_sql(SQLCommand,c)
OECD_df['definition'] = OECD_df['definition'].apply(clean)
OECD_df['context'] = OECD_df['context'].apply(clean)
OECD_df['raw content'] = OECD_df['term'] + '. ' + OECD_df['theme'] + '. ' + OECD_df['definition'] + OECD_df['context']
OECD_df['raw content']=OECD_df['raw content'].apply(lambda x: re.sub(r'\. \. ','. ',x))
OECD_df.rename(columns={'term':'title'},inplace=True)
OECD_df = OECD_df[['id','title','raw content']]
OECD_df

,id,title,raw content
0,1,Abatement,Abatement. Environmental statistics. See Pollu...
1,2,Absence from work due to illness,Absence from work due to illness. Health stati...
2,3,Activity restriction - free expectancy,Activity restriction - free expectancy. Health...
3,4,Acute care,Acute care. Health statistics. Acute care is o...
4,5,Acute care beds,Acute care beds. Health statistics. Acute care...
...,...,...,...
6931,6932,European Agricultural Fund for Rural Developme...,European Agricultural Fund for Rural Developme...
6932,6933,Carbon market,Carbon market. A popular (but misleading) term...
6933,6934,Classification structure,Classification structure. Refers to how the ca...
6934,6935,United Nation Framework Convention on Climate ...,United Nation Framework Convention on Climate ...
6935,6936,Carbon Capture and Storage (CCS),Carbon Capture and Storage (CCS). Carbon Captu...

### Concatenate the three dataframes

In [11]:
all_df = pd.concat([GL_df[['id','title','raw content']],
                    SE_df[['id','title','raw content']],OECD_df[['id','title','raw content']]],ignore_index=True)
all_df

,id,title,raw content
0,1,Accident at work,Accident at work. An accident at work in the f...
1,5,Fatal accident at work,Fatal accident at work. A fatal accident at wo...
2,6,Non-fatal accident at work,Non-fatal accident at work. A non-fatal accide...
3,8,Aggregate demand,Aggregate demand. Aggregate demand is the tota...
4,9,Goods and services account,Goods and services account. The goods and serv...
...,...,...,...
9081,6932,European Agricultural Fund for Rural Developme...,European Agricultural Fund for Rural Developme...
9082,6933,Carbon market,Carbon market. A popular (but misleading) term...
9083,6934,Classification structure,Classification structure. Refers to how the ca...
9084,6935,United Nation Framework Convention on Climate ...,United Nation Framework Convention on Climate ...
9085,6936,Carbon Capture and Storage (CCS),Carbon Capture and Storage (CCS). Carbon Captu...

### Create 'sentences' list from the 'raw content' column after tokenization and lemmatization

* Keep terms with only alphanumeric characters and drop stop words.
* Drop numbers.
* Keep lemmas from original terms with at least 5 characters.

In [12]:
import nltk

from nltk.corpus import stopwords

w_tokenizer = nltk.tokenize.WordPunctTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

stop = stopwords.words('english')

def lemmatize_text(text): ## only alphanumeric characters and drop stop-words
    return [lemmatizer.lemmatize(w).lower() for w in w_tokenizer.tokenize(text) if w.isalnum() and not w.lower() in stop
           and not re.match(r'^[0-9]+$',w) and len(w) >=5]

all_df['raw content']=all_df['raw content'].apply(lambda x: lemmatize_text(x))
sentences = all_df['raw content'].to_list()

del SE_df, GL_df, OECD_df, all_df

## Train word vectors on the 'sentences' list and save the trained model in binary file SE_GL_OECD_wordvectors.bin

## Processing can then start from the loading of the saved model

### Save the model also in plain text format: 'SE_GL_OECD_wordvectors.txt'.
* This has the number of vectors and the dimensionality in the first row.
* Then, for each word in the model, the coordinates of the corresponding vector.

In [13]:
from gensim.models import Word2Vec
from gensim.models import KeyedVectors

from gensim.parsing.preprocessing import STOPWORDS
from gensim.parsing.porter import PorterStemmer

p = PorterStemmer()
all_stopwords_gensim = STOPWORDS

print('Type of corpus: ', type(sentences))
print('Length of corpus: ', len(sentences))

model = Word2Vec(sentences=sentences,vector_size=300,workers=4,epochs=10) # number of dimensions: 300, 4 threads,
## epochs = 2 x default

word_vectors = model.wv
word_vectors.save("SE_GL_OECD_wordvectors.bin") ## store only vectors - not going to update the model

## save also as plain text
word_vectors.save_word2vec_format('SE_GL_OECD_wordvectors.txt', binary=False)

del sentences

model = KeyedVectors.load("SE_GL_OECD_wordvectors.bin", mmap='r') 
print('Number of vectors: ',len(model))

## examples of use
for i in range(10):
    w = model.index_to_key[i]
    print(w,lemmatizer.lemmatize(w),p.stem(w),end='')
    if w in all_stopwords_gensim:
        print(' ***')
    else:
        print()
        similarities = model.most_similar(w,topn=10)
        for w2, score in similarities:
            print('    ',w2,score)

Type of corpus:  <class 'list'>
Length of corpus:  9086
Number of vectors:  7559
country country countri
     countries 0.41216039657592773
     greatly 0.38586366176605225
     states 0.37135347723960876
     nationality 0.3687225878238678
     partner 0.3617159426212311
     candidate 0.36105015873908997
     resident 0.3509550392627716
     interesting 0.3489122986793518
     residing 0.34608495235443115
     comparable 0.34455007314682007
member member member
     seven 0.4307418167591095
     varied 0.4048329293727875
     remaining 0.3999778628349304
     fourteen 0.38496941328048706
     whereas 0.38483354449272156
     exception 0.3758210837841034
     baltic 0.3746364414691925
     greatly 0.3726837933063507
     eight 0.37157902121543884
     members 0.3698229491710663
statistic statistic statist
     demography 0.4899275600910187
     acknowledged 0.43817684054374695
     statistics 0.4334854185581207
     serve 0.4294068217277527
     abbreviated 0.41981661319732666
     defines 0.4088667333126068
     peeis 0.3961259126663208
     soundness 0.387734055519104
     combine 0.38496777415275574
     comprehensive 0.38368353247642517
share share share
     proportion 0.7724546790122986
     accounted 0.5549268126487732
     contrast 0.5115147233009338
     respectively 0.5069115161895752
     percentage 0.5027225613594055
     fifth 0.4877755045890808
     majority 0.485139936208725
     tenth 0.48188304901123047
     among 0.4753987193107605
     represented 0.469938725233078
states state state
     state 0.6403067708015442
     kingdom 0.5065955519676208
     joined 0.39000430703163147
     ireland 0.3853123188018799
     luxembourg 0.3743358254432678
     malta 0.37336692214012146
     country 0.371353417634964
     majority 0.36800479888916016
     czechia 0.36517593264579773
     exception 0.36449041962623596
population population popul
     projected 0.49064964056015015
     subpopulation 0.47750356793403625
     median 0.4689420163631439
     elderly 0.45557916164398193
     born 0.447925865650177
     cohort 0.42678630352020264
     adult 0.4249446988105774
     demographic 0.4246712028980255
     people 0.4199126362800598
     native 0.41214433312416077
level level level
     attainment 0.510043740272522
     attained 0.5065780282020569
     dispersion 0.4459213614463806
     educated 0.41732609272003174
     consistently 0.4149221181869507
     satisfaction 0.41341426968574524
     score 0.4060916602611542
     observe 0.4057757258415222
     considerably 0.3776354193687439
     middle 0.37437212467193604
figure figure figur
     figures 0.7407500147819519
     table 0.7116974592208862
     evolution 0.56352698802948
     tables 0.5139480829238892
     analysis 0.46081361174583435
     comparing 0.4565240442752838
     darkest 0.45326802134513855
     graph 0.45300447940826416
     contrasting 0.45018497109413147
     illegally 0.44827911257743835
service service servic
     provider 0.5158421993255615
     services 0.499268501996994
     resale 0.47215837240219116
     retailing 0.4628256559371948
     courier 0.4582010805606842
     sporting 0.45797961950302124
     ancillary 0.440458744764328
     bought 0.42598775029182434
     postal 0.4195709824562073
     leasing 0.4139307737350464
people people peopl
     neets 0.6238574385643005
     adult 0.5972832441329956
     europeans 0.5864935517311096
     woman 0.5826135277748108
     person 0.5542789101600647
     women 0.5469191670417786
     parental 0.536073625087738
     approaching 0.5050544738769531
     subpopulation 0.5030747056007385
     workforce 0.4826276898384094

## Parse the database table of contents

*    Requires table_of_contents.xml in the same folder as the notebook.

In [14]:

import lxml
import lxml.etree
import lxml.html

MAX_DEPTH=20

## url = 'https://ec.europa.eu/eurostat/estat-navtree-portlet-prod/BulkDownloadListing?sort=1&file=table_of_contents.xml'

xml = lxml.etree.parse('table_of_contents.xml')
elements_codes = xml.xpath(r'//nt:code',namespaces={'nt': 'urn:eu.europa.ec.eurostat.navtree'}) 
elements_names = xml.xpath(r'//nt:title[@language="en"]',namespaces={'nt': 'urn:eu.europa.ec.eurostat.navtree'}) 
elements_downloads = xml.xpath(r'//nt:downloadLink[@format="tsv"]',namespaces={'nt': 'urn:eu.europa.ec.eurostat.navtree'}) 
elements_downloads=[el.text for el in elements_downloads]
elements_files = [re.sub(r'\.tsv\.gz','',el).split('/')[-1] for el in elements_downloads]

# counts the number of parents to the root element
def get_depth(element):
    depth = 0
    parent = element.getparent()
    while parent is not None:
        depth += 1
        parent = parent.getparent()
    return depth

# when a new element is entered, it replaces the value in the list
# at that level and drops all values to the right
def reduce_by_depth(elements_codes,elements_names):
    count = 0
    crumbs_codes, crumbs_names, numbers, numbered_crumbs = ([],[],[],[])
    crumbs_files = []
    depth = 0
    crumb_c, crumb_n  = (['']*MAX_DEPTH, ['']* MAX_DEPTH)
    numbering = ['']*MAX_DEPTH
    for i in range(len(elements_codes)):
        elem_code, elem_name  = (elements_codes[i], elements_names[i])
        depth = get_depth(elem_code)
        crumb_c[depth], crumb_n[depth] = (elem_code.text, elem_name.text)
        numbering[depth] = str(int(numbering[depth])+1) if numbering[depth] != '' else '1' 
        crumb_c[depth+1:], crumb_n[depth+1:] = (['']*(MAX_DEPTH-depth-1), ['']*(MAX_DEPTH-depth-1))
        numbering[depth+1:] = ['']*(MAX_DEPTH-depth-1)
        if elem_code.text in elements_files:
            count += 1
            #print('*** found: ',count,':',elem_code.text)
            crumbs_files.append(elem_code.text)
        else:
            crumbs_files.append('')
        crumbs_codes.append(';'.join([e for e in crumb_c if e]))
        crumbs_names.append(';'.join([e for e in crumb_n if e]))
        numbers.append('.'.join([e for e in numbering if e]))
        numbered_crumbs.append((numbers[-1],crumbs_codes[-1],crumbs_names[-1], crumbs_files[-1]))
        if numbered_crumbs[-1][3] != '' and not numbered_crumbs[-1][1].endswith(numbered_crumbs[-1][3]):
            print('*** Error!')
    return (crumbs_codes,crumbs_names,numbers,numbered_crumbs,crumbs_files)

* Keep only records - leaves, corresponding to datasets.
* Column 'Normalized file description': from column 'File description', keeping terms with only alphanumeric characters (but not numbers), dropping stop words, lemmatizing and keeping lemmas from original terms with at least 5 characters.
* Column 'Normalized full path': as above from column 'Names'.

In [15]:
crumbs_codes,crumb2,numbers,numbered_crumbs,crumbs_files = reduce_by_depth(elements_codes,elements_names)

import datetime
current_time = datetime.datetime.now() 
outfile = 'Crumbs_'+str(current_time.month)+ '_' + str(current_time.day) + '_' + str(current_time.hour)+ '_' + str(current_time.minute)  +'.xlsx'

def lemmatize_list(x):
    str = ' '.join(x)
    return ' '.join(lemmatize_text(str))

crumbs_df = pd.DataFrame(numbered_crumbs,columns=['Number','Codes','Names','File code'])
idx = crumbs_df[crumbs_df['File code']==''].index
crumbs_df.drop(index=idx, inplace=True) 
crumbs_df.reset_index(inplace=True)


crumbs_df['Level'] = crumbs_df['Number'].apply(lambda x: x.count('.'))
crumbs_df['Names']=crumbs_df['Names'].apply(lambda x: x.split(';'))
crumbs_df['File description']=crumbs_df['Names'].apply(lambda x: x[-1])
crumbs_df['Codes']=crumbs_df['Codes'].apply(lambda x: x.split(';'))
crumbs_df = crumbs_df[['Number','Codes','Names','File description','File code','Level']]

crumbs_df['Normalized file description'] = crumbs_df['File description'].apply(lambda x: x.lower())
crumbs_df['Normalized file description'] = crumbs_df['Normalized file description'].apply(lambda x: ' '.join(lemmatize_text(x)))

crumbs_df['Normalized full path'] = crumbs_df['Names'].apply(lambda x: [y.lower() for y in x[1:]]) ## exclude first part
crumbs_df['Normalized full path'] = crumbs_df['Normalized full path'].apply(lemmatize_list)


#crumbs_df.to_excel(outfile,index=False)
crumbs_df

,Number,Codes,Names,File description,File code,Level,Normalized file description,Normalized full path
0,1.1.1.1.1.1,"[data, general, euroind, ei_bcs, ei_bcs_cs, ei...","[Database by themes, General and regional stat...",Consumers - monthly data,ei_bsco_m,5,consumer monthly,general regional statistic european national i...
1,1.1.1.1.1.2,"[data, general, euroind, ei_bcs, ei_bcs_cs, ei...","[Database by themes, General and regional stat...",Consumers - quarterly data,ei_bsco_q,5,consumer quarterly,general regional statistic european national i...
2,1.1.1.1.2.1,"[data, general, euroind, ei_bcs, ei_bcs_bs, ei...","[Database by themes, General and regional stat...",Industry - monthly data,ei_bsin_m_r2,5,industry monthly,general regional statistic european national i...
3,1.1.1.1.2.2,"[data, general, euroind, ei_bcs, ei_bcs_bs, ei...","[Database by themes, General and regional stat...",Industry - quarterly data,ei_bsin_q_r2,5,industry quarterly,general regional statistic european national i...
4,1.1.1.1.2.3,"[data, general, euroind, ei_bcs, ei_bcs_bs, ei...","[Database by themes, General and regional stat...",Construction - monthly data,ei_bsbu_m_r2,5,construction monthly,general regional statistic european national i...
...,...,...,...,...,...,...,...,...
8686,4.8.6.3.3.8,"[cc, sks, sks_dev, sks_devuoe, educ_uoe_enrt, ...","[Cross cutting topics, Skills-related statisti...",Students in tertiary education - as % of 20-24...,educ_uoe_enrt08,5,student tertiary education year population,skill related statistic skill development part...
8687,4.8.6.4.1,"[cc, sks, sks_dev, sks_devict, isoc_ske_ittn2]","[Cross cutting topics, Skills-related statisti...",Enterprises that provided training to develop/...,isoc_ske_ittn2,4,enterprise provided training develop upgrade s...,skill related statistic skill development part...
8688,4.8.6.5.1,"[cc, sks, sks_dev, sks_devcvt, trng_cvt_01s]","[Cross cutting topics, Skills-related statisti...",Enterprises providing training by type of trai...,trng_cvt_01s,4,enterprise providing training training class e...,skill related statistic skill development part...
8689,4.8.6.5.2,"[cc, sks, sks_dev, sks_devcvt, trng_cvt_12s]","[Cross cutting topics, Skills-related statisti...",Participants in CVT courses by sex and size cl...,trng_cvt_12s,4,participant course class person employed enter...,skill related statistic skill development part...
8690,4.8.6.5.3,"[cc, sks, sks_dev, sks_devcvt, trng_cvt_29n2]","[Cross cutting topics, Skills-related statisti...",Main skills targeted by CVT courses by type of...,trng_cvt_29n2,4,skill targeted course skill activity enterpris...,skill related statistic skill development part...

### The function scanning the datasets

* Create a 0-vector 'scores' of dimension # datasets
* Function scan_datasets():
    *    Average the vectors of words found in the input sentence using function 'avg_feature_vector()'.
    *    For each entry in the datasets column 'Normalized file description' (option=1) or in the datasets column 'Normalized full path' (option=2), similarly average the vectors of words found.
    *    Calculate the similarity of the input sentence with each dataset description, by calculating the cosine similarity of the two averaged vectors (function sent_similarity()).  
    *    Assign the similarities as scores in vector 'scores'.

In [16]:
index2_to_key_set = set(model.index_to_key)
num_features=300

from scipy import spatial

#import warnings
#warnings.filterwarnings("error")

def avg_feature_vector(sentence, model, num_features, index2_to_key_set):
    words = sentence.split()
    feature_vec = np.zeros((num_features, ), dtype='float32')
    n_words = 0
    for word in words:
        if word in index2_to_key_set:
            n_words += 1
            feature_vec = np.add(feature_vec, model[word])
    if (n_words > 0):
        feature_vec = np.divide(feature_vec, n_words)
    return feature_vec

def sent_similarity(sent1,sent2):

    s1_afv = avg_feature_vector(sent1, model=model, num_features=num_features, index2_to_key_set=index2_to_key_set)
    s2_afv = avg_feature_vector(sent2, model=model, num_features=num_features, index2_to_key_set=index2_to_key_set)
    if all(s1_afv==0.) or all(s2_afv==0.):
        sim=0.
    else:
 #       try:
        sim = 1 - spatial.distance.cosine(s1_afv, s2_afv)
#       except RuntimeWarning:
#            print(s1_afv)
#            print(s2_afv)
    return sim

def scan_datasets(lemmas, option):
    scores = np.zeros(len(crumbs_df))
    sentence = ' '.join(lemmas)
    if option==1:
        col = 'Normalized file description'
    else:
        col = 'Normalized full path'    
    for j in range(len(crumbs_df)):
        file_desc= crumbs_df.loc[j,col]
        scores[j] = sent_similarity(sentence,file_desc)
    return(scores)

In [17]:
import ipywidgets as widgets
from ipywidgets import Layout
layout = widgets.Layout(width='600px', height='60px')

In [18]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [19]:
from IPython.display import HTML, display,clear_output

### The function producing the HTML output to display
*    Sentences contains the text entered in the Textarea widget.
*    option = 1 to use the simple descriptions of the datasets or 2 for the full paths.
*    howmany: display this much number of datasets
*    show_meta: True to display metadata for a selected dataset
*    show_meta_ind: zero-based index in the results for the display of metadata

In [20]:
import eurostat
#import qgrid

codes = {'hazard': 16, 'time': 1169, 'nace_r1': 888, 'geo': 4017, 
    'age691': None, 'rbd': 412, 'time1': None, 'nace_r2': 1298, 
    'worktime': 31, 'metroreg': 422, 'geo91': None, 'injury': 50, 'physact': 22, 'ceparema': 37, 
    'modinj': 11, 'train': 12, 'wrkenv': 15, 'frequenc': 61, 'tra_cov': 32, 'stk_flow': 190, 'par_mar': 302, 
    'currency': 193, 'cities': 13507, 'indic_env': 81, 'emp_cont': 17, 'loadstat': 3, 'size_emp': 31, 'airp_pr': 25160, 
    'unit': 668, 'nst07': 104, 'wat_proc': 56, 'comspec': 3, 'sex': 7, 'time91': None, 'age': 651, 
    'workproc': 9, 'age91': None, 'citizen': 4017, 'port_iww': 1032, 'source': 14, 'c_cabot': 4017, 
    'wrkstat': 5, 'c_birth': 4017, 'rep_airp': 1116, 'deviatn': 11, 'matagent': 23, 'diagnose': 28, 
    'rep_mar': 1842, 'partner': 4017, 'c_regis': 4017, 'geo1': None, 'seabasin': 12}
        

def relevant_datasets(Sentences,option,howmany,show_meta,show_meta_ind):
    all_lemmas = lemmatize_text(Sentences)

    h  = '<h3>Scanning for lemmas:</h3>'
    h += '  '.join('[' + lemma + ']' for lemma in all_lemmas)+'<br/>'  
    
    h += '<h3>Datasets descriptions in descending order of score - top '+str(howmany)+':</h3>'
    display(HTML(h))
    
    scores=scan_datasets(all_lemmas,option) 
    idx = np.argsort(scores)[::-1][:howmany] ## indices of top 'howmany' scores
    res2 = crumbs_df.loc[crumbs_df.index[idx],['File description','File code']] ## corresponding records from crumbs_df
    res2['Score'] = scores[idx]
    res2=res2[['Score','File description','File code']]
    res2.reset_index(inplace=True)
    res2.rename(columns={'index':'Dataset id'},inplace=True)

    for i in range(len(res2)):
        url='https://ec.europa.eu/eurostat/estat-navtree-portlet-prod/BulkDownloadListing?sort=1&file=data%2F'+res2.loc[i,'File code']+'.tsv.gz'
        res2.loc[i,'Link'] = url
        
    display(HTML(res2.to_html()))
    
    if show_meta:

        dst = pd.read_csv(res2.loc[show_meta_ind,'Link'],sep='\t',low_memory=False)
        dcode=res2.loc[show_meta_ind,'File code']
        dms = eurostat.get_sdmx_dims(dcode)
        h1 = '<h3>'+str(show_meta_ind)+': File code: '+dcode+'</h3>'
        h1 += '<h3>'+res2.loc[show_meta_ind,'File description']+'</h3>'
        h1 += '<h3>Dimensions:</h3>'
        h1 += '  '.join('[' + x + ']' for x in dms)
        #display(HTML(h1))

        h2=''
        dims=dst.columns[0].split(',')
        dims = dims[:-1]+dims[-1].split('\\')
        #print(dims)
        
        tmp=dst.iloc[:,0].str.split(',',expand=True)
        #print(tmp.head())
        #print('columns:',len(tmp.columns),': ',tmp.columns)
        for j in range(len(dims)-2): ## first the dimensions separated by comma
            if dims[j] not in codes.keys() or codes[dims[j]] != None:
                h2+='<h4>'+dims[j]+':</h4>'
                arr = pd.unique(tmp.iloc[:,j])
                for i in range(len(arr)):
                    h2+= '[ '+arr[i]+': '+eurostat.get_dic(dims[j])[arr[i]] +' ]'
        #j=len(dims)-2 ## omit last dimension which is usually time
        #if codes[dims[j]] is not None:    
        #    h2+='<h4>'+dims[j]+':</h4>'
        #    arr = pd.unique(tmp.iloc[:,j])
        #    for i in range(len(arr)):
        #        h2+= '[ '+arr[i]+': '+eurostat.get_dic(dims[j])[arr[i]] +' ]'
                
                #h2+= '</h4>'
        display(HTML(h1))
        display(HTML(h2))            
        display(HTML(dst.head().to_html()))

## Run once the chunk below then just change inputs

In [21]:
def relevant_datasets_to_text(): 
    
    first_text = 'In 2021 unemployment among young people in Greece increased. This was the result of recession over the last 10 years.'  
    style = {'description_width': 'initial'}
    
    textW = widgets.Textarea(
        value=first_text, 
        placeholder='Type something',
        description='',
        disabled=False,
        layout=Layout(width='90%', height='100px')
    )

    button = widgets.Button(description="Search")

    option = widgets.RadioButtons(
    options=['Simple description of datasets', 'Full-path description of datasets'],
    value='Full-path description of datasets', 
    layout={'width': 'max-content'}, 
    disabled=False
    )
    
    howmany = widgets.IntSlider(
        description='Display:',
        #tooltip='maximum:',
        value=20,
        min=1, 
        max = 30,
        style=style )
    howmany.style.handle_color = 'lightblue'
    
    show_more = widgets.Checkbox(
        value=True,
        description='Show metadata for row:',
        disabled=False,
        indent=True
     )
    
    select_ind = widgets.BoundedIntText(
        value=0,
        min=0,
        max=howmany.value-1,
        step=1,
        description='Row:',
        disabled=False,
        style={'description_width': 'initial'},
        layout = widgets.Layout(width='100px')
    )

    

    ui1=widgets.HBox([textW])
    ui2=widgets.HBox([option,button,howmany])
    ui3=widgets.HBox([show_more,select_ind])
    ui4=widgets.VBox([ui1,ui2,ui3])
    display(ui4, layout=Layout(align_items='center'))

    def on_button_clicked(b):
        clear_output()
        display(ui4, layout=Layout(align_items='center'))
        if option.value == 'Simple description of datasets':
            opt_val = 1
        else:
            opt_val = 2
        relevant_datasets(textW.value,option=opt_val,howmany=howmany.value,show_meta=show_more.value,show_meta_ind=select_ind.value)
       
    button.on_click(on_button_clicked)
    
    
relevant_datasets_to_text()

VBox(children=(HBox(children=(Textarea(value='In 2021 unemployment among young people in Greece increased. Thiâ€¦